figure {
    float:left;
    background: #611414;
    margin: 0 0.75em 0.75em 0;
   	text-decoration: none;
    border-radius: 4px;
}

figure.fig_right {
    float:right;
    margin: 0 0 0.75em 0.75em;
}

.gallery_article figure {
    float: left;
    max-width: 23%;
}

.research_article figure {
    width: auto;
    min-width: 200px;
}