@import "mixins.less";
@import "variables.less";

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;


}
.cb {
  display: inline-block;
  overflow: hidden;
  width: 75%;
  height: 95%;
  margin: 1% 12.5% 1%;
  padding: 2em;

  background-color: rgba(43, 58, 140, 0.88);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);

  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
}
figure img {
  width: 50%;
  float: left;
  padding-right: 10px;;
}

p {
  margin: 0;
  padding: 0 0 1em 0;
  text-align: justify;
}

#hide {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: red;
  padding-top: 20px;
  padding-left: 10px;
}
