html, body {
    height: 100%;
}

body {
    padding: 0;
}

nav {
    position: fixed;
    text-align: right;
    padding: 110px 0;
    width: 260px;
    height: 100%;
    background: @base url(assets/nav-bg.png) repeat-y;
}

header {
    position: fixed;
    height: 105px;
    width: 100%;
    padding: 0 50px 0;
    margin-left: 260px;
    z-index: 1;
    background: @base2 url(assets/header-bg.png) no-repeat left bottom;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 260px;
    color: @base2;
}

footer .addthis_toolbox {
    float: right;
    width: 173px;
    padding-right: 35px;
}

footer > p {
    float: right;
    padding-right: 35px;
}

#main {
    float: left;
    position: relative;
    padding: 115px 50px 0;
    margin-left: 260px;
    max-width: 960px;
}

#respmenu {
    display: inline;
}

figure {
    box-shadow: 1px 2px 3px @complement2;
}

figure img.worldmap {
    height: 256px;
    max-width: 518px;
}

.gallery_article div {
    top: -100px;
    position: relative;
}

.gallery_article figure {
    width: auto;
}

.research_article {
    min-height: 250px;
}

.search_article ul {
    padding-left: 1em;
}

nav ul {
    margin-top: 0;
    list-style-type: none;
}

nav ul.menu li ul.acitem li {
    height: 28px;
}

nav ul.menu li ul.acitem li a {
    height: 24px;
    line-height: 18px;
    font-size: 82%;
}

nav ul.menu li ul.acitem li a:hover,
nav li.expand ul.acitem li.active a:link,
nav li.expand ul.acitem li.active a:visited {
    background: url(assets/nav-sub-selected.png) no-repeat center right;
}

nav ul.menu li ul.acitem li.inside a:hover,
nav li a:hover,
nav li.active a:link,
nav li.active a:visited,
nav li.selected a:link,
nav li.selected a:visited,
nav li.inside a:hover {
    background: url(assets/nav-selected.png) no-repeat center right;
}

nav li a:link,
nav li a:visited {
    color: @base2;
    font-size: 128.6%;
    text-decoration: none;
    padding: 8px 30px;
    display: block;
    min-height: 31px;
}