figure.portrait {
    width: 33%;
}

figure.landscape {
    width: 50%;
}

.gallery_article figure {
    float: left;
    max-width: 23%;
}

.research_article figure {
    min-width: 200px;
    width: auto;
    margin: 0 1em 1em 0;
}

.research_article form {
    max-width: 750px;
    float: right;
}

.research_article input[type="text"] {
    width: 140px;
    margin-right: 20px;
    float: none;
}

.research_article input[type="submit"] {
    width: 75px;
    float: none;
}

.research_article label {
    margin-right: 5px;
    width: auto;
    float: none;
}

.research_article label.align {
    width: 85px;
    display: inline-block;
}

.research_article select {
    width: auto;
    margin-left: 0;
    margin-right: 20px;
    height: 29px;
    vertical-align: top;
    float: none;
}

.search_article input[type="submit"] {
    width: 80px;
}