@btn-size-sm: 1.5rem;
@btn-size-m: 2.5rem;

.btn {
    background: none;
    border: @border-thickness solid;
    .colorVar(border-color, --primaryColor, @primaryColor);
    border-radius: @border-radius-lg;
    color: @primaryTextColor;
    cursor: pointer;
    display: block;
    font-family: @font-main, arial;
    font-size: @font-size-m;
    font-weight: @font-weight-bold;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    .transform(all);

    &--m {
        min-height: @btn-size-m;
        min-width: @btn-size-m;
    }

    &--animated {

        &::after {
            content: '';
            position: absolute;
            z-index: @z-index-neg;
            .transform(all);
            width: 0;
            height: 100%;
            top: 50%;
            left: 50%;
            .colorVar(background-color, --primaryColor, @primaryColor);
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover {
            .colorVar(color, --secondaryTextColor, @secondaryTextColor);

            &::after {
                width: 90%;
                opacity: 1;
            }
        }
    }

    .header & {
        .colorVar(background-color, --accentColor, @accentColor);
        .colorVar(color, --primaryColor, @primaryColor);
        height: @btn-size-m;
        width: @btn-size-m;
        padding: 0;
        z-index: @z-index-5;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .colorVar(border-color, --lightPrimaryColor, @lightPrimaryColor);

            > svg {
                .colorVar(stroke, --lightPrimaryColor, @lightPrimaryColor);
            }
        }

        > svg {
            .colorVar(stroke, --primaryColor, @primaryColor);
        }
    }
}
