@btn-size-sm: 1.5rem;
@btn-size-m: 2.5rem;

.btn {
    border: @border-thickness solid;
    .colorVar(border-color, --primaryColor, @primaryColor);
    border-radius: @border-radius-lg;
    cursor: pointer;
    display: block;
    font-family: @font-main, arial;
    font-size: @font-size-m;
    font-weight: @font-weight-bold;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    .transform(all);

    &:hover {

        &::after {
            width: 90%;
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        z-index: @z-index-neg;
        .transform(all);
        width: 0;
        height: 100%;
        top: 50%;
        left: 50%;
        .colorVar(background-color, --primaryColor, @primaryColor);
        transform: translateX(-50%) translateY(-50%);
    }

    &--m {
        min-height: @btn-size-m;
        min-width: @btn-size-m;
    }

    &--hamburger {
        padding: 0;

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            .colorVar(background-color, --primaryColor, @primaryColor);
        }
    }

    .header & {
        .colorVar(background-color, --accentColor, @accentColor);
        .colorVar(color, --primaryColor, @primaryColor);
        height: @btn-size-m;
        width: @btn-size-m;
        padding: 0;
        z-index: @z-index-5;

        &:hover {
            .colorVar(color, --accentColor, @accentColor);

            > svg {
                .colorVar(stroke, --accentColor, @accentColor);
            }
        }

        > svg {
            .colorVar(stroke, --primaryColor, @primaryColor);
        }
    }

    .content & {
        background: none;
        color: @primaryTextColor;

        &:hover {
            .colorVar(color, --secondaryTextColor, @secondaryTextColor);
        }
    }
}
