// lesshint spaceAroundComma: false

@colorWhite:            #FCFCFC;
@colorDark:             #030303;

@primaryColor:          #335577;
@accentColor:           spin(@primaryColor,     180); //TODO calculate as in js code

@backgroundColor:       @colorWhite;
@primaryTextColor:      @colorDark;
@secondaryTextColor:    #ffffff - @primaryTextColor;

@lightAccentColor:      lighten(@accentColor,   15%);
@darkAccentColor:       darken(@accentColor,    15%);
@lightPrimaryColor:     lighten(@primaryColor,  15%);
@darkPrimaryColor:      darken(@primaryColor,   15%);

@color-transparent:     rgba(0, 0, 0, 0.125);

:root {
    --primaryColor:         @primaryColor;
    --primaryTextColor:     @primaryTextColor;
    --secondaryTextColor:   @secondaryTextColor;
    --accentColor:          @accentColor;
    --lightAccentColor:     @lightAccentColor;
    --darkAccentColor:      @darkAccentColor;
    --lightPrimaryColor:    @lightPrimaryColor;
    --darkPrimaryColor:     @darkPrimaryColor;
}
