// lesshint spaceAroundComma: false

@colorWhite:                #fcfcfc;
@colorDark:                 #030303;

@primaryColor:              #dcf092;
@accentColor:               #92f0b9;
@secondaryAccentColor:      #de92f0;

@backgroundColor:           @colorWhite;
@primaryTextColor:          @colorDark;
@secondaryTextColor:        @colorWhite - @primaryTextColor;

@lightPrimaryColor:         lighten(@primaryColor,  10%);
@darkPrimaryColor:          darken(@primaryColor,   20%);

@color-transparent:         rgba(255, 255, 255, 0.125);
@color-transparentDark:     rgba(0, 0, 0, 0.775);
@color-transparentWhite:    rgba(255, 255, 255, 0.775);
