@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

@font-weight-normal:    400;
@font-weight-bold:      800;

@font-header:    'Lora';
@font-main:      'Raleway';

@base-font-size:    calc(0.2em + 1vw);
@base-line-height:  calc(0.5em + 1vw);

@font-size-small:   0.75rem;
@font-size-large:   1.25rem;
