:root {
    --figure-angle-seed: 0deg;
    box-sizing: border-box;
    height: 100%;

    &:focus {
        outline: 0;
    }
}

::selection {
    .colorVar(color, --bgColor, @bgColor);
    .colorVar(background-color, --primaryTextColor, @primaryTextColor);
    text-shadow: none;
}

body {
    .colorVar(color, --primaryTextColor, @primaryTextColor);
    .colorVar(background-color, --bgColor, @bgColor);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: @font-main, arial;
    font-size: @base-font-size;
    font-weight: @font-weight-normal;
    line-height: @base-line-height;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -ms-touch-action: auto;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

article {
    .clearfix();
    margin: 1rem auto 0;
    padding: 0 1rem 1rem;

    @media @desktop {
        max-width: 960px;
    }
}

section {
    .clearfix();
    margin-bottom: 2rem;

    h2 {
        border-bottom: 2px solid;
        .colorVar(border-color, --primaryTextColor, @primaryTextColor);
        padding: 0 1rem 0.25rem;
        text-align: center;
        word-break: break-word;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: @font-header, serif;
    font-weight: @font-weight-normal;
    margin: 0 0 0.5em 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-style: italic;
}

p {
    hyphens: auto;
    margin: 0 0 0.6em 0;

    + p {
        text-indent: 1rem;
    }
}

img,
picture {
    max-width: 100vw;
    max-height: 100vh;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

a,
a:visited {
    .colorVar(color, --accentColor, @accentColor);
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus {
    color: @lightPrimaryColor;
}

time {
    font-family: monospace;
}

input {
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: @figure-radius;
    .colorVar(border-color, --accentColor, @accentColor);
    height: 1.75rem;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: @figure-radius;
    .colorVar(border-color, --accentColor, @accentColor);
    min-height: 1.75rem;
    resize: vertical;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: @figure-radius;
    .colorVar(border-color, --accentColor, @accentColor);
    height: 1.75rem;
}

.hidden-lg {

    @media @desktop {
        display: none;
    }
}
