:root {
    --figure-angle-seed: 0deg;

    height: 100%;

    &:focus {
        outline: 0;
    }
}

::selection {
    background-color: var(--primaryTextColor);
    color: var(--primaryColor);
    text-shadow: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.body {
    background-color: var(--backgroundColor);
    box-sizing: border-box;
    color: var(--primaryTextColor);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-main, sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -ms-touch-action: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

    &__background {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;

        .object-fit-img {
            filter: url(#duotone_bluetan);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

a,
a.cc-link {
    color: var(--primaryTextColor);
    border-bottom: $border-thickness solid;
    border-bottom-color: var(--primaryColor);
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        text-decoration: none;
    }
}

img,
picture {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100vw;
    max-height: 100vh;
    vertical-align: middle;
}

p {
    hyphens: auto;
}

pre {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--accentColor);
    color: var(--secondaryTextColor);
    border: $border-thickness solid $color-transparent;
    border-radius: $border-radius-md;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
}

section {
    @include clearfix();

    margin-bottom: 2rem;
}

strong {
    font-weight: $font-weight-bold;
}

time {
    font-family: monospace;
}

ul {
    list-style-position: inside;
    -webkit-padding-start: 0;
}

.adframe {
    text-align: center;
}
