:root {
    --figure-angle-seed: 0deg;
    height: 100%;

    &:focus {
        outline: 0;
    }
}

::selection {
    .colorVar(background-color, --primaryTextColor, @primaryTextColor);
    .colorVar(color, --primaryColor, @primaryColor);
    text-shadow: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: @font-main, arial;
    font-size: @base-font-size;
    line-height: @base-line-height;
}

body {
    background-color: @backgroundColor;
    color: @primaryTextColor;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: @base-font-size;
    line-height: @base-line-height;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -ms-touch-action: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

section {
    .clearfix();
    margin-bottom: 2rem;
}

p {
    hyphens: auto;
    margin: 0 0 0.5rem 0;

    + p {
        text-indent: 1rem;
    }
}

img,
picture {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100vw;
    max-height: 100vh;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

a {
    color: @primaryTextColor;
    border-bottom: @border-thickness solid;
    .colorVar(border-bottom-color, --primaryColor, @primaryColor);
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

pre {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
    border: @border-thickness solid @color-transparent;
    border-radius: @border-radius-md;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
}

strong {
    font-weight: @font-weight-bold;
}

time {
    font-family: monospace;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}
