.grid {
    display: grid;
    grid-gap: $margin-md;
    grid-template-columns: repeat(12, 1fr);

    .grid__section--12x1 {
        grid-column: span 12;
    }

    .grid__section--6x1 {
        grid-column: span 6;

        @include belowBreakpoint(sm) {
            grid-column: span 12;
        }
    }
}
