.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);

    .grid__section--1x1 {
        grid-column: span 4;
    }

    .grid__section--2x1 {
        grid-column: span 8;
    }

    .grid__section--1x2 {
        grid-column: span 4;
        grid-row: span 2;
    }
}
