.no-cssgrid {

    .article {
        .clearfix();
        display: block;
        margin: 0 auto 0;
        padding: 0 1rem 1rem;
        max-width: @lg;
    }

    .galleryBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            margin-bottom: 0.5rem;

            @media @desktop {
                // Would love to use calculated values like this:
                // flex: 0 0 calc(1 / 3 * 100% - (1 - 1 / 3) * 0.5rem);
                // but according to caniuse:
                // IE & Edge are reported to not support calc inside a 'flex'. (Not tested on older versions)
                flex: 0 0 33%;
            }

            @media @tablet, @phone {
                flex: 0 0 50%;
            }
        }
    }
}
