/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@canoo-name: canoo;
@canoo-x: 400px;
@canoo-y: 305px;
@canoo-offset-x: -400px;
@canoo-offset-y: -305px;
@canoo-width: 130px;
@canoo-height: 21px;
@canoo-total-width: 600px;
@canoo-total-height: 421px;
@canoo-image: 'assets/sprite.png';
@canoo: 400px 305px -400px -305px 130px 21px 600px 421px 'assets/sprite.png' canoo;
@chefkoch-name: chefkoch;
@chefkoch-x: 400px;
@chefkoch-y: 242px;
@chefkoch-offset-x: -400px;
@chefkoch-offset-y: -242px;
@chefkoch-width: 130px;
@chefkoch-height: 21px;
@chefkoch-total-width: 600px;
@chefkoch-total-height: 421px;
@chefkoch-image: 'assets/sprite.png';
@chefkoch: 400px 242px -400px -242px 130px 21px 600px 421px 'assets/sprite.png' chefkoch;
@duckduckgo-name: duckduckgo;
@duckduckgo-x: 400px;
@duckduckgo-y: 326px;
@duckduckgo-offset-x: -400px;
@duckduckgo-offset-y: -326px;
@duckduckgo-width: 130px;
@duckduckgo-height: 21px;
@duckduckgo-total-width: 600px;
@duckduckgo-total-height: 421px;
@duckduckgo-image: 'assets/sprite.png';
@duckduckgo: 400px 326px -400px -326px 130px 21px 600px 421px 'assets/sprite.png' duckduckgo;
@google-name: google;
@google-x: 400px;
@google-y: 347px;
@google-offset-x: -400px;
@google-offset-y: -347px;
@google-width: 130px;
@google-height: 21px;
@google-total-width: 600px;
@google-total-height: 421px;
@google-image: 'assets/sprite.png';
@google: 400px 347px -400px -347px 130px 21px 600px 421px 'assets/sprite.png' google;
@imdb-name: imdb;
@imdb-x: 400px;
@imdb-y: 368px;
@imdb-offset-x: -400px;
@imdb-offset-y: -368px;
@imdb-width: 130px;
@imdb-height: 21px;
@imdb-total-width: 600px;
@imdb-total-height: 421px;
@imdb-image: 'assets/sprite.png';
@imdb: 400px 368px -400px -368px 130px 21px 600px 421px 'assets/sprite.png' imdb;
@leo-name: leo;
@leo-x: 400px;
@leo-y: 200px;
@leo-offset-x: -400px;
@leo-offset-y: -200px;
@leo-width: 130px;
@leo-height: 21px;
@leo-total-width: 600px;
@leo-total-height: 421px;
@leo-image: 'assets/sprite.png';
@leo: 400px 200px -400px -200px 130px 21px 600px 421px 'assets/sprite.png' leo;
@wikipedia-name: wikipedia;
@wikipedia-x: 400px;
@wikipedia-y: 221px;
@wikipedia-offset-x: -400px;
@wikipedia-offset-y: -221px;
@wikipedia-width: 130px;
@wikipedia-height: 21px;
@wikipedia-total-width: 600px;
@wikipedia-total-height: 421px;
@wikipedia-image: 'assets/sprite.png';
@wikipedia: 400px 221px -400px -221px 130px 21px 600px 421px 'assets/sprite.png' wikipedia;
@wowhead-name: wowhead;
@wowhead-x: 0px;
@wowhead-y: 400px;
@wowhead-offset-x: 0px;
@wowhead-offset-y: -400px;
@wowhead-width: 130px;
@wowhead-height: 21px;
@wowhead-total-width: 600px;
@wowhead-total-height: 421px;
@wowhead-image: 'assets/sprite.png';
@wowhead: 0px 400px 0px -400px 130px 21px 600px 421px 'assets/sprite.png' wowhead;
@woxikon-name: woxikon;
@woxikon-x: 400px;
@woxikon-y: 263px;
@woxikon-offset-x: -400px;
@woxikon-offset-y: -263px;
@woxikon-width: 130px;
@woxikon-height: 21px;
@woxikon-total-width: 600px;
@woxikon-total-height: 421px;
@woxikon-image: 'assets/sprite.png';
@woxikon: 400px 263px -400px -263px 130px 21px 600px 421px 'assets/sprite.png' woxikon;
@youtube-name: youtube;
@youtube-x: 400px;
@youtube-y: 284px;
@youtube-offset-x: -400px;
@youtube-offset-y: -284px;
@youtube-width: 130px;
@youtube-height: 21px;
@youtube-total-width: 600px;
@youtube-total-height: 421px;
@youtube-image: 'assets/sprite.png';
@youtube: 400px 284px -400px -284px 130px 21px 600px 421px 'assets/sprite.png' youtube;
@res-iros2004-name: res_iros2004;
@res-iros2004-x: 200px;
@res-iros2004-y: 0px;
@res-iros2004-offset-x: -200px;
@res-iros2004-offset-y: 0px;
@res-iros2004-width: 200px;
@res-iros2004-height: 200px;
@res-iros2004-total-width: 600px;
@res-iros2004-total-height: 421px;
@res-iros2004-image: 'assets/sprite.png';
@res-iros2004: 200px 0px -200px 0px 200px 200px 600px 421px 'assets/sprite.png' res_iros2004;
@res-nsis-name: res_nsis;
@res-nsis-x: 0px;
@res-nsis-y: 200px;
@res-nsis-offset-x: 0px;
@res-nsis-offset-y: -200px;
@res-nsis-width: 200px;
@res-nsis-height: 200px;
@res-nsis-total-width: 600px;
@res-nsis-total-height: 421px;
@res-nsis-image: 'assets/sprite.png';
@res-nsis: 0px 200px 0px -200px 200px 200px 600px 421px 'assets/sprite.png' res_nsis;
@res-rasterbator-name: res_rasterbator;
@res-rasterbator-x: 200px;
@res-rasterbator-y: 200px;
@res-rasterbator-offset-x: -200px;
@res-rasterbator-offset-y: -200px;
@res-rasterbator-width: 200px;
@res-rasterbator-height: 200px;
@res-rasterbator-total-width: 600px;
@res-rasterbator-total-height: 421px;
@res-rasterbator-image: 'assets/sprite.png';
@res-rasterbator: 200px 200px -200px -200px 200px 200px 600px 421px 'assets/sprite.png' res_rasterbator;
@res-unilogo-name: res_unilogo;
@res-unilogo-x: 400px;
@res-unilogo-y: 0px;
@res-unilogo-offset-x: -400px;
@res-unilogo-offset-y: 0px;
@res-unilogo-width: 200px;
@res-unilogo-height: 200px;
@res-unilogo-total-width: 600px;
@res-unilogo-total-height: 421px;
@res-unilogo-image: 'assets/sprite.png';
@res-unilogo: 400px 0px -400px 0px 200px 200px 600px 421px 'assets/sprite.png' res_unilogo;
@res-wow-name: res_wow;
@res-wow-x: 0px;
@res-wow-y: 0px;
@res-wow-offset-x: 0px;
@res-wow-offset-y: 0px;
@res-wow-width: 200px;
@res-wow-height: 200px;
@res-wow-total-width: 600px;
@res-wow-total-height: 421px;
@res-wow-image: 'assets/sprite.png';
@res-wow: 0px 0px 0px 0px 200px 200px 600px 421px 'assets/sprite.png' res_wow;
@spritesheet-width: 600px;
@spritesheet-height: 421px;
@spritesheet-image: 'assets/sprite.png';
@spritesheet-sprites: @canoo @chefkoch @duckduckgo @google @imdb @leo @wikipedia @wowhead @woxikon @youtube @res-iros2004 @res-nsis @res-rasterbator @res-unilogo @res-wow;
@spritesheet: 600px 421px 'assets/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
