
.u-hidden--lg {

    @media @desktop {
        display: none;
    }
}

.u-hidden--sm {

    @media @phone {
        display: none;
    }
}

.u-hidden--print {

    @media @print {
        display: none;
    }
}

.u-pull--left {
    float: left;
}

.u-pull--right {
    float: right;
}

.u-visually--hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
