/**
 * Utilities
 */
.u-align--center {
    text-align: center;
}

.u-hidden--lg {

    @include aboveBreakpoint(lg) {
        display: none;
    }
}

.u-hidden--sm {

    @include belowBreakpoint(xs) {
        display: none;
    }
}

.u-hidden--print {

    @include print {
        display: none;
    }
}

.u-pull--left {
    float: left;
}

.u-pull--right {
    float: right;
}

.u-visually--hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
