@base: #242021;
@base2: #CECECE;
@base3: #A07272;
@base4: #5C5C5C;
@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);

@menuColor: #FFFFFF;
@menuBackground: rgba(255,248,213,0.1);

@backgroundColor: #f7f7f7;