$btn-size-md: 2.5rem;
$btn-size-lg: 3rem;

.btn {
    border: 0;
    //.boxShadow(1);
    background-color: var(--lightPrimaryColor);
    border-radius: $border-radius-lg;
    color: var(--primaryColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main, arial;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    @include transform(all);

    &:focus {
        outline: none;
    }

    &:hover {
        transform: translateY(-1px);
        //.boxShadow(2);
        color: var(--secondaryTextColor);

        > svg {
            stroke: var(--secondaryTextColor);
        }
    }

    > svg {
        stroke: var(--primaryColor);
    }

    &--md {
        height: $btn-size-md;
        min-width: $btn-size-md;
    }

    &--lg {
        height: $btn-size-lg;
        min-width: $btn-size-lg;
    }

    &--hamburger {
        padding: 0;

        &:focus {
            outline: 0;
        }

        &:hover {
            opacity: 1;

            &::after {
                color: inherit;
            }

            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                color: inherit;
            }
        }

        .hamburger {
            display: block;
            z-index: $z-index-5;
            padding: 0;
        }

        .hamburger-box {
            width: 1.5rem;
            top: 0.15rem;
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: var(--primaryColor);
            width: 100%;
        }
    }

    &--icon {
        padding: 0;
    }
}

.flexBtn {

    &__icon {
        margin: 0 0.5rem 0 0;

        @include belowBreakpoint(xs) {
            margin: 0;
        }
    }

    &__label {
        text-transform: uppercase;

        @include belowBreakpoint(xs) {
            display: none;
        }
    }
}
