@btn-size-md: 2.5rem;
@btn-size-lg: 3rem;

.btn {
    .boxshadow(1);
    .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
    border: 0;
    border-radius: @border-radius-lg;
    .colorVar(color, --primaryColor, @primaryColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: @font-main, arial;
    font-size: @font-size-m;
    font-weight: @font-weight-bold;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    .transform(all);

    &:focus {
        outline: none;
    }

    &:hover {
        transform: translateY(-1px);
        .boxshadow(2);
        .colorVar(color, --secondaryTextColor, @secondaryTextColor);

        > svg {
            .colorVar(stroke, --secondaryTextColor, @secondaryTextColor);

        }
    }

    > svg {
        .colorVar(stroke, --primaryColor, @primaryColor);
    }

    &--md {
        height: @btn-size-md;
        min-width: @btn-size-md;
    }

    &--lg {
        height: @btn-size-lg;
        min-width: @btn-size-lg;
    }

    &--hamburger {
        display: block;
        z-index: @z-index-5;
        padding: 0;

        &:focus {
            outline: 0;
        }

        &:hover {
            opacity: 1;

            &::after {
                color: inherit;
            }

            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                color: inherit;
            }
        }

        .hamburger-box {
            width: 1.5rem;
            top: 0.15rem;
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            .colorVar(background-color, --primaryColor, @primaryColor);
            width: 100%;
        }
    }

    &--icon {
        padding: 0;
    }
}
