$btn-size-md: 2.5rem;
$btn-size-lg: 3rem;

.btn {
    border: 0;
    background-color: var(--lightPrimaryColor);
    border-radius: $border-radius-md;
    color: var(--primaryColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main, arial;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    @include transform(all);

    &:focus {
        outline: none;
    }

    &:hover {
        border: 1px solid var(--lightPrimaryColor);
        transform: scaleX(1.1) scaleY(1.1);
        color: var(--darkPrimaryColor);

        > svg {
            stroke: var(--darkPrimaryColor);
        }
    }

    > svg {
        stroke: var(--primaryTextColor);
    }

    &--md {
        height: $btn-size-md;
        min-width: $btn-size-md;
    }

    &--lg {
        height: $btn-size-lg;
        min-width: $btn-size-lg;
    }

    &--icon {
        padding: 0;
    }
}

.flexBtn {

    &__icon {
        margin: 0 0.5rem 0 0;

        @include belowBreakpoint(xs) {
            margin: 0;
        }
    }

    &__label {
        text-transform: uppercase;

        @include belowBreakpoint(xs) {
            display: none;
        }
    }
}
