$colorFigure:   #ede1c9;

.figure {
    position: relative;
    height: 100%;
    margin: 0;

    a {
        display: block;
    }

    img {
        width: 100%;
    }

    &--center {
        margin: 0 auto;
        max-width: 100%;
    }

    @include aboveBreakpoint(sm) {

        &--full {
            margin: $margin-sm 0 $margin-md;
        }

        &--left {
            float: left;
            margin: 0.5em $margin-md $margin-md 0;
        }

        &--right {
            float: right;
            margin: $margin-sm 0 $margin-md $margin-md;
        }
    }

    @include aboveBreakpoint(md) {

        &--portrait {
            width: 33%;
        }

        &--landscape {
            width: 50%;
        }
    }

    &__caption {
        font-weight: $font-weight-bold;
        min-height: 2.5rem;
        text-align: center;
        padding: $margin-sm;
        background-color: var(--primaryTextColor);
        color: var(--primaryColor);
        position: relative;
        transform: translateX(var(--transform-translate-seed));

        @include belowBreakpoint(xs) {
            font-size: $font-size-sm;
            min-height: 0;
            padding-top: 0;
        }
    }

    &__ribbon {
        cursor: default;
        position: absolute;
        right: -5px;
        top: -5px;
        overflow: hidden;
        width: 75px;
        height: 75px;

        span {
            background-color: var(--primaryColor);
            color: var(--primaryTextColor);
            display: block;
            position: absolute;
            top: 23px;
            right: -19px;
            font-size: $font-size-sm;
            line-height: $line-height-md;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            text-align: center;
            transform: rotate(45deg);
            width: 100px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 100%;
                z-index: -1;
                border-left: $border-thickness solid var(--accentColor);
                border-right: $border-thickness solid transparent;
                border-bottom: $border-thickness solid transparent;
                border-top: $border-thickness solid var(--accentColor);
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 100%;
                z-index: -1;
                border-left: $border-thickness solid transparent;
                border-right: $border-thickness solid var(--accentColor);
                border-bottom: $border-thickness solid transparent;
                border-top: $border-thickness solid var(--accentColor);
            }
        }
    }

    &--basic {
        text-decoration: none;
        position: relative;
    }

    &--button {
        margin-bottom: 0;
        overflow: hidden;

        figcaption {
            transform: translateY(var(--transform-translate-seed));
            background-color: var(--lightPrimaryColor);
            position: absolute;
            top: 10px;
            left: -5px;
            padding: 0 $margin-sm;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: $font-size-ms;
            font-weight: bold;
        }
    }

    &--github {
        float: left;
        margin: 0 $margin-md $margin-md 0;

        @include belowBreakpoint(xs) {
            width: 100%;

            &::shadow .user {
                width: 100%;
            }
        }

        @include aboveBreakpoint(xs) {

            &::shadow .user {
                width: 200px;
            }

            + h2 {
                padding-left: 200px;
            }
        }

        &::shadow .user {
            background-color: var(--lightPrimaryColor);
            border: $border-thickness solid $color-transparent;
            border-radius: $border-radius-lg;
            color: var(--primaryTextColor);

            .user-account,
            .user-following,
            .user-followers,
            .user-repos {
                color: var(--primaryTextColor);

                &::after {
                    color: var(--primaryTextColor);
                }
            }
        }
    }

    &--icon {
        background-color: var(--lightPrimaryColor);
        border: $border-thickness solid $color-transparent;
        border-radius: $border-radius-lg;
        float: left;
        margin: $margin-xs $margin-md $margin-md 0;
        width: auto;

        @include belowBreakpoint(xs) {
            width: 100%;
        }
    }

    &--image {
        border-radius: $border-radius-lg;
        background-color: var(--lightPrimaryColor);
        color: var(--primaryColor);
        overflow: hidden;

        &:hover {
            transform: translateY(-1px);
        }
    }
}

body {

    .hb-wrapper {

        .hb-main-container {

            button {
                background-color: var(--primaryTextColor);
                opacity: 1;
                font-weight: $font-weight-bold;

                svg {
                    fill: var(--primaryColor);
                }
            }

            p {

                &.hb-counter {
                    background-color: var(--primaryTextColor);
                    color: var(--primaryColor);

                    @include belowBreakpoint(xs) {
                        font-size: $font-size-lg;
                    }

                    span {
                        position: relative;
                        top: -8px;
                    }
                }
            }
        }

        .hb-image-container {

            p {

                &.hb-caption {
                    background-color: var(--primaryTextColor);
                    color: var(--primaryColor);
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

img.b-error {
    min-height: 50px;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        height: calc(100% + 10px);
        width: 100%;
        background-color: var(--lightPrimaryColor);
    }

    &::after {
        content: 'I am sorry, this image got eaten by the bug monster :(';
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
