.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: @margin-md;

    button[type='submit'] {
        flex-grow: 0;
    }

    label {
        align-self: center;
        flex-grow: 0;
    }
}

.links__form {

    .input--manami {
        margin: 0 auto;
    }
}
