.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;

    button[type='submit'] {
        flex-grow: 0;
    }

    label {
        align-self: center;
        flex-grow: 0;
    }
}


