@icon-height-s: 21px;
@icon-width-s: 130px;
@icon-size-m: 1.25rem;

.icon {
    background: no-repeat 0 0;
    display: block;
    margin: 0 auto;

    &--xs {
        width: @icon-size-m;
        height: @icon-size-m;
    }

    &--s {
        width: @icon-width-s;
        height: @icon-height-s;
    }

    &--l {
        width: 200px;
        height: 200px;
    }

    &--responsive {
        width: @icon-width-s;
        height: @icon-height-s;

        @media @phone {
            width: @icon-size-m;
            height: @icon-size-m;
        }
    }

    // LINKS

    &-canoo {
        background-image: url('/src/css/assets/icons/links/canoo.png');
    }

    &-chefkoch {
        background-image: url('/src/css/assets/icons/links/chefkoch.png');
    }

    &-duckduckgo {
        background-image: url('/src/css/assets/icons/links/duckduckgo.png');
    }

    &-google {
        background-image: url('/src/css/assets/icons/links/google.png');
    }

    &-imdb {
        background-image: url('/src/css/assets/icons/links/imdb.png');
    }

    &-leo {
        background-image: url('/src/css/assets/icons/links/leo.png');
    }

    &-wikipedia {
        background-image: url('/src/css/assets/icons/links/wikipedia.png');
    }

    &-woxikon {
        background-image: url('/src/css/assets/icons/links/woxikon.png');
    }

    &-wowhead {
        background-image: url('/src/css/assets/icons/links/wowhead.png');
    }

    &-youtube {
        background-image: url('/src/css/assets/icons/links/youtube.png');
    }

    // RESEARCH

    &-hulai {
        background-image: url('/src/css/assets/icons/research/res_hulai.png');
    }

    &-iros {
        background-image: url('/src/css/assets/icons/research/res_iros2004.png');
    }

    &-nsis {
        background-image: url('/src/css/assets/icons/research/res_nsis.png');
    }

    &-rasterbator {
        background-image: url('/src/css/assets/icons/research/res_rasterbator.png');
    }

    &-uni {
        background-image: url('/src/css/assets/icons/research/res_unilogo.png');
    }

    &-wow {
        background-image: url('/src/css/assets/icons/research/res_wow.png');
    }
}
