@icon-height-s: 21px;
@icon-width-s: 130px;
@icon-size-m:   24px;

.icon {
    background: no-repeat 0 0;
    display: block;

    &--xs {
        width: @icon-size-m;
        height: @icon-size-m;
    }

    &--s {
        width: @icon-width-s;
        height: @icon-height-s;
    }

    &--l {
        width: 200px;
        height: 200px;
    }

    // LINKS

    &-canoo {
        background-image: url('/src/css/assets/icons/links/canoo@2x.png');
    }

    &-chefkoch {
        background-image: url('/src/css/assets/icons/links/chefkoch@2x.png');
    }

    &-duckduckgo {
        background-image: url('/src/css/assets/icons/links/duckduckgo@2x.png');
    }

    &-google {
        background-image: url('/src/css/assets/icons/links/google@2x.png');
    }

    &-imdb {
        background-image: url('/src/css/assets/icons/links/imdb@2x.png');
    }

    &-leo {
        background-image: url('/src/css/assets/icons/links/leo@2x.png');
    }

    &-wikipedia {
        background-image: url('/src/css/assets/icons/links/wikipedia@2x.png');
    }

    &-woxikon {
        background-image: url('/src/css/assets/icons/links/woxikon@2x.png');
    }

    &-wowhead {
        background-image: url('/src/css/assets/icons/links/wowhead@2x.png');
    }

    &-youtube {
        background-image: url('/src/css/assets/icons/links/youtube@2x.png');
    }

    // RESEARCH

    &-hulai {
        background-image: url('/src/css/assets/icons/research/res_hulai.png');
    }

    &-iros {
        background-image: url('/src/css/assets/icons/research/res_iros2004.png');
    }

    &-nsis {
        background-image: url('/src/css/assets/icons/research/res_nsis.png');
    }

    &-rasterbator {
        background-image: url('/src/css/assets/icons/research/res_rasterbator.png');
    }

    &-uni {
        background-image: url('/src/css/assets/icons/research/res_unilogo.png');
    }

    &-wow {
        background-image: url('/src/css/assets/icons/research/res_wow.png');
    }
}
