.share-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 999rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: var(--gray-300);
	background: radial-gradient(var(--gray-900), var(--gray-800) 150%);
	box-shadow: var(--shadow-md);
	cursor: pointer;
	transition:
		color var(--theme-transition),
		background-color var(--theme-transition);
}

.share-button:hover,
.share-button:focus {
	color: var(--gray-0);
	background:
		linear-gradient(180deg, var(--gray-600), transparent), radial-gradient(var(--gray-900), var(--gray-800) 150%);
}

.share-button:active {
	box-shadow: var(--shadow-sm);
}

.share-button::before {
	position: absolute;
	inset: -1px;
	content: '';
	background: var(--gradient-stroke);
	border-radius: 999rem;
	z-index: -1;
}
