# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea/
.DS_Store
/dist
node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json

pids
logs
results

npm-debug.log
node_modules

*.sublime-*
