<header class="header">
    <div class="js-img-liquid bg-img"><img src="img/backgrounds/index.jpg" alt="Background Image"/></div>
    <div class="title">
        <h1 class="headline1">{{heading}}</h1>
        <p class="subline"{{lead}}</p>
    </div>

    {{> navbar-fixed-top }}

</header>
