<header class="header">
    <div class="js-img-liquid bg-img"><img src="img/backgrounds/index.jpg" alt="Background Image"/></div>
    <div class="title">
        <h1 class="headline1">{{heading}}</h1>
        <p class="subline"{{lead}}</p>
    </div>

    {{> navbar-fixed-top }}

    <button class="trigger"><i class="icon"></i>Trigger</button>
    <share-button class="share-btn"></share-button>
    <a class="to-top-btn js-to-top" href="#">back to top</a>
</header>
