/**
 * Colors
 */
$color-transparent:         rgba(255, 255, 255, 0.125);
$color-transparentDark:     rgba(0, 0, 0, 0.775);

:root {
    --primaryColor: #c6d851;
    --backgroundColor: #fcfcfc;
    --primaryTextColor: #030303;
    --secondaryTextColor: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #030303;
        --primaryTextColor: #fcfcfc;
    }
}
