/**
 * Colors
 */
$color-transparent:         rgba(255, 255, 255, 0.125);
$color-transparentDark:     rgba(0, 0, 0, 0.775);

:root {
    --primaryColor: #c6d851;
    --backgroundColor: #e6e6e6;
    --primaryTextColor: #030303;
    --secondaryTextColor: #e6e6e6;
}

// stylelint-disable-next-line
@media (prefers-color-scheme: dark) {

    :root {
        --backgroundColor: #38444b;
        --primaryTextColor: #e6e6e6;
    }
}
