/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$font-color:            'Poppins';
$font-header:           'Permanent Marker';
$font-main:             'Nunito';

$min-font-size:         16px;
$max-font-size:         20px;
$font-line-ratio:       1.618;

$base-font-size:        calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-content-width}) / #{strip-unit($max-content-width - $min-content-width)}));
$base-line-height:      calc(#{$min-font-size * $font-line-ratio} + #{strip-unit(($max-font-size - $min-font-size) * $font-line-ratio)} * ((100vw - #{$min-content-width}) / #{strip-unit($max-content-width - $min-content-width)}));

$font-size-sm:          0.618rem;
$font-size-ms:          0.791rem;
$font-size-md:          1.000rem;
$font-size-lg:          1.618rem;
$font-size-xl:          2.618rem;
$font-size-xxl:         4.236rem;

$line-height-sm:        0.618rem;
$line-height-md:        1.000rem;
$line-height-lg:        1.618rem;
$line-height-xl:        2.618rem;
$line-height-xxl:       4.236rem;

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    500;
$font-weight-bold:      700;

/**
 * TODO fix this mixin
 */
//@include font-face('BungeeColor-Regular', '../assets/fonts/BungeeColor-Regular_svg', $font-weight-normal);
