/**
 * Variables
 */
$xs:                  480px;
$sm:                  768px;
$md:                 1024px;
$lg:                 1400px;

$border-radius-sm:      2px;
$border-radius-md:      4px;
$border-radius-lg:      8px;

$border-thickness:      2px;

$z-index-neg:          -1;
$z-index-0:             0;
$z-index-1:             1;
$z-index-2:             2;
$z-index-3:             3;
$z-index-4:             4;
$z-index-5:             5;

$animation-duration:    0.5s;

$margin-sm:             0.5rem;
$margin-md:             1.0rem;

$min-content-width:     320px;
$max-content-width:     1400px;

$nav-height:            3rem;
$nav-width:             4rem;
