---
title: veeck unterwegs - August 2015, Costa Rica
heading: Alles grün
lang: de
lead: 1 Land, 2 Männer, 4 Räder und unzählige Schlaglöcher
when: August 2015
where: Costa Rica
img: cr_15
last-modified: 2015-10-18
---
<article class="article article--capped">
    <section id="part1">
        <h2 class="h2">10. August 2015: Auf ein neues!</h2>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_mural'
            caption='Art everywhere in San Jose'}}
        <p>Freunde des ungepflegten Reisenewsletter, ich bin wieder da bzw eigentlich wieder weg, diesmal ab
            nach Costa Rica. Daran dachte ich vor einem Monat auch noch nicht, aber dank der glücklichen Fügung
            mit meinem Kumpel Tassi in Berlin ein Bierchen trinken zu gehen, bei dem er mir von seinen zwei
            Wochen Urlaub im August erzählte, sponn sich daraus dieser Urlaub mit ihm.</p>
        <p>Angefangen bei Indien endeten unsere Pläne mit Umwege über Kuba und Äthiopien aber dann dank der
            Flugpreise und Buchungsmöglichkeiten hier. Und nun werden wir zwei Wochen mit dem Mietwagen von
            Küste zu Küste düsen *also düsen wenn es die Strassen zulassen* in der Hoffnung nicht ausgeraubt oder
            dem Verkehrsrowdytum zum Opfer zu fallen. Letzteres sollte ich aber nicht Mutti schreiben, die macht
            sich ja noch heute wo ich schon fast 40 werde Sorgen, wenn ich wegfliege *aber selber bis nach China
            düsen, jaja*</p>
        {{> figure-captioned
            class='figure--left figure--portrait'
            img='/img/travel/america/cr_bimbo'
            caption='Definitly not to be exported under this name'}}
        <p>Ach ja, ungepflegt stimmt auch insoweit, als das ich grad langsam müde werde und irgendwie auch
            fauler und eigentlich keine Lust habe, die Fehler dieser total falsch eingestellten Tastaturbelegung
            auszubügeln, von daher hoffe ich ihr könnt meinen nochmehralssonstkreatven Schreibstil dennoch
            lesen und verstehen ;-) (und die Tasten für diesen Smiley zu finden hat lange gedauert sag ich
            euch).</p>
        <p>Anyway, zurück zum Wesentlichen: Samstag morgen aus der Tür, in bester unbelehrbarer Tradition
            wieder mal nur zwei Stunden geschlafen, um 5 den Wecker klingeln lassen und dann 22 Stunden mit
            zweimal Umsteigen auf dem Hinweg verbracht. Dabei zwar nur eine Stunde Aufenthalt in Londons, dafür
            aber fünf in Houstons Flughafen, denn in letzterem muss man ja die US-amerikanische Immigration über
            sich ergehen lassen, in ersterem nur mal kurz im Schengenraum umsteigen. Tolle Idee, oder?
            Pustekuchen! Der Flieger aus Berlin drehte erstmal zwei Ehrenrunden und das erste, was ich beim
            Aussteigen von einer UnitedAirlines Mitarbeiterin hörte, waren die Worte: “You are going to Houston?
            RUN!” Also tat ich das. In Heathrow. Dem Moloch der Flughäfen, mit Verbindungstunneln länger als der
            Fluchtweg eines mexikanischen Drogenbarons aus dem Knast. Und so waren meine ersten Worte als ich
            beim Abfluggate (noch rechtzeitig) ankam: Haben sie eine Dusche an Bord? Leider nein, aber dafür
            war ich auf dem Weg richtung Texas. Dort war es natürlich nicht so hektisch und ich durfte 4 Stunden
            auf den Anschlussflieger warten. Oh well... Was sollte schon sonst noch schiefgehen? Ach ja, mein
            Gepäck. Das konnte natürlich nicht sprinten und so wartete ich in San Jose vergeblich am
            Gepäckband. Wie ich erfuhr, wurde es über Newark... Ach egal, euch interessiert doch eher wie Costa
            Rica ist, nicht wahr?</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_lake'
            caption='Im Tretboot, in Seenot...'}}
        <p>Eigentlich nicht so hübsch. Jep, San Jose nutzt man eher als Sprungbrett insLand, so für
            Tagestouren oder ähnliches, die Innenstadt ist nicht altkolonialistisch angehaucht, sondern dieser
            Mix aus Geschäftshäusern, Betonbauten, neu und nichtganzsoneuabernichtaltalt, dreckig und
            ganzdreckig, und ganz selten mal ein Haus aus alten Zeiten, als die Spanier nicht nur im Fussball
            Weltruhm hatten. Für den heutigen Nachmittag zu flanieren langte es, inklusive leckerem
            Einheimischenlokal-reisbohnenkochbananenfisch-essen und im Park den Leuten im dortigen 100-Meter
            Tümpel beim Tretbootfahren zuzukucken. Unser Hostel ist der LonelyPlanet-Bewertung angemessen ein
            von vielen Amis bevölkertes Backpackerhostel, aber dank starkem Akzent erkannten wir die
            Österreicher und Deutsche sofort.</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_pineapple'
            caption='Reiseproviant'}}
        <p>Der coolste Mitbewohner ist aber das Kampfkuschelkarnickel. Okay, kämpfen tut es nicht, aber es
            lässt sich herrlich streicheln und “IT IS SO FLUFFYYYY” und klug obendrein, denn eben schaffte es
            gerade die Terassentür aufzustossen und hineinzuhoppeln. Ich sollte also beim zubettgehen darauf
            achten wo ich hintrete.</p>
        <p>Stichwort! Denn in diesem Sinne verabschiede ich mich in die Koje, drücke auf “Senden” ohne zu
            wissen, wer überhaupt alles in dem Verteiler noch ist oder fehlt und ohne versprechen zu können,
            dass ich nochmal die Muse abends finde lange vorm Internetcafe-pc zu sitzen. Oder wie man bei euch
            wohl nun sagt:</p>
        <p>Schönen guten Morgen!</p>
        <p>v</p>
    </section>

    <section id="part2">
        <h2 class="h2">14. August 2015: First Contact!</h2>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_green'
            caption='Grüner wirds nicht!'}}
        <p>Jep, ihr CostaRicaKenner und Aficiandos, ihr ahnt es schon, Tassi und ich haben unsere erste
            Faultiersichtung gehabt. Dank der scharfen Augen meines Mitfahrers hat er im
            Karibikstranddschungeldickicht ein sich tummelndes Faultier (andere Adjektive wie rennend, zappelnd
            oder energisch gelten ja nicht) gesichtet, weit oben im Blätterwald und sobald es zum Stillstand
            kam erst recht nicht sichtbar.</p>
        <p>Richtig, wir sind als erstes an die Karibikküste gefahren. Nun haben wir aber leider schon wieder
            weiterziehen müssen, die Tag rennen dahin, aber glaubt mir wenn ich sage, dass wir uns heute morgen
            beim wegfahren von Puerto Viejo anschauten und sagten “Ach, wir hätten noch länger bleiben
            können” mit der passenden Antwort: “Bring uns nicht auf dumme Ideen”</p>
        <p>Chillige Karibikatmosphäre, gutes Essen, leckere Gerüche in der Luft, wunderschöne Strände ohne
            grosse Menschenaufläufe (Nebensaison plus unter der Woche, am Wochenende kommen gerne die
            Einheimischen) verleitet einen dazu, dort einfach hängen zu bleiben. Und manches was uns in den drei
            Tagen widerfuhr scheint auch darauf hinzudeuten, dass wir eigentlich nicht wegsollten...</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_cricket'
            caption='Direkt vor unserer Haustür, die Schweine!'}}
        <p>Aber von vorne: Montag also von San Jose nach Puerto Viejo gedüst, mit uns im Gepäck ein Franzose
            namens Jerome, den wir aus Gutmenschentum mitnahmen, da er dort auf der Suche nach einem Job (also
            gegen Kost und Logis) gehen wollte (er fand auch einen als Gärtner&amp;MädchenFürAlles in einem neuen
            Hostel). So vergingen die fünf Stunden Fahrt für die knapp 300km fahrt wie im Schlaf. Naja, fast,
            wenn man mal so nem LKW hinterherfährt, der eine Serpentine in der Naturschutzwaldquere hochtuckert.
            Man kennt das ja aus Alpträumen, wo einem dann auf der Fahrbahn so ein Brummer entgegenkommt). Hostel
            haben wir auch einfach das erste genommen und am nächsten Tag schon gleich umgezogen in ein anderes,
            nicht weil das erste so schlecht war, aber das andere hatte nur gegen kleinen Aufpreis einen direkten
            Blick aufs Meer mit Terasse und Hängematte und so Klischeeschön halt. Und wer kann da schon zu nein
            sagen?</p>
        {{> figure-captioned
            class='figure--right figure--portrait'
            img='/img/travel/america/cr_yoga'
            caption='Sonnengruß am Strand'}}
        <p>Beschwingt wollten wir dann gleich Dienstag einen Ausflug an die anderen Strände machen, wir fahren
            los, halten kurz am alten Hostel 200m weiter und..... RRRRrrrrrr .... RRrrrrr... RRRrrr......... geht
            der Motor nur bzw die Batterie aus..... Freude! Also 200m zurücklaufen, Autovermietung anrufen
            (Thrifty ist ihr Name, klingt suspekt, sind sie aber bislang nicht) alles erklären, sagen es liegt
            wohl an der Batterie, gefragt werden “Geht die Hupe?” 200m wieder zum Auto, Hupe testen, 200m
            zurücklaufen, wieder telefonieren, erfahren, dass es wohl die Batterie ist (Ach neeeee!) und das es
            vier Stunden dauert bis der Mechaniker mit einer neuen Batterie aus San Jose angefahren kommt....
            Freude hoch zwei, 200m mit der Nachricht wieder zum Auto wo Tassi wartet und wieder 200m zurück zum
            Hotel. Damit war der Strandtag gelaufen und wurde zum Terassenchilltag umdeklariert. Als es dann dunkel
            war, so nach eher 5,5 Stunden kam auch der Mechaniker und seither schnurrt der Wagen wieder wie ein
            Kätzchen. Also gestern erst an die Strände fahren können und wir ihr oben schon zwischen den
            Zeilen lesen konntet, sind die so schön das wir garnichtmehr loswollten eigentlich. Dennoch, gestern
            abend Abschied von der Karibik genommen, dazu ein paar Bierchen uns mit Jerome und Freunden
            von ihm gegönnt und da....</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_nighttime'
            caption='Kurz bevor mein Handy die Karibik küste...'}}
        <p>Kennt ihr noch den Typen aus meinem Japan-Urlaub, der damals eine offene Wasserflasche im Handgepäck
            hatte (ja das ging damals noch) und die einem armen Vordermann von ihm auf den Kopf tropfte durch
            die Flugzeugablage? Der war auch da vor Ort und hat es diesmal geschafft, beim Sternekucken am
            Strand sich zu weit nach hinten zu lehnen, so dass seine Tasche in der Geld, Kamera,
            Hostelschlüssel und Smartphone war nach hinten auskippte? Dooferweise stand er nicht am Strand
            sondern knöcheltief im Wasser. Die Kamera hatte ich gottseidank halb in der Hand, als ich
            realisiert, das da was passiert, dann suchte ich hektisch den Schlüssel. Derweil die anderen im
            Wasser ein phosphorizierende Etwas sahen, was sie auf den zweiten Blick dann als mein Handy erkannten
            und retteten. Und deshalb ist seit heute in Päckchen Reis bei mir im Rucksack was mein Handy bis zur
            endgültigen Trocknung beherbergt, Anrufe sind also eher schwer entgegenzunehmen :-D</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_beachtree'
            caption='Der alte Mann und das Meer'}}
        <p>Heute nächtigen wir in La Fortuna, einem Städtchen im Landesinnern auf dem Weg zu einem Vulkan,
            in einem Backpackhostel, in dem man Bändchen ans Handgelenk bekommt (aber keine kostenlosen Drinks)
            und eine Slackline über den Pool gespannt ist, die zu weich eingestellt ist. Irgendwie nicht so lässig
            wie die Tage zuvor, taugt vielmehr als Kulisse für einen Film im amerikanischen Springbreak .... Oh
            well... Sicher habe ich eine Menge vergessen zu erwähnen, die leckere Bakery, das einfach unglaublich
            grüne Grün überall am Strassenrand, die Bäume im Dschungel, die so gross sind, dass
            sie nochmal weitere Pflanzen und Buesche auf sich wachsen haben, die sicher selbst noch extra Gras
            auf ihren Blättern wachsen lassen... die Frequenz mit der man auf Marihuanaangebote hingewiesen
            wird, die höher als die Kombination aus Warschauer und Hasenheide ist (und eine junge Frau uns aus
            ihrer Tupperware (ja die gibts echt ueberall) uns Spacecookies anbot, wir aber dankend ablehnten) ...
            die Affen in den Bäumen, wo das Wort Gehänge noch eine Bedeutung hat da sie wohl zu der Art der
            Riesenklöterrichen gehörten.... der Matschweg am Strand der uns eine kostenlose Fangopackung
            bescherte....</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_sign'
            caption='Sind wir hier richtig?'}}
        <p>Ihr lest, viel zu viel, wahrscheinlich ist schon die Hälfte eingepennt und die andere angesichts
            der Rechtschreibfehler schreiend weggerannt... Deshalb nur noch kurz: Bis zum nächsten
            (vlt kürzeren) Newsletter, dann vlt sogar schon von der Pazifikküste?</p>
        <p>V</p>
    </section>

    <section id="part3">
        <h2 class="h2">18. August 2015: Früher war alles besser</h2>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_canal'
            caption='Was kommt denn da auf uns zu?'}}
        <p>...wie zum Beispiel, liebe Leser, die Versorgung mit Internetcafes, in denen ich meine Reiseberichte
            an euch in Ruhe tippen konnte. Heute aber hat jeder Backpacker sein Smartphone dabei (sofern es ihm
            nicht ins Wasser plumpst) und jedes Hostel/Restaurant weist auf sein Free-Wifi hin, so dass man
            nurmehr mit viel Glück einen verstaubten Rechner in einer Ecke finden kann. Doch selbst dies ist mir
            hier in Santa Teresa nicht vergönnt und so muss ich diese Zeilen auf Rassismus iPod tippen und
            hoffen, das die Autokorrektur nicht zu arg blöd ist, was jedoch bei genauerer Betrachtung dieses
            Satzes schon widerlegt ist... Sollte ich mir also in Zukunft auf Reisen ein Netbook mitnehmen? Oder
            gar eine echte analoge Reiseschreibmaschine? Ich mag nun mal das Klappern von Tasten.</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_santabeach'
            caption='Sowas!'}}
        <p>Egal, heute wird in diesem Ort, der dem tropischen Paradies sehr nahe kommt, weiter dem Piraten Visa
            gefrönt. Was in der Zwischenzeit passiert ist? Geheimnisvoll umschrieben würde ich sagen:
            rumpelzischholperwaaaaaaaaaaaaaaaaaaaah. so ein 40 Meter Fall ist halt schon was und die Straßen
            auch nicht die besten. Aber das schreib ich euch ausführlich wenn ich wieder feste Tasten unter
            meinen Fingern habe, ich bin einfach zu alt für den Schweiß...</p>
        <p>So, Siri, absenden...</p>
        <p>Große Umarmung an euch alle, v</p>
    </section>

    <section id="part4">
        <h2 class="h2">22. August 2015: Oder doch schon Teil 5? Jedenfalls Alles Knapp...</h2>
        {{> figure-captioned
            class='figure--right figure--portrait'
            img='/img/travel/america/cr_surf'
            caption='Final days at the beach'}}
        <p>Willkommen zurück in Deutschland, lieber Veeck, dürft ihr rufen, denn Berlin hat mich wieder. Jedoch
            mit soviel Jetlag und Unausgeschlafenheit, so dass ich euch heuer nur die letzten 36 Stunden
            erzähle und morgen, hoffentlich ausgeschlafen, die zweite Woche CostaRica rekapituliere.</p>
        <p><strong>Donnerstag Abend, 18:30 San Jose:</strong> Zwei Deutsche im Mietwagen versuchen sich nach 8 Stunden
            ermüdender Überlandfahrt durch die EinbahnstraßenRushHour der Stadt zurecht- und den
            Mietwagenabgabepunkt zu finden, der um 19 Uhr zumacht. Knapp gewesen, aber geschafft!</p>
        <p><strong>22:00 Uhr:</strong> Email von UnitedAirlines, mein Flug in Houston gen München (wo ich eh nur ne
            Stunde Aufenthalt hätte bevor es nach Berlin weitergeht) verspäte sich um 20 Minuten. Knapp aber machbar,
            München kann ja nicht so groß wie Heathrow sein, wir erinnern uns an den Hinflug.</p>
        <p><strong>24:00 Uhr:</strong> Heiazeit im Hostel, Wecker auf 3:30 gestellt. Knapper aber machbarer Schlaf.</p>
        <p><strong>Freitag 3:45:</strong> Aufgestanden, weitere Email von UnitedAirlines, Flug nun schon 40 Minuten
            später. Knapp, aber immer noch machbar, wenn Westwinde uns das aufholen lassen.</p>
        <p><strong>4:00 morgens:</strong> Taxi kommt und fährt eigentlich ohne Not halsbrecherisch mit 120 gen Airport.
            Knapper Blick bei roten Ampeln und dann drüber. So sind sie halt, die Halsbrecher und Abzocker,
            denn er wollte mal nen ganz kreativen Wechselkurs auf eh seinen sehr fairen Festpreis draufpacken.
            Aber nicht mit nem übermüden Veeck, der wird dann patzig und besteht auf Wechselgeld...</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_truck'
            caption='Dahinter herfahren für eine Stunde?'}}
        <p><strong>12:00:</strong> In Houston gut gelandet aber nicht geschlafen im Flieger. 16 Uhr Weiterflug für mich,
            bringe Tassi zu seinem Flieger gen Frankfurt. Bier für 7 Dollar im Airport ist nur knapp unter
            Puffpreisen...</p>
        <p><strong>16:00:</strong> Flieger soll um 17 Uhr losgehen. Lasse meinen Weiterflug auf 12:40 in München
            umbuchen, alles klar laut Schalterbeamten.</p>
        <p><strong>17:00:</strong> 1730....</p>
        <p><strong>17:30:</strong> Boarden beginnt</p>
        <p><strong>18:00:</strong> Mit 2 Stunden Verspätung in die Nacht gen München, selbst der 12:40 Flieger wird
            knapp, habe auch da nur ne Stunde Umsteigzeit.</p>
        <p><strong>Samstag 11:40</strong> Landeanflug München. 200 Meter noch, weiterhin alles machbar. 100 Meter....
            Nanu, wieso steigen wir wieder? Und wieso werden wir wieder schneller?</p>
        <p><strong>11:45:</strong> Pilotendurchsage: Ein anderer Flieger auf der Landebahn hat uns die Landung
            versperrt. Freude!</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_bavaria'
            caption='Alpenromantik mitten im Nirgendwo?'}}
        <p><strong>12:00:</strong> Landung, raus aus dem Flieger, zackzack gen Schalter, Infos holen. Lufthansa sagt: Ab
            in Terminal 2. Beschilderung? Scheisse! Sprinten? Definitiv! Passkontrolle? Schlange! Aber daran zum ersten
            mal vorbeientschuldigt. Nur ein flüchtiger Blick vom verständnisvollen Grenzbeamten: “Jaja, den
            kriegen sie noch, nur die Ruhe”. Und wir ahnen ja was das heißt...</p>
        <p><strong>12:20:</strong> Terminal 2.... Pust pust pust.... Ab zum Airberlin Schalter, Bordkarte holen.... Ach
            nee, nix von meiner Buchung gehört oder im System zu finden? Flieger ist eh schon am Boarden? Keine Chance?
            Und nun? Den ganzen Weg zurück zum Terminal 1 zu United Airlines? Na danke toll. München ist wohl
            doch so groß wie Heathrow, man kann ja schon fast zum Hauptbahnhof laufen wenn ich Stoiber richtig
            in Erinnerung habe...</p>
        <p><strong>12:30:</strong> Wo ist der United-Schalter in diesem Drecksverf****ausgeschilderten Moloch?</p>
        <p><strong>12:40:</strong> Ach da...</p>
        <p><strong>13:00:</strong> Endlich ein Ticket, dessen Flugzeug ich erreichen kann, in der Hand...</p>
        <p><strong>13:45:</strong> Boarden!</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_horse'
            caption='Ein Pferd mit Aussicht? Ich glaub ich bin durch!'}}
        <p><strong>13:55:</strong> Berlin, Berlin, ich fliege endlich nach Berlin!</p>
        <p><strong>14:10:</strong> Soso, der Sohn vom Uwe Ochsenknecht fliegt auch nur Economy Klasse?</p>
        <p><strong>15:30:</strong> Ich küsse metaphorisch den Berliner Boden bzw atme die Luft dieser Stadt....</p>
        <p><strong>Zusammengefasst:</strong> Freitag 10:30 Deutscher Zeit aufgestanden Samstag 15:30 nach 29 Stunden und
            nur geschätzten 2 Stunden Schlaf wieder da. War es wert, wenn ihr morgen dann lest was sich in der
            zweiten Hälfte so alles ergeben hat. Und damit verabschiede ich mich und wümsche euch no..
            *donk* nbsdgbasdbom sdidsnbnvsdf safaas saf241 om *schnarch* *schnarch* *schlaf*
        </p>
    </section>

    <section id="part5">
        <h2 class="h2">23. August 2015: Was ne Woche, Was ne Zeit!</h2>
        {{> figure-captioned
            class='figure--right figure--portrait'
            img='/img/travel/america/cr_vulcano'
            caption='Hier gibt´s nichts zu sehen'}}
        <p>Guten Tag, verehrte Leserschaft, auch wenn es sich für mich grad noch nach GutenFrühMorgens anfühlt.
            Der Körper weilt halt noch 8 Stunden hintendran in den frühen Zeiten CostaRicas. Und auch der Geist
            fühlt sich noch dort platziert so kurz vor 6 Uhr :-)</p>
        <p>Aber es gab nun endlich für mich ein paar Stunden erholsamen Schlafes im eigenen Bett ausgestreckt
            und ohne störende Sitznachbarn und Vorderstühle. lasst mich also solange das Eisen noch heiss, die
            Erinnerungen noch frisch sind, die Tage zwischen der Ankunft in LaFortuna, dem Ort am Fuße eines
            Vulkans, und der in San Jose, rekapitulieren, damit ihr beim faulenzen in der Sonne was zum lesen
            auf euren Smartphones habt :-)</p>
        <p>Bei der Fahrt nach La Fortuna grüßte uns vom weiten schon der Anblick des dortigen
            Tourismuszielvulkans, des Arenals. Ein Schichtvulkan, wie Tassie ergänzte, da er nach oben hin
            spitz zuläuft und die Spitze im Gegensatz zum Beispiel zu einem Schildvulkan auch noch vorhanden
            und nicht abgesprengt ist. Das war eigentlich auch schon eine der zwei interessanten Sachen dort,
            denn wie geschrieben, war das Hotel eher partylässig mit Pool und Smartphone Zombies an der Bar,
            deshalb sind wir morgens nach einer Nacht schon weiter. Davor aber natürlich noch kurz zum Vulkan
            gefahren am morgen. Die Wanderwege dort im Nationalpark führten einen durch den Dschungel nur am
            Fusse, aber leider nicht wirklich hoch zum Vulkan und waren auch schnell durchwandert. Hübsch aber
            kein Brüller, es fehlte auch die Aktivität des Vulkans (zum Glück wohl keine Ausbrüche mehr seit
            2003 oder so) und die Wolken hing auch so tief, dass man die Spitze nicht mehr sehen konnte.</p>
        {{> figure-captioned
            class='figure--left figure--landscape'
            img='/img/travel/america/cr_pool'
            caption='Bei 35 Grad Wassertemperatur langsam ziehen lassen'}}
        <p>Ein Highlight kam dann aber direkt darauf, chillen in den warmen Pools in einem Fluß, der vom
            heissen unterirdischen Gesteins des Vulkans auf mehr als pißwarme Grad erwärmt wird. Um diesen Fluss
            haben sich auch schon einige kostenpflichtige Touri-Spa-Anlagen errichtet, findige Sparfüche fragen
            den Parkwächter jedoch nach dem öffentlichen, nicht ausgeschildrten Zugang zu dem Fluss und aalen
            sich für umme darin (oder klettern halb versehentlich über eine Mauer in einen dieser Bezahlpools :-)</p>
        <p>Abgetrocknet und halb schrumpelig vom langen Baden ging es über viiiiele Bergstrassen und
            -serpentinen (am Ende gar keine mehr davon geteert) am Rande eines Sees zur nächsten Stadt in der
            hohen Landesmitte CostaRicas, Monteverde. Gepflastert mit Werbung für Touren in den Nationalpark
            und andere Bezahlaktivitäten ist auch hier klar, wo der Hammer haengt. Eingecheckt in einem
            netten Hostel, wo wir auch gleich uns ueber das Studium der für uns in Frage kommenden Events
            machten. Herausgekommen ist als erstes gleich noch am Abend eine geführte Nachtwanderung mit
            Wildtierkucken. Also Faultiere natürlich gesehen, andere Säuger, deren Namen mir grad nicht
            einfallen, aussehen aber wie ne Mischung aus Ratte und Katze, Tarantel, schlafende Tukane,
            Skorpione, Giftschlangen (4h Stunden Zeit falls du gebissen wirst, aber nur 20cm groß das kleine
            grüne Biest), dank Taschenlampe, verschlungenen Trampelpfaden und stockfinster wissen wir aber
            garnicht wie wir eigentlich wo langgelaufen sind, das wußte nur der Guide. Hätte also sein können,
            dass wir eigneltich nur im Kreis im Garten einer Familie rumliefen :-)</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_instructor'
            caption='Nun liebe Kinder gebt fein acht!'}}
        <p>Am nächsten Morgen der Adrenalinkick schlechthin: Ziplining über den costaricanischen Urwald :-)
            Ziplining für die Leute mitm Fragezeichen überm Kopf ist wenn man in nem Gurt hängend an einem
            Drahtseil bis zu 1,5 km (in unserem Fall die längste Strecke, die es in Mittelarmerika geben soll)
            über eine Urwaldschlucht jagt und mit seiner Hand am Seil rechtzeitig aber nicht zu früh bremst,
            um nicht am Ende gegen die Matraze am Baum zu knallen oder auf halber Strecke liegen zu bleiben,
            um von den Guides nicht wie ein Schulkind abgeholt zu werden (ist unserem amerikniaschen Vordermann
            zweimal passiert, einmal auf der ganz langen einmal sogar schon auf der Übungsstrecke :-D</p>
        {{> figure-captioned
            class='figure--left figure--portrait'
            img='/img/travel/america/cr_cable'
            caption='Zip up and awaaaayyyyy.....'}}
        <p>Als Höhepunkt am Ende kann man sich bzw wird man eigentlich aus einer 150ft (ca 45m) hohen Plattform
            am Ende einer (subjektiv) sehr laaaaangen Hängebrücke wie Tarzan an einer Liane bzw Seil nach unten
            geschupst und erlebt für ne Sekunde freien Fall bevor man wie ein Affe hin und herschwingt.
            Wahnsinn, wa? Kleiner aber sehr hilfreicher Tip: NIE aber auch wirklich NIE nach unten kucken.
            Dann braucht ihr wie meinereiner auch keine 3 Anläufe um sich endlich zu trauen. Jep, ich bin
            zweimal auf halbem Weg der Hängebrücke umgedreht, weil ich nach unten schaute :-) Aber wenn mann
            sich dann endlich traut und fokussiert und zielgerichtet nach vorne geht, sich einhaengen lässt,
            den Typen vertraut und dann merkt, dass das SchutzVormUnbeabsichtigtenFallen-Gitter vor einem, an
            dem man lehnt, nach außen aufgeht und es ein Klick-Geräusch auf einmal macht und es dann schon zu
            spät ist die Verknüpfung dieser beiden Information an den Hirnteil zu senden, der für den
            Fluchtreflex zuständig ist und man dann nur noch schreit im Fallen, dann ist es doch ganz schön :-)
            Tassi ist dann noch ein zweites Mal gar gesprungen!</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_clam'
            caption='Lange Spaziergänge am Strand inklusive'}}
        <p>Bis unter beide Ohren voll mit Adrenalin sassen wir dann schon nachmittags wieder im Auto gen
            Südwesten zur Pazifikküste. Erster Stop Samare, auch wieder nur halb durch geteerte Straßen
            erreichbar, war nun auch nicht so hemelig für uns, dass wir nur eine Nacht dort verbrachten.
            Schöner Strand gewiss, der beste Kartoffelbrei den ich wohl in meinem Leben hatte und eine
            feuchtfröhliche Samstagabendkaraoke mit rein lateinamerikanischen Schnulzensongs an der unserem
            Mama-geführten Hostels direkt angrenzenden Bar waren leider nicht genug Pluspukte um dort länger
            zu bleiben und so fuhren wir leicht enttäuscht auf den Rumpelstraßen weiter gen Süden.</p>
        {{> figure-captioned
            class='figure--left figure--portrait'
            img='/img/travel/america/cr_dog'
            caption='Der tut nur spielen'}}
        <p>Santa Teresa, unser nächster Stop auf unserer Reise, sollte dann so gut werden, dass es auch unser
            letzter Stop wurde :-) Chillaxen to the maxen ist dort das Motto (bzw eigentlich “Pure Vida”) und
            wir kamen in der Anlage eines vor 25 Jahren ausgewanderten Österreischen Surfprofis unter
            (Peter: “Damals hatten wir noch nichtmal Strom hier”). Abgelegen und ein Geheimtip ist das Städtchen
            immer noch, eine staubige Hauptstraße hinter der Beachfront entlang, Surf,Food,Drink-Buden in genau
            der richtigen Anzahl, viel grün und unberührte Strände, Mückeninvasion am Abend inklusive aber
            beherrschbar, die Menschen surferlässig drauf, selbst die Hunde, die immer wem gehören, aber dir
            nen Tag lang am Strand hinterherlaufen, zoffen sich wenn überhaupt nur ne Sekunde bevor sie sich
            selbst mit fremdesten Hunden im Strand suhlen und spielen.</p>
        <p>So wohl fühlten wir uns da, dass schon erste Ausstiegs- und Bausparzenarien entworfen wurden,
            zumindest einen weiteren gar längeren Besuch als unsere 4 Tage da wird es mit an sicherheit
            grenzenden Wahrscheinlichkeit geben :-)</p>
        {{> figure-captioned
            class='figure--right figure--landscape'
            img='/img/travel/america/cr_monkey'
            caption='Unser Nachbar, ein Riesenklöterich'}}
        <p>Mal wieder Zeit wohl für kurze Stichwörter, die nur einwerfen, aber nicht in aller Details
            wiedergeben mag, ihr wollte ja sicher auch dass ich mal zum Ende komme ;-) Also Santa Terasa...
            Im Nachbarort Montezuma einen Wasserfall erklommen, oben darin reingesprungen und gebadet, drei
            Mädels wieder getroffen (und ein Stück mitgenommen), die wir schon in Monteverde trafen, 50kg
            ist Minimumgewicht für den Bungejump dort erfuhren wir durch eine davon betroffene, Honduras soll
            sehr schön sein, einer von dort bot mir einen GeldVonIhmZurückFallsEsMirDortNichtGefiele-Handschlag
            an, Riesenklöteriche-Affen in den Bäumen unseres Hostels, Tassi hat nen Strandsteinsammeltick
            (in Zahlen 5 kg), Außenduschen sind toll, erste Fludruchquerungen mitm Auto (jetzt aber leider dank
            trockener Regenzeit nicht wirklich wilde), beste Schokobrownies ever von SantaTeresas lokaler
            Bäckerei, der Strand ist nachts lebendig mit Einsiedlerkrebsenwanderungen und ein kleiner Gruß aus
            der Küche ist nicht immer Zeichen eines guten Hauptgangs, und der Sand dort ist manchmal so
            hartnäckig, dass mir nur folgender aber eigentlich nicht veröffentlichbarer Satz einfiel: Ich
            musste meine Beine mehr spreizen als nen Pornostar beim Gangbang unter der Dusche....</p>
        {{> figure-captioned
            class='figure--left figure--portrait'
            img='/img/travel/america/cr_sunset'
            caption='Zum Abschluß der obligatorische Moneyshot'}}
        <p>So, da sich nun auch das Niveau verabschiedet hat, und nachdem ihr schon gestern lesen konntet, wie
            unsere bzw meinen letzten Tage abgelaufen, dahingeflogen, abgehetzt, endlich angekommen sind,
            wird es Zeit, diesen Bericht abzuschliessen. Totale Reisemepflung für dieses Land, erstes mal
            sogar, wo ich (und auch mein fabulöser und niemals anstrengender Mitreiser Tassi) sagen, gar zum
            ersten Mal: Ja, da fahre ich nochmal hin!</p>
        <p>In diesem Sinne, bis zum nächsten Mal, wo immer das sein wird (hör ich da von hinten
            IslandTürkeiSkandinavien?</p>
        <p>V</p>
    </section>
</article>
