---
title: September 2017, Griechenland
heading:
lang: de
lead:
when: September 2017
where:
img: gr_17
last-modified: 2017-09-17
---
<article class="article--capped travel-article">
    <section>
        <h2 class="h2"></h2>
        <p></p>
        {{> figure-popup
            class='fig_left portrait js-travel_figure'
            img='/img/travel/greece/'
            caption=''}}
    </section>
</article>
