---
title: September 2017, Griechenland
heading: Hello Hellas
lang: de
lead:
when: September 2017
where:
img: gr_17
last-modified: 2017-10-07
---
<article class="article article--capped travel__article">
    <section>
        <h2 class="h2">Fähre 1: Santorini</h2>
        <p>Ja, Freunde des wiederkehrenden Newsletters aus fernen und manchmal nicht-ganz-so-fernen Ländern, ich sitze
            auf Fähre Nummer 1. Meine Nummerierung ist dabei chronologisch, nicht so wie bei Taxifahrer Nr. 7. Der war
            zwar der erste auf der Insel seiner Aussage nach, aber hat die Lizenz Nummer 7. Aber ich greife vor bzw.
            nach.</p>
        {{> figure-popup
            class='fig_right landscape'
            img='/img/travel/europe/gr_beach'
            caption='Sun protection'}}
        <p>Denn diese Fähre bringt uns von Santorini nach Milos und die Kundigen unter euch wissen wo das liegt: In
            Griechenland, genauer gesagt in den Zykladen. 12 Tage wohlverdienten lang ersehnten Urlaubs brachen endlich
            wieder an. Der Flug, diesmal so gebucht dass wir nicht in Herrgottsfrühe im Dunkeln aufbrechen mussten,
            verlief unaufregend. Das einzige was meinen Puls in die Höhe trieb war das neugierige Begutachten der
            Schokoladenpreise im Athener Dutyfree-Bereich: ein Standardglas Nutella mit einer Tasse als „Sonderbeigabe“
            für schlappe 19 Euro. Heroindealer gehen hier in die Lehre war mein Gedanke. Jedoch hatten wir über 6
            Stunden Zeit bevor unser Flug weiter nach Santorini ging, so dass es möglich war mit der Metro einen
            Abstecher für einen Kaffee, einen Snack und einen kleinen Spaziergang in die Athener Innenstadt machen
            konnten, inkl. kurzer Blick hoch zu Akropolis.</p>
        {{> figure-popup
            class='fig_left portrait'
            img='/img/travel/europe/gr_cat'
            caption='Cat with a view'}}
        <p>Zurück und ab in den Flieger, wo mein Augen eine Reihe vor mir eine Dame erblicken konnten, die ebenfalls
            ein Fairphone ihr eigen nennt. Klingt wie Schleichwerbung, aber ich krieg keinen Cent dafür, nur ein wenig
            besseres Gewissen :-)</p>
        <p>Untergekommen waren wir in Perissa auf der günstigeren Ostseite, die jedoch gleichwertig wenn nicht sogar
            besser für Strand/Sonnen/Essen/Chillaxing geeignet ist als die teure Westseite. Ein kleiner Pool, großes
            Bett, saubere Zimmer, staubiger Vorplatz, super freundliche DameDesHauses, die sich mehr und mehr in uns
            zwei verliebte. Fast schon natürlich wurden wir alle mit ‚Honey‘ angeredet, am letzten der 4 Abende wollte
            sie mich und Stef zum Heiraten drängen und am Abschiedsmorgen gab sie als Krönung den freundlichen Rat:
            „You will enjoy Milos, you can make a baby there.“ Wäre wir eine Nacht länger geblieben hätten wir sicher
            Barry-White-CDs, Champagner und perforierte Kondome bei uns im Zimmer vorgefunden...</p>
        <p>Apropos freundlich: Der freundliche Taxifahrer, der uns vom Airport in die Unterkunft brachte. Natürlich
            versuchte er uns einen höheren Preis abzunehmen und liess sich dann doch auf den Standard ein. Er erzählt
            uns auch, dass es nur 39 Taxis auf der Insel gibt, der Rest wird via Bus, Mietauto, Minivan oder Moped/Quad
            erledigt, wobei insbesondere letztere trotz Helmpflicht aber dank Ignoranz derselbigen zu vielen Unfällen
            führt.</p>
        {{> figure-popup
            class='fig_right landscape'
            img='/img/travel/europe/gr_ferry'
            caption='Waiting to debark'}}
        <p>Also ein Mietauto an einem Tag geleistet und die Insel erkundet, auch die Dame an meiner Seite fuhr dank
            neuerworbener Fahrerlaubnis die ländlichen Straßen dieses Eilands. Vom südlichen Leuchtturm bis hin zu
            Fira, der zweit-nördlichsten Stadt der grade mal 18 km langen Insel, sind wir gefahren. In dieser an
            Klippen gelegenen weißgetünchten Stadt genossen wir bei einem Cocktail wie die Sonne romantisch spektakulär
            im Meer versank. Von Oia, der nördlichsten und noch mehr für diese Dinge von Touristen aufgesuchte Stadt
            haben wir die Finger bzw. Füße gelassen, schon in Fira gab es genug andere die mit uns die Pflastersteine
            in den schmalen Gässchen gefüllt mit Souvenierschmuckshops teilten. Dies spiegelte sich auch im
            Cocktailpreis wieder, 11 EUR für ein kölschglas großen Cosmopolitan. Wie soll da erst Oia zu der Zeit sein,
            wenn auch der September schon Richtung offseason sich neigt?</p>
        <p>Dennoch: Tolle Insel, alles was man braucht in Perissa inklusive familiengeführter 24 h Bäckerei um die
            Ecke, keine Stechmücken, dafür ein Museum über die industrielle Tomatenproduktion. Wir waren jedoch nicht
            drin, auch wenn es mich interessierte, wo hier Tomaten im großen Stil wachsen sollen, wir sahen jedenfalls
            keine Felder. Zur Fähre ging es dann mit Anfangs erwähntem Taxi Nr. 7, wobei der gute Mann a) meinte er
            wäre der erste auf der Insel (vielleicht lag es daran der er 7 Brüder hatte, dass er nicht Nr. 1 bekam)
            und b) wider 5 EUR einfach auf den Preis draufschlagen wolle („Reservationfee“), die ich ihm nach einem
            Blick zu und von der Dame neben mir  anstandslos gab. Milos, here we come...</p>
    </section>
</article>
