---
title: Juli 2003, von Singapur nach Thailand
heading: Südostasiatischer Straßenfußball
lang: de
lead: Einmal um die ganze Welt, Teil 4
when: Juli 2003
where: Singapur, Kuala Lumpur, Thailand
img: as_03
last-modified: 2012-02-15
---
<article class="article article--capped">
    <section>
        <h2 class="h2">17. - 19. Juli 2003: Singapur, Kuala Lumpur und Krabi</h2>
        <p>Puh, liebe Bahnfreunde, endlich sind wir wieder da, wo wir eigentlich schon
        vor einer Woche hätten sein können: Krabi, SüdWestküste Thailands.</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/roundtrip/th_petronas'
            caption='Petronas Towers'}}
        <p>Wie es uns erging, seitdem wir Indonesien verlassen haben, hier im Schnelldurchlauf:</p>
        <p>Do, 16:45, Landung in Singapur, aufgrund von SARS inklusive Temperaturcheck an der Passkontrolle mit Kamera.</p>
        <p>Do, 21:50, Einchecken am Bahnhof nach Kuala Lumpur. Wir haben Glück und müssen
        unser Gepäck nicht so weit schleppen da unser Waggon gleich der erste am Bahnsteig
        des Kopfbahnhofs ist.</p>
        <p>Do, 22:00, Begin Zugfahrt. Dummerweise ist unser “toller” Waggon bedingt durch
        seine Rolle als hinterster Waggon auch gleichzeitig derjenige, der am meisten
        schaukelt. Dies wird in einer unruhigen Nacht und in einem noch müderen Tag
        enden! Albrecht ist jetzt schon müde und legt sich gleich schlafen, da schon
        beim Einchecken vorm Zug die Grenze passiert wurde.</p>
        <p>Do, 22:30, Halt an der echten Grenze zu Malaysia. Albrecht muss sich wieder
        anziehen und aussteigen. Er sieht echt genervt aus mit seiner roten Mähne,
        aber herausragend unter den ganzen kleinen Asiaten.</p>
        <p>Fr, 6:00, Nach halbdurchwachter Nacht aufgrund der Schwingungen des Waggons
        kommen wir in Kuala Lumpur an.</p>
        <p>Fr, 9:00, Endlich haben die Läden auf und nach dem Frühstück begeben wir
        uns in die Innenstadt zu dem Einkaufszentrum, welches direkt unter den
        Petronas Towern liegt. Die wollen wir uns nachher auch noch anschauen
        (geht sogar kostenlos), sind schließlich das höchste Gebäude der Welt!</p>
        <p>Fr, 11:10 Wir haben uns spontan entschieden für 2 Euro pro Nase Terminator
        3 im Kino anzuschauen. Billig, aber richtiges Kino, nix abgefilmtes oder geklautes!</p>
        <p>Fr, 13:10, Wir kommen aus dem Kino raus. Ein Knüllerfilm: Arnie spricht
        englisch und in der ersten Stunde keinen Satz mit mehr als 4 Worten! Der Film
        nimmt sich manchmal nicht selber ernst und die Story ist auch besser als
        erwartet. Empfehlenswert! Jetzt wollen wir uns die Türme anschauen!</p>
        <p>Fr, 13:15: Dummerweise sind die kostenlosen und einzigen Tickets zur
        Besichtigung begrenzt und für diesen Tag schon vergriffen! Teyna meinte auch im
        Nachhinein, dass sie sowas im Reiseführer gelesen hätte, aber es dann
        vergessen hat!</p>
        <p>Fr, 13:20, Wir gehen zum Funkturm von KL, der auch hoch ist, aber Eintritt
        kostet! Der Weg zum Funkturm ist steil und es ist heiß und schwül. Hey,
        klasse, tolle Idee, König Herodes!</p>
        <p>Fr, 19:00, Wir machen uns wieder zum Bahnhof, auf nach Butterworth heißt es
        diesmal. Von da aus müssen wir dann weiterschauen, wie wir nach Thailand
        kommen, die Schalterbeamten in KL wussten es jedenfalls nicht so genau (und das
        bei nur 8 Fernzügen, die aus KL pro Tag abgehen bzw. ankommen!)</p>
        <p>Fr, 20:00, Diesmal ist das Abteil nicht das hinterste und wir können in Ruhe schlafen.</p>
        <p>Sa, 5:50, Ankunft in Butterworth (Malaysia), Ticketverkäuferin gefragt,
        wie’s nach HatYai (Thailand) geht: Mit dem selben Zug, mit dem wir auch ankamen,
        der fährt nämlich durch bis dorthin. Das wusste komischerweise in KL keiner!
        Wir fühlen uns an die Deutsche Bundesbahn erinnert!</p>
        <p>Sa, 6:00, Wir fahren weiter!</p>
        <p>Sa, 11:30, Ankunft in HatYai, 2 Stunden später Minibus nach Krabi genommen,
        weitere 5 Stunden später da!</p>
        <p>So, jetzt spring ich unter die Dusche (die beste die ich je in Südostasien
        sah, muss nen Foto von machen) und dann wird frische Unterwäsche angezogen!</p>
        <p>Morgen schreib ich dann, warum Fußball nicht wie der Verkehr in Südostasien sein sollte!</p>
        <p>Grüße, Veeck</p>
    </section>

    <section>
        <h2 class="h2">20. - 26. Juli 2003: Krabi, Thailand</h2>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/roundtrip/th_krabi'
            caption='Blick über Krabi'}}
        <p>Wie versprochen, aber einen Tag später, hier ein kleiner humoristischer
        Vergleich, der mir in Thailand während der Fahrt von HatYai nach Krabi in einem
        kleinen Minivan eingefallen ist:</p>
        <p>WIE WÄRE FUSSBALL, WENN ES WIE DER VERKEHR IN SÜDOSTASIEN WÄRE?</p>
        <p>1) Spieler gäbe es zuhauf. Quasi jeder, der gross genug ist, nen Ball zu
        bewegen, dürfte mitspielen. Das führt natürlich zu einigem Gedränge auf dem Platz.</p>
        <p>2) Trainer gäbe es wohl keine. Und selbst wenn, würde man sie nie auf dem
        Spielfeld sehen. Die Konzepte des Spielertrainers oder des Autoditakten
        würden eher zutreffen.</p>
        <p>3) Auf die Frage wie lange das Spiel dauert, würde jeder sagen: 1 Stunde.
        Aber in Realität wäre es immer mindestens 2 Stunden, da die Zuschauer zuerst
        auf den Mannschaftsbus, dann auf die Spieler, warten müssen.</p>
        <p>4) Für altbackene Konzepte, mit denen sich Sepp Herberger schon den Arsch
        abgewischt hat, wie zum Beispiel die Unterteilung in Eigene und Gegnerische
        Hälfte gibt es keinen Platz mehr. Der Platz ist für alle da, nur die
        generelle Spielrichtung ist für die Mannschaft vorgegeben.</p>
        <p>5) In diesem Rutsch wird auch jegliches Formationsgeplänkel aufgegeben.
        Populär ist die 3erKette, in der es 3 Spieler EINER Mannschaft es schaffen, die
        gesamte Breite des Spielfeldes auszufüllen, so dass die entgegenkommende
        Mannschaft keinen Platz zum durchkommen hat.</p>
        <p>6) Auf die Auswechselbank passt immer noch einer mehr als vom Hersteller
        vorgesehen, eventuell auch noch Haushaltsgeräte und lebende Tiere obendrauf.</p>
        <p>7) Als europäischer Zuschauer sollte man niemals auf das Spielfeld schauen.
        Was man dort erblickt, führt unweigerlich zu heftigen Adrenalinschüben,
        übelkeit, Erblindung oder der Verlust jeglichen Verlangens nochmal ein Spiel
        zu sehen.</p>
        <p>8) Schienbeinschoner wären freiwilliges Accessoire, keiner würde sie tragen!</p>
        <p>9) Gelbe und Rote Karten würden von den betroffenen Spielern eher als
        Empfehlung angesehen, so das sie eventuell weiterspielen ohne sich drum zu
        kümmern.</p>
        <p>10) Den Schiris wäre das scheißegal, da man sie auf dem Spielfeld eh nie
        zu Gesicht bekommt. Und wenn, dann kontrollieren sie eh nur die Spielerpässe,
        oder nehmen Geld als Ersatz für einen nicht vorhandenen.</p>
        <p>Witzig nicht wahr? Und alles der Wahrheit entsprechend. Das einzige was ich
        nicht metaphorisch unterbringen konnte, war wie unser Fahrer nach einem Tankstop
        anfuhr, um von einem heftigen Ruck und einem lauten Geräusch zum Anhalten
        gezwungen zu werden. Jemand hatte wohl vergessen, die Zapfpistole aus dem
        Tankstutzen zu entfernen, tzt tz tz!</p>
        <p>Bis die Tage</p>
        <p>Veeck</p>
        <p>PS: Nur noch ne Woche und nen Tag und ich bin wieder bei euch! In dem
        Zusammenhang fallen mir noch zwei Sachen ein:</p>
        <p>- Hat einer von euch nen TShirt von mir gesehen, dunkelgrün mit BruceLee
        und nem Comicstyle “WAATAA”-Schriftzug vorne drauf? Suche es schon die ganze
        Zeit....</p>
        <p>- Albrecht und ich denken über ne “AbschiedVomStudentenleben”-Party nach,
        womöglich in Freiburg. Deshalb die Frage an alle auswärtigen: Habt ihr Ende
        August Zeit?</p>
    </section>

    <section>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/roundtrip/th_krabibeach'
            caption='Serving Mr. Bond now'}}
        <h2 class="h2">27. - 29. Juli 2003: Bangkok, Thailand</h2>
        <p>Nun bin ich schon 9 Wochen und 6 Tage unterwegs und morgen soll es vorbei
        sein? Ich fasse es nicht und zugleich freut sich meine Mutti wohl wie ne
        Schneekönigin, dass sie endlich für mich und Teyna wieder kochen und die Wäsche
        waschen kann (Ja Mutti, Teyna kommt doch mit nach IO, pack also bitte die
        Vegetarischen Rezepte aus!)</p>
        <p>Für alle, die schon lange nicht mehr auf dem Frankfurter Flughafen waren
        und mal wieder mit Maschinengewehren für die Sicherheit der Fluggäste sorgende
        Polizisten sehen wollen, können mich morgen, Dienstag, um 13:05 mit ner
        British Airways Maschine aus London kommend landen sehen! Taschentücher und
        Tränen sind willkommen!</p>
        <p>Was seit der letzten Rundmail gemacht wurde? Relaxen!<br/>
        Nicht schon wieder Sonne, Strand und gute Laune, werdet ihr denken, wenn ich
        euch von Railay, südlich von Krabi und nördlich von KoPhiPhi erzählen
        will, wo Teyna und ich uns hin zurückgezogen haben, nachdem uns Albrecht
        wieder Richtung Bremen verlassen hat. Aber da ist mehr: </p>
        <p>Erstens sind dort für Kletterfreunde von Mutter Natur hübsch platzierte
        riesige Felsformationen, die auch Teyna in ihren Bann und somit an ihre Wand
        zogen!</p>
        <p>Zweitens wurde dort ein Teil von dem James Bond Film “Der Mann mit dem
        goldenen Colt” gedreht!. Also ab in die Videothek und diesen Klassiker nochmal
        geniessen (inkl. Zwerg als Schurkengehilfe).</p>
        <p>Drittens habe ich es dort zweimal hingekriegt, 4 Mahlzeiten pro Tag zu
        essen: Frühstück, Mittagessen, Spätnachmittagsessen, Spätabendessen. Lecker!
        Und trotzdem passen meine Hosen noch!</p>
        <p>Momentan befinden Teyna und ich uns gerade wieder in der KhaoSan Road in
        Bangkok. Sie hat sich in den 2 Jahren seit unserem letzten Besuch hier etwas
        verändert. Ein wenig sauberer erscheint sie mir, die Geschäfte teilweise etwas
        aufgeräumter und, PFUI, ein McDonalds hat aufgemacht! Zuvor gaben wir uns
        noch einer thailändischen Massage hin, davor haben wir unser Hotelzimmer in Chinatown
        aufgeräumt und Rucksäcke gepackt, den gestrigen Abend haben wir ThaiBoxen
        angeschaut und da davor haben wir unsere Sachen wild im Hotelzimmer verstreut, quasi
        einfach alles auf den Boden mal gelegt!</p>
        <p>Thaiboxen wiederum ist so ’ne Sache: Alles ist erlaubt außer Kopfstössen!
        Also auch Tritte in die KnickKnackGegend (wobei ich denke, sie haben
        Suspensorien an), bzw man kann den Kopf des Gegners greifen (wenn er einen denn lässt)
        und ihn Richtung hochschnellendes Knie bewegen! Faustschläge sind laut
        Reiseführer die schwächste Art einen Gegner zu treffen, Tritte sind nur was zum
        aufweichen, und nur Schläge mit Knie oder Ellbogen gewinnen einen Kampf!
        Das konnte man sehen: 5 Runden, davon so die ersten 2 so als Aufwärm- und
        Kennenlernphase mit normalen Punches und etwas Gekicke, danach gehts aber in den
        InFight. Es wird geklammert und nur noch mit den Knieen in die Seite des
        Gegners getreten!</p>
        <p>Dann fängt auch das Publikum an mitzugehen! Wir als Foreigners hatten
        sowohl eigene Ticketschalter (mit großen Foreigner-Schild), eigene
        Eintrittspreise (800 Baht für uns, n paar Touris haben auch 1500 für Ringplätze bezahlt,
        aber von denen sah man viel schlechter), und auch eigene Plätze im Stadion
        von denen man die Einheimischen beim Wetten und Anfeueren beobachten konnte!
        Zum Brüllen, wie die dann am Ende von nem Kampf bei jedem Kick mitbrüllen
        (und dabei gleichzeitig noch gestikulierend Wetten abschließen).</p>
        <p>Tja, heut nacht gehts heim. Ich werde vielleicht nochmal eine
        Nachbetrachtungsemail schreiben, wenn ich alles in meinem Kopf sortiert habe. Und Teyna wird
        sicherlich dauernd Diaabende arrangieren! Wobei ich noch von keinem von euch
        gehört habe, ob er Lust auf ’ne Party am Ende des Monats August hat! Schämt
        euch!</p>
        <p>Also, ihr hört wieder von mir und ich hoffentlich von euch!</p>
        <p>Grüße an alle (auch von Teyna)!, Veeck</p>
    </section>
</article>
