---
title: März 2018, Kuba
heading: Semper Fidel
lang: de
lead: Revolution oder Urlaub
when: März 2018
where: Kuba
img: cu_18
last-modified: 2018-03-19
---
<article class="article article--capped">
    <section>
        <h2 class="h2">Prolog, Irgendwo zwischen Bielefeld und Hamm</h2>
        <p>Es ist meine feste Überzeugung geworden, dass es Schlimmeres in Zügen der Deutschen Bahn gibt als
            telefonierende Geschäftsleute oder herumnörgelnde Kinder oder irgendeine Kombination dieser beiden Spezies.
            Ein Großraumabteil, endlich gut versorgt mit Wlan, somit ein jeder ruhig und vertieft in seine
            elektronische Lektüre, kann einen effektiver martern. Denn wer sein Immunsystem kennt und Grippemeldungen
            in den Nachrichten verfolgt wird auch als Nicht-Hypochonder auf dem Rail&Fly-Weg in die lang ersehnten
            Ferien paranoid und realisiert erschreckt beim dösenden Dahingleiten durch mitteldeutsche Landschaften
            wie häufig sich geräuspert, gehustet, geniest, die Nase in Taschentücher befreit, der
            Rotz hochgezogen, generell die menschlichen Sekrete mit verschämter Vehemenz von Punkt A nach B im Körper
            befördert werden. Was bleibt einem übrig, außer dass man sich mit einer umfunktionierten Tshirt-Kanone,
            gefüllt mit aseptischen Chirurgenmasken auf den Sitz stellen und aufschreien will: "Haltet euren
            virenverseuchten Scheiss gefälligst bei euch, ich bin im Urlaub."
            In diesem Sinne: Bis bald mit mehr Nachrichten aus Kuba</p>
    </section>

    <section>
        <h2 class="h2">5. - 7. März 2018: Varadero</h2>
        <p>Keine 3 Tage sind vergangen und schon weiß ich, dass zwei Wochen selbst nur für den Nordteil Kubas nicht
            ausreichen werden. Dann wiederum bin ich mir nicht sicher, ob unser Mietwagen selbst diese kurz bemessene
            Zeit ohne Probleme überstehen wird. Aber der Reihe nach:</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/america/cu_beach'
            caption='Beach time'}}
        <p>Flug: Eurowings, wenn ihr das lest, seid gefälligst so ehrlich und schreibt bei euren Preisen auch noch hinzu, dass das
            Entertainment Programm an Bord des 10-Stunden-Fluges auch nochmal 10 Euro extra kostet. Den Aufpreis für
            einen mittelmässigen Snack und aufzugebendes Gepäck hattet ihr mir ja schon angedreht, damit hab ich kein
            Problem, stand ja so auf der Webseite im Gegensatz zu dem 10er hier. So fühle ich mich dann aber doch
            abgezockt, was auch dran lag, dass a) in den Spielfilmen Vin Diesel über- (und somit die
            Qualität unter-) proportional vertreten war und b) die Serien nur die ersten 4 Folgen aufzuweisen hatten.
            Ich will wissen, wie Westworld weitergeht, hoffentlich gibt es den Rest auf dem Rückflug zu sehen!</p>
        <p>Ankunft: in Varadero, langgezogene Landzungenstadt mit genauso laaaaaangem weißen Strand, in deren Osten
            sich die All-Inklusive-Pauschal-Touristen in ihren strandbestuhlten Hotelhochburgen so breit gemacht haben,
            dass der Teil der Stadt einen eignene Namen bekommen hat: Varadero Hotel Zone. Die Stadt an sich schafft es
            aber sich nicht ganz vereinnahmen zu lassen: es gibt nur ein, zwei Musikbars mit Coverbands
            in der Nacht, ein paar wenige Souveniergeschäfte und Restaurants, direkt dahinter dann aber die zwar vom
            Tourismus abhängige, doch ihr eigenes Leben führende Bevölkerung. So verbrachten wir dann die
            ersten zwei Nächte in einem Hinterhof Appartement unter einem Dach mit den Vermietern, getrennt durch eine
            Wand, die aber nicht ganz bis unter die Decke reichte. Spräche ich richtig Spanisch hätte ich ihren
            Problemen und Alltäglichkeiten zuhören können, so konnte ich nur den amerikanischen TV Serien lauschen.
            100 Meter waren es bis zum Strand, der dort noch keine Strandbars oder ähnlichen Kitsch hat.
            Bis zum ersten Kaffee war es weiter :-)</p>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/america/cu_che'
            caption='Not the last Che'}}
        <p>Die Dualität zeigt sich auch auf der Straße: Ja, es gibt Oldtimer aus einer anderen Zeit zuhauf, doch sowohl
            strahlend polierte Cabrios Straight-Outta-Hollywood Filmen (für die zahlenden Touristen aus besagten
            Burgen) als auch ihre gerade noch so am laufen gehaltenen Urväter, die dennoch als Taxis tagtäglich den
            Lebensunterhalt für ihren Fahrer bestreiten müssen, auch wenn der erst Freunde nach dem Weg fragen muss.
            Ihr wisst, in welchem wir meistens sassen, aber es war gut und die Bremsen funktionierten :-) Und ich
            meinte, Elektroroller gesehen zu haben, ein gute Zeichen angesichts der rußhustender Trucks, die bei uns
            Stuttgart und ganz BaWü direkt in die Fahrverbotszone katapultieren könnten.</p>
        <p>Doch ihr kennt mich, ich muss immer weiter. Also ab gen Süden, Cienfugeos, 200km weit weg, mit dem Mietauto
            dann aber doch so 4 Stunden. Kurzzeitig über eine dreispurige Autobahn (mit wenig Markierung, Abfahrten
            ohne Schilder so dass wir einfach mal über den Mittelstreifen wenden mussten, aber es war eh kaum wer
            unterwegs), die meiste Zeit jedoch über Landstraßen durch Dörfer, Pferdekutschen überholend. Gottseidank
            aber flach und gerade, so dass wir nicht wie in Costa Rica Lastwagen hinterherhecheln mussten. Insgesamt nur
            drei mal wegen falscher oder fehlender Schilder verfahren, aber ein Smartphone mit Openstreetmap wirkt hier
            Wunder, GPS sei dank.</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/america/cu_cab'
            caption='First cab drive'}}
        <p>Wieder in einem privaten Zimmer untergekommen schreibe ich diese Zeilen von einer Terasse mit Blick auf eine
            kleine palmenumringte Laguna, in der lokale Fischer ihre Böötchen festgemacht haben. Unten telefoniert die
            Mutter des Hauses, mit der ich mich nur sprachbrockend und händenutzend verständige, aber das wir Kaffee
            brauchen morgens hat sie schnell verstanden. Dazu mümmelt ein Kaninchen im Vorgartenkäfig an seinen
            Möörchen und die Hunde der Nachbarschaft tauschen ab und an auch die Neuigkeiten aus. Idyllisch...</p>
        <p>So, das wars für erste, mehr wenn ich den Jetlag überwenden habe, immer so früh müde trotz nur 5 Stunden
        Unterschied. V</p>
    </section>
</article>
