---
title: März 2018, Kuba
heading: Semper Fidel
lang: de
lead: Revolution oder Urlaub
when: März 2018
where: Kuba
img: cu_18
last-modified: 2018-03-19
---
<article class="article article--capped">
    <section>
        <h2 class="h2">Prolog, Irgendwo zwischen Bielefeld und Hamm</h2>
        <p>Es ist meine feste Überzeugung geworden, dass es Schlimmeres in Zügen der Deutschen Bahn gibt als
            telefonierende Geschäftsleute oder herumnörgelnde Kinder oder irgendeine Kombination dieser beiden Spezies.
            Ein Großraumabteil, endlich gut versorgt mit Wlan, somit ein jeder ruhig und vertieft in seine
            elektronische Lektüre, kann einen effektiver martern. Denn wer sein Immunsystem kennt und Grippemeldungen
            in den Nachrichten verfolgt wird auch als Nicht-Hypochonder auf dem Rail&amp;Fly-Weg in die lang ersehnten
            Ferien paranoid und realisiert erschreckt beim dösenden Dahingleiten durch mitteldeutsche Landschaften
            wie häufig sich geräuspert, gehustet, geniest, die Nase in Taschentücher befreit, der
            Rotz hochgezogen, generell die menschlichen Sekrete mit verschämter Vehemenz von Punkt A nach B im Körper
            befördert werden. Was bleibt einem übrig, außer dass man sich mit einer umfunktionierten Tshirt-Kanone,
            gefüllt mit aseptischen Chirurgenmasken auf den Sitz stellen und aufschreien will: "Haltet euren
            virenverseuchten Scheiss gefälligst bei euch, ich bin im Urlaub."
            In diesem Sinne: Bis bald mit mehr Nachrichten aus Kuba</p>
    </section>

    <section id="part1">
        <h2 class="h2">5. - 7. März 2018: Varadero</h2>
        <p>Keine 3 Tage sind vergangen und schon weiß ich, dass zwei Wochen selbst nur für den Nordteil Kubas nicht
            ausreichen werden. Dann wiederum bin ich mir nicht sicher, ob unser Mietwagen selbst diese kurz bemessene
            Zeit ohne Probleme überstehen wird. Aber der Reihe nach:</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/cuba/beach'
            caption='Beach time'}}
        <p>Flug: Eurowings, wenn ihr das lest, seid gefälligst so ehrlich und schreibt bei euren Preisen auch noch hinzu, dass das
            Entertainment Programm an Bord des 10-Stunden-Fluges auch nochmal 10 Euro extra kostet. Den Aufpreis für
            einen mittelmässigen Snack und aufzugebendes Gepäck hattet ihr mir ja schon angedreht, damit hab ich kein
            Problem, stand ja so auf der Webseite im Gegensatz zu dem 10er hier. So fühle ich mich dann aber doch
            abgezockt, was auch dran lag, dass a) in den Spielfilmen Vin Diesel über- (und somit die
            Qualität unter-) proportional vertreten war und b) die Serien nur die ersten 4 Folgen aufzuweisen hatten.
            Ich will wissen, wie Westworld weitergeht, hoffentlich gibt es den Rest auf dem Rückflug zu sehen!</p>
        <p>Ankunft: in Varadero, langgezogene Landzungenstadt mit genauso laaaaaangem weißen Strand, in deren Osten
            sich die All-Inklusive-Pauschal-Touristen in ihren strandbestuhlten Hotelhochburgen so breit gemacht haben,
            dass der Teil der Stadt einen eignene Namen bekommen hat: Varadero Hotel Zone. Die Stadt an sich schafft es
            aber sich nicht ganz vereinnahmen zu lassen: es gibt nur ein, zwei Musikbars mit Coverbands
            in der Nacht, ein paar wenige Souveniergeschäfte und Restaurants, direkt dahinter dann aber die zwar vom
            Tourismus abhängige, doch ihr eigenes Leben führende Bevölkerung. So verbrachten wir dann die
            ersten zwei Nächte in einem Hinterhof Appartement unter einem Dach mit den Vermietern, getrennt durch eine
            Wand, die aber nicht ganz bis unter die Decke reichte. Spräche ich richtig Spanisch hätte ich ihren
            Problemen und Alltäglichkeiten zuhören können, so konnte ich nur den amerikanischen TV Serien lauschen.
            100 Meter waren es bis zum Strand, der dort noch keine Strandbars oder ähnlichen Kitsch hat.
            Bis zum ersten Kaffee war es weiter :-)</p>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/cuba/che'
            caption='Not the last Che'}}
        <p>Die Dualität zeigt sich auch auf der Straße: Ja, es gibt Oldtimer aus einer anderen Zeit zuhauf, doch sowohl
            strahlend polierte Cabrios Straight-Outta-Hollywood Filmen (für die zahlenden Touristen aus besagten
            Burgen) als auch ihre gerade noch so am laufen gehaltenen Urväter, die dennoch als Taxis tagtäglich den
            Lebensunterhalt für ihren Fahrer bestreiten müssen, auch wenn der erst Freunde nach dem Weg fragen muss.
            Ihr wisst, in welchem wir meistens sassen, aber es war gut und die Bremsen funktionierten :-) Und ich
            meinte, Elektroroller gesehen zu haben, ein gute Zeichen angesichts der rußhustender Trucks, die bei uns
            Stuttgart und ganz BaWü direkt in die Fahrverbotszone katapultieren könnten.</p>
        <p>Doch ihr kennt mich, ich muss immer weiter. Also ab gen Süden, Cienfugeos, 200km weit weg, mit dem Mietauto
            dann aber doch so 4 Stunden. Kurzzeitig über eine dreispurige Autobahn (mit wenig Markierung, Abfahrten
            ohne Schilder so dass wir einfach mal über den Mittelstreifen wenden mussten, aber es war eh kaum wer
            unterwegs), die meiste Zeit jedoch über Landstraßen durch Dörfer, Pferdekutschen überholend. Gottseidank
            aber flach und gerade, so dass wir nicht wie in Costa Rica Lastwagen hinterherhecheln mussten. Insgesamt nur
            drei mal wegen falscher oder fehlender Schilder verfahren, aber ein Smartphone mit Openstreetmap wirkt hier
            Wunder, GPS sei dank.</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/cuba/cab'
            caption='First cab drive'}}
        <p>Wieder in einem privaten Zimmer untergekommen schreibe ich diese Zeilen von einer Terasse mit Blick auf eine
            kleine palmenumringte Laguna, in der lokale Fischer ihre Böötchen festgemacht haben. Unten telefoniert die
            Mutter des Hauses, mit der ich mich nur sprachbrockend und händenutzend verständige, aber das wir Kaffee
            brauchen morgens hat sie schnell verstanden. Dazu mümmelt ein Kaninchen im Vorgartenkäfig an seinen
            Möörchen und die Hunde der Nachbarschaft tauschen ab und an auch die Neuigkeiten aus. Idyllisch...</p>
        <p>So, das wars für erste, mehr wenn ich den Jetlag überwunden habe, immer so früh müde trotz nur 5 Stunden
        Unterschied. V</p>
    </section>

    <section id="part2">
        <h2 class="h2">8. - 11. März 2018: Cinfuegos und Trinidad</h2>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/cuba/car'
            caption='Sadly not our car'}}
        <p>Zeit die Mietwagen Problematik zu beschreiben: Ist nicht gerade günstig gewesen aber bequemer als die
            Pferdekutschen der Einheimischen und flexibler die Busse der Touristen. Keine Marke die ich
            kenne, aber auch keine abstruse Ostblock Fabrikation a la Lada. Keine Klapperkiste, aber genug Jahre auf dem
            Buckel und Schrammen im Lack um vom Sprung in der Frontscheibe nicht überascht zu sein. Aber wird der Motor warm
            nach einer Weile fahren oder parken in der Sonne, dann geht er im ersten/zweiten Gang aus, wenn man anhalten
            oder um die Kurve fahren will. An sich kein Ding, aber mulmig macht es einen schon, denn wie lange mag die
            Batterie das gut finden?</p>
        <p>So und nun versucht das mal einem Mechaniker zu erklären, der kein englisch kann während euer Sprachlevel
            sich auf Höhe "motor frio bueno" (motor kalt gut) und "caliente pffffffttttt...." (warm geht er aus in der
            Kurve im niedrigen Gang wenn ich nicht viel Gas gebe) bewegt. Natürlich bewies der Wagen auf dem
            Reperaturhof den Vorführeffekt und schnurrte wie ein Kätzchen. Egal, der Mechaniker
            fummelt ein Viertelstündchen unter der Motorhaube und kommt nickend daumenhochhaltend spanisch redend
            zurück. Was genau er gemacht hat, wissen wir bis heute nicht, gebracht hat es wie wir später feststellen
            auch nix.</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/cuba/houses'
            caption='Innenstadt Vs Wohnviertel'}}
        <p>Egal, der Wagen brachte uns schon bis Cienfuegos, er bringt uns auch noch weiter. Zum Beispiel nach Trinidad,
            Tagesauflug, Kolonialzeitstadt, Innendrin aufgehübscht für die Touristenladungen, die ein paar Stunden
            drin verbringen, Häuser ankucken, Essen aufnehmen, Fotos schiessen und wohl gerne (nicht-sexuelle) Massagen
            in Anspruch nehmen, wenn ich die vielen Salons sehe. Wir flüchten aber vor der Mittagshitze in Museen. Neben
            solche um Architektur gibt es auch einige die sich um die Revolution drehen, nicht nur mit Bildern sondern
            auch Waffen, Plänen, abgeschossenen oder erbeuteteten Teilen oder ganzes Gerät aus der Luft, Erde oder vom Wasser.
            Passt zu den zahlreichen Revolutionsdenkmälern am Strassenrand.</p>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/cuba/house'
            caption='Vs Excentric'}}
        <p>Natur muss auch mal sein, natürlich, also mal beim Stadtbummel durch Cienfuegos einen Ausflug zu "El Nicho"
            gebucht, Wasserfälle und Pools zum drin plantschen in den Bergen umgeben von Urwäldern. Auch hier wie zuvor: Vor
            den Touristenmengen da sein oder von Rrrrrramon, unserem Guide, die abgelegenen Ecken gezeigt zu bekommen
            um nicht mit Dutzenden Italienern das Wasser zu teilen. Er war eh ein guter, viele Sachen wie Bäume und Vögel
            gezeigt wie man es erwartet, aber auch mal in einem Dorf angehalten, die Rationenausgabestelle der Regierung
            vorgestellt bekommen, wo die Nachbarn festgelegte Lebensmittel und anderes bekommen: wie ich mir naiv den
            Sozialismus vorgestellt habe.</p>
        <p>Aber Rrrramon erzählte auch aus dem eigenen Leben, wieviel seine Frau als studierte Lehrerin im Monat
            verdient (25 EUR) und wie sie daneben noch Nachhilfe gibt, damit es reicht. Wie Mediziner ins Ausland
            geschickt werden um Teile des Gehalts heim an den Staat zu überweisen. Wie Honecker damals die
            riesige Zementfabrik am Horizont als Völkerverbindungszeichen hergeschickt hat. Wie man nach x jahren
            Arbeit für den Staat eine Appartement-Wohnung bekommt etc. Freundlich, und hilfsbereit, so war nicht nur
            Ramon, auch die anderen Kubaner, die wir trafen und mit uns händeringend sprachen. Aber über Politik oder gar
            kritische Wörter über ihre Lebenssituation, die hörten wir nicht, genau wie die Revolution siegerüblich in
            den Museen entsprechend geschrieben wurde. Wenn dann muss man wohl zwischen den Zeilen lesen, wobei ich kein
            guter Zuhörer bin. Aber machen wir uns nichts vor: Es ist keine Demokratie trotz Kommunalwahlaushängen.</p>
        {{> figure-travel
            class='figure--right figure--landscape'
            img='/img/travel/cuba/pina'
            caption='Been there, done that'}}
        <p>Von Musik und Party lassen sich die Kubaner aber nicht abhalten und abends folgten wir Rrramons Club-Tip ins
            "Costa Sur". Von außen eher wie ein Gemeindezentrum erscheindend, war es das wohl auch, denn im Innenhof sah
            es genauso aus, wo Bühne und Bar aufgebaut waren und uns beschallten und beschwingten. Ersteres mit
            Coverbandsongs aus Aus- und Inland unterbrochen von einem kleinen aber feinen Karaokeintermezzo lokaler
            Songs. Dazu genehmigten wir uns Cuba Libres, in denen der Rum sich und mich breit wie deine Mutter machte
            und die Cola eher nur so als kleine Trübung darin zu erkennen war :-) Derweil die Kubaner an sich gleich eine
            ganze Flasche Havanna Club kaufen und mittig auf ihren Tisch stellen. So macht man sich Freunde und
            folgerichtig konnte auch ich mich dem Tanzen nicht ganz verschliessen. Neidisch bin ich aber bis heute auf die
            Hüftschwünge der alten Männer dort. Wenn ich je eine künstliche bekomme, lass ich mir nen Schrittmacher
            dazu einbauen!</p>
        <p>Morgen ziehen wir dann weiter gen Schweinebucht, ein Name, den einige von euch vielleicht schon gehört haben.
            Ob er hält was er verspricht erfahrt ihr demnächst. Bis dahin, Veeck</p>
    </section>

    <section id="part3">
        <h2 class="h2">11. - 14. März 2018: Schweinebucht</h2>
        {{> figure-travel
            class='figure--left figure--portrait'
            img='/img/travel/cuba/'
            caption=''}}
        <p></p>
    </section>
</article>
