---
title: März 2005, Florida, USA
heading: Southside
lang: de
lead: A date outside the family
when: März 2005
where: Florida / USA
img: us_05
last-modified: 2012-01-13
---
<article class="article article--capped travel__article">
    <section>
        <h2 class="h2">6. - 8. März 2005: Tallahassee</h2>
        {{> figure-popup
            class='figure--right figure--portrait'
            img='/img/travel/america/us_bike'
            caption='Bicycles are highly valued here'}}
        <p>Howdy Freunde und alle die dachten oder hofften, sie wären es nicht mehr!</p>
        <p>Kein halbes Jahr ist nun wieder vergangen und ich bin schon wieder raus aus
        Deutschland, es scheint, als ob ich es da nicht aushalten kann (nicht dass
        es an euch liegen würde). Egal, aufmerksame Verfolger meines Lebens wissen,
        wo es mich hinverschlagen hat, nämlich dorthin wo sie mehr Parkplätze als
        Sozialleistungen haben, die Autos mehr schlucken als Klaus Löwitsch Alkohol,
        der Präsident dümmer als erlaubt ist und das Essen mehr Fett als
        AnnaNicoleSmith zu Ihren besten Zeiten hat. Ach, und Teyna macht ihren PhD
        jetzt hier in Tallahassee, Florida, USA, USA, USA, USA, USA!</p>
        <p>Ich entschuldige mich für den letzten Gefühlsausbruch, aber mit all den
        Flaggen und patriotischen Postern um einen herum, die einen schon beim
        Einreisen empfangen, fällt es schwer, die gute Alte-Europa-Haltung
        durchzuziehen, die uns soviel Anerkennung in Amerika einbrachte.</p>
        <p>Zurück zum alltäglichen: Der Flug von Frankfurt nach Charlotte war relativ
        unaufregend, was jetzt Missgeschicke meinerseits betrifft, also keine
        aufgeplatzten Wasserflaschen, verlorene Jacken etc. Aufgeregt hab ich mich
        nur, dass USAirways 5 Euro verlangt, wenn man einen Kopfhörer fürs
        Bordprogramm braucht. Wenn man seinen eigenen hat, kann man den zwar auch
        einstecken, aber dann hat man nur auf einer Seite Ton, da die Halsabschneider
        anscheinend ihre Buchsen etwas modifiziert haben. Drecksbande! Dass sie auch 5 Euro pro
        alkoholischem Getränk verlangen, ist da schon fast verständlich zu
        nennen, bei so nem Präsidenten würde ich mich auch hemmungslos besaufen,
        wenn ich wieder ins Land einreise.</p>
        <p>Aber ich schwelge wieder in AltEuropäischen Ressentiments, zurück nach
        Charlotte: Nachdem ich meine Fingerabdrücke für spätere
        Terrorismusbekanepfung hinterlassen hatte, konnte ich einigermaßen schnell
        meinen Hintern und den eingeschmuggelten Schwarzwälder Schinken zum
        nächsten Flieger nach Tallahassee bringe, da dieser schon mit laufenden
        Motoren wartete. Woher ich das weiß: a) Sass ich direkt daneben b) bin ich
        nicht über eine Gangway eingestiegen sondern aus dem Terminal durch ne Tür
        raus aufs Rollfeld mit dem StewardessFinger auf eine Maschine gewiesen
        worden, die für mich eher nach PrivatJet aussah, so klein war sie. Da
        machte dann auch Sinn, dass ich auf meiner Bordkarte trotz Wunsch nach einem
        Sitz am Gang ein grosses A als Sitznummer prange hatte. ES GAB NUR 3 SITZE
        PRO REIHE! Dass meine Reihe 18 die hinterste war kann nun jeden darauf
        bringen, wieviele Leute in dem Flugzeug Platz hatten und warum ich direkt
        neben der Turbine sass. Aber superangenehm der Flug, was auch daran lag,
        dass ich nicht aufs Klo musste, welches dummerweise kaputt war. Teyna und
        andere Frauen mit Konfirmantenblase hätten also gestresst auf das Ende des
        Fluges gewartet...</p>
        {{> figure-popup
            class='figure--left figure--landscape'
            img='/img/travel/america/us_garden'
            caption='The beautiful backyard where I stayed'}}
        <p>Ok, genug für jetzt, es sei noch kurz gesagt, das ich in einer Beziehung
        nicht mehr Jungfrau bin: Mein Gepäck hat es leider nicht zeitsynchron mit
        mir nach Tallahassee geschafft, aber am Tag drauf hab ich es wieder bekommen
        (und sogar mit einem Zettel der Zollbehörde drin, dass sie mal nen Blick
        drauf geworfen hätten, aber geklaut haben sie nix, die guten Jungs von
        Heimatfront). Die Gastfamilie von Teyna ist bombastisch und versorgt uns mit
        allem was wir brauchen: Gutes Essen, Amerikanisches Bier (Es gibt “Becks
        Dark” hier, brrrrrr), Katzen zum Kraulen und einer liberalen Einstellung
        (“Jeb Bush ist nach Indonesien gereist, um dem Opfern des Tsunamis zu
        helfen, da kann er hier wenigstens nichts in der Zeit kaputtmachen”).</p>
        <p>Also seid gespannt was uns noch widerfährt, wir fahren heut erstmal nach
        Tampa, noch mehr Sonne tanken (20 Grad Baby!!!!)</p>
        <p>Tshirt-tragend, Veeck</p>
        <p>PS: Susi, die Ergebnisse deines Tipps lauten: Die zweite schon auf die erste
        verschoben, dafür gestern nichts.</p>
    </section>

    <section>
       <h2 class="h2">9. - 11. März 2005: Tampa</h2>
       <p>Nach 5 Tagen denke ich es ist schon an der Zeit, erste Bilder in das Land zu
        schicken, wo in den Zoos die Tier nicht zu Patriotismusbezeugungen
        herangezogen werden, wie in dem schönen Bild hier zu sehen ist.<br/>
        Das dritte Bild wurde am Strand von Tampa aufgenommen, Clearwater um genau
        zu sein. Ich werde es wohl nochmal besser zusammensetzen und dann auf meine
        Webpage packen, genau wie die anderen Zeugnisse meiner Erkundungen. Passend
        dazu: Macht es wirklich Spass das alles zu lesen? Unterhält es euch? Wäre
        jemand so blöd dafür Geld zu zahlen? Denn wenn es mit meiner
        Informatikkarriere und dem Friedensnobelpreis nix wird, wie wäre es mit
        einer in der schreibenden Branche? Immerhin hat es dort auch eine Kategorie
        in Stockholm, denn seien wir mal ehrlich: Mit meinem abgebrochenen
        Chemiegrundkurs wird es in der Rubrik wohl nix und noch gibt es keine
        Kategorie “Bester Name”!</p>
        {{> figure-popup
            class='figure--right figure--portrait'
            img='/img/travel/america/us_interstate'
            caption='One straight road'}}
        <p>Nun, zurück zum Urlaubsablauf: Nach der Eingewöhnungszeit bei Teynas
        Gastfamilie und einem halb-romantischen Geburtstagsessen bei einem Chinesen
        (inkl. Zubereitung der Speisen vor einem auf nem Grill mit Jonglier und Eier
        durch die Gegendwirbeln Einlagen) sind wir Dienstag nach Tampa aufgebrochen.
        Auf dem nächsten Bild könnt ihr euch einen Eindruck davon machen, was ich 4
        Stunden sehen musste, nur gelegentlich unterbrochen von kleinen Städten mit
        FastFood und Baumärkten. Diese aufregende 4 Stunden Fahrt nach Süden nahmen
        wir auf uns, da es dort noch wärmer sein und besseres Wetter als in Tallahassee
        haben sollte. Pustekuchen, Mittwoch hat es aus Eimern geschüttet! Egal, dafür
        gibt’s ja IMAX-Kinos und Museen.</p>
        <p>Aber die Straßen hier: Gerade ist kein Ausdruck dafür, AM
        GERADESTEN trifft es eher: Manchmal sieht man ja in Roadmovies eine Straße
        die bis zum Horizont geht, diese werden jedoch meistens durch ein paar auf
        und abs in der Landschaft unterbrochen. Nicht so die Straße nach Tampa: Die
        ist gerade UND flach UND nur ab und zu werden die Bäume auf der Seite von
        ner Hofeinfahrt unterbrochen. Und das schlimmste: Das ist die sog. Scenic
        Route, also die schönere Straße, wie aufregend also die Interstate nach
        Tampa ist, will ich garnicht wissen. Egal, Ami, die Tochter unser
        Gastfamilie wohnt in Tampa, zeigte uns den Strand, lud uns zum Essen ein und
        hat den knuddeligsten kleinen Kater der Welt. Donnerstag Abend ging’s auf
        der gleichen nervenzermürbenden Strasse wieder zurück, nur unterbrochen von
        einem Ausflug in den Zoo, der Seekühe zur Beobachtung anbietet. Und wieder
        wurde ein Klischee bestätigt: Florida ist das Land, wo alte Amerikaner zum
        Sterben hinkommen. Nicht dass wir einen haben von uns gehen sehen, aber wir
        waren dort mit Abstand die jüngsten im Zoo (vielleicht noch ein paar der
        Tier, aber wer weiß dass schon bei den Falten, die die Seekühe haben). und
        überall sind Trailerparks mit Wohnmobilen zu sehen (keine gelben
        Nummerschilder).</p>
        {{> figure-popup
            class='figure--left figure--landscape'
            img='/img/travel/america/us_eagle'
            caption='Patriotic bird'}}
        <p>Back to Business ist jetzt wieder in Tallahassee angesagt: Teynas Prof ist
        wieder im Lande mit einem Tag Verspätung, da die Immigration in Charlotte
        bei ihm so lange gedauert hat, dass er den Flieger verpasst hat, den ich
        gerade noch so mit laufendem Motor erwischt hab. Noch schnell die Chance ausgenutzt
        und ins Kino gefahren und was erwartet uns in den kommenden Monaten: Eine Neuverfilmung
        von Hitchikers Guide to the Galaxy! Amerikan Style mit MosDef und Kolossalstes
        laut Trailer. Wer denkt noch, dass das nix wird? Alle? Dachte ich mir! Außerdem wird
        gerade Ice Age 2 gemacht, vor “Robots” lief ein ScratchTeaser. Robots an sich ist
        aus einer Effektperspektive super, die Story aber zu dünn um ihn wirklich großartig
        zu machen. Für 6 Dollar (Schluck dass Cinemaxx!) ein guter Sonntag-Abend, aber
        aufgepasst: Immer vorher fragen, ob das verkaufte Popcorn auch mit Zucker zu haben ist,
        denn hier haben sie nur salziges! Bäh! Also 3 Dollar zum Fenster rausgeschmissen, was
        aber mit 9$ immer noch zu verkraften ist.</p>
        <p>Jetzt gehts ab in die Stadt (wenn die so überhaupt zu nennen ist, hier hats
        Straßen und Geschäfte aber keine Downtown an sich) und ich erkundige mich
        beim ComputerDepartment nach PHD-Möglichkeiten.</p>
        <p>Drückt die Daumen, ich drück euch!</p>
        <p>Grüße, V</p>
    </section>

    <section>
        <h2 class="h2">11. - 14. März 2005: Mobile, Alabama</h2>
        <p>Freunde der deutschen Esskultur, momentaner Aufenthaltsort: Mobil, Alabama,
        Südstaatenterritorium des Lands der unbegrenzten Autostraßen zu berichten.
        Unbegrenzt ist in der Tat das richtige Wort für die Straßen hier, da ich
        auf dem Weg in das Starbuck Kaffee, in dem ich diese Email schreibe, einen
        Highway überkreuzen musste. Dummerweise gibt es nun mal keine Bürgersteige
        hier an jeder Straße und erst recht nicht am Airportdrive wie die Straße
        hier heißt. die mich über die Interstate in das geliebte Kaffeeland bringen
        sollte. Also folgte ich den lokalen Gebräuchen und ging die 50 Meter über
        die Brücke auf dem Standstreifen, 30cm feinster Asphalt direkt neben der
        Hauptstraße. Keineswegs rebellisch das ganze, da mir ein älterer Mann
        entgegen kam und wenn dieser es mit seinen Reflexen schafft, dann ich erst
        recht mit meinen jungen Beinen und Sehnen.</p>
        {{> figure-popup
            class='figure--right figure--landscape'
            img='/img/travel/america/us_trucks'
            caption='Junkyard or Art?'}}
        <p>Jetzt sitz ich hier also und denke drüber nach, ob wie ich wirklich 3 Jahre
        hier verbringen kann. Es ist definitiv kein Land in dem ich meine Kinder,
        sollte ich jemals jemanden schwängern (und was bis jetzt auch nicht passiert
        ist), großziehen will, zu sehr bin ich dann doch von meinen Eltern
        europäisch erzogen worden und verabscheue die Breite in diesem Land.
        Straßen sind breit, die Orte sind breit, die Leute natürlich erst recht,
        ABER Mädels, solltet ihr nach Amerika reisen, dann fühlt euch nicht schon in
        der ersten Woche breit und dick, da, so meine Beobachtung hier, alle
        Toilettenschüsseln in den Waschräumen dieser Nation kleiner als ihre
        europäischen Vettern sind. Wenn euch also eure Hinterteile beim ersten
        Klobesuch fett und die Sitzhaltung unbequem vorkommen, dann seid ihr es
        nicht, die zugenommen habt. Warum sich die amerikanischen Verbraucher- und
        Antidiskriminierungsorganisationen noch nicht vor dem SupremeCourt darüber
        aufgeregt haben, ist mir ebenfalls ein Rätsel!</p>
        <p>Ok, warum nun Mobil? Teyna besucht hier eine Konferenz und da uns unsere
        Zeit kostbar ist, fuhr ich mit. Zur WelcomeReception und Keynote war ich
        zwar nicht eingeladen, aber da ich mit einer Teilnehmerin auf regulärer
        Basis schlafe, habe ich mich frech mit eingeladen und Essen und Trinken
        abgestaubt. Es ist eine recht kleine Konferenz und so wurden wir alle noch
        zum Haus des Co-Chairs Kathy eingeladen, die auch für das Buffet der Welcome
        Reception verantwortlich war und als sie merkte, dass sie zuviel bestellt
        hat, alle noch vorhandenen Teilnehmer aufforderte sich HamSandwiches zu
        schmieren und alles mitzunehmen weil es sonst weggeschmissen werde. Dies führte
        zu einem Engpass an Plastiktüten, da nicht nur wir (8 Leute), sondern
        anscheinend alle auch für die nächsten Tage ihre Mittagessen auf Vorrat
        mitnahmen. Unser selbstgemachtes Frühstücksbuffet heute morgen war
        dementsprechend üppig und natürlich 100% aus gestrigen Resten
        zusammengestellt.</p>
        {{> figure-popup
            class='figure--left figure--portrait'
            img='/img/travel/america/us_swamp'
            caption='Swamp impression'}}
        <p>Die Keynote war nebenbei interessant und gab dem Softwareentwickler in mir
        zu denken: Zu selten werden bisher Forschungsergebnisse aus dem
        Lehrforschung und ähnlichen Gebieten in die Informatik mit übernommen und
        eingearbeitet. Deshalb die Frage an euch ITler: Womit denkt ihr werden
        bessere Ergebnisse erzielt: Wenn man z.B. bei einem Tutorial nur Texthilfen
        einblendet oder wenn man das ganze einzig als Audio vorspielt? Die Antwort
        im nächsten Brief.</p>
        <p>Bis dahin verbleibe ich grüßend und nachher bei 22 Grad in den Hotelpool springen, WildBillHickHockVeeck</p>
        <p>PS: Susi: 1</p>
        <p>Nachtrag 1: Ok, ich bin noch nicht am Pool, sondern in einer Sportsbar, wo
        ich neben einem Bier eine Auswahl an Cheesesticks und danach eine kleine
        Menge an Barbecue SpareRibs verdrücken werde. Life IS good. Dazu läuft im
        Hintergrund NCAA Basketball, ich habe neue Schuhe, Jackass und SCATWOT auf
        DVD und gemerkt, dass dies als Konsum ausreichend ist. Eigentlich sollte
        hier noch eine Kritik am Konsumverhalten der westlichen Zivilisation stehen,
        aber da ich selber heute daran teilnahm, muss diese wohl noch mal
        überarbeitet werden.</p>
        <p>Nachtrag 2: Sonja, alles Gute zum Geburtstag, sorry, dass es ein bisschen zu spät
        ist, aber hier in der amerikanischen Zeitzone ist ja noch der 12.  ;-)</p>
        <p>Nachtrag 3: Der Pool war eiskalt!!</p>
        <p>Nachtrag 4: Susi, 2</p>
    </section>

    <section>
        <h2 class="h2">15. - 26. März 2005: Tallahassee</h2>
        <p>Wenn das Wetter ein Anzeichen sein soll, Freunde der Hobbymeterologie, ob
        die Stadt Tallahassee mich mag oder nicht, so scheint es, dass Tallahassee
        eine Frau ist und schwere Gemütsschwankungen aufgrund von zyklisch
        wiederkehrenden Körperfunktionen hat: Am Samstag Sonne satt, Sonntag
        bedeckt und heute abend regnet es aus einem so starken Gewitter heraus, dass
        nur knapp an einem Tornado vorbeischrammt und den Abendhimmel strahlendhell
        mit Blitzen erleuchtet.</p>
        <p>Nun, jedes Wetter hat seine Vorteile, lasst sie mich aufzählen:
        Samstag sind wir an den Wakalla-River (Rechtschreibung bei diesem Wort not
        included) gefahren und haben uns ein Kajak zu zweit gemietet, um auf diesem
        sumpfumgebenen Fluss, Tiere und Landschaft zu bewundern. Sven und Posti, ihr
        dürftet euch noch an den einzigen anderen Kajakausflug erinnern, den ich je
        mache: </p>
        {{> figure-popup
            class='figure--right figure--landscape'
            img='/img/travel/america/us_sunset'
            caption='Greatest Sunset Ever'}}
        <p>Bodensee in den 90ern, 3er Männerurlaub, 5 Minuten, die wir versuchten ins
        Kajak zu kommen und in nassen Klamotten und ebenso durchweichten,
        intelligenterweise mitgenommenen Geldbörsen endeten. Nun,
        diesmal war ich schlauer und geschickter und habe weder meine Brieftasche
        mitgenommen noch direkte Bekanntschaft mit der Wasseroberfläche gemacht.
        Ausbeute des Paddelns waren zig Wasserschildkröten (scheu und nur bis auf 2
        Meter annäherbar), ein Minikrokodil (nicht so scheu, auf 50 cm annäherbar,
        aber dafür hat dieses wohl auch schärfere Zähne, ein stärkeres
        Bewusstsein über diese und evtl sogar einen stärkeren Appetit auf
        Tourizähne) und ein Muskelkater bei Teyna.</p>
        <p>Sonntag sollte unser Ausflug an den Strand stattfinden, der zwar stattfand,
        aber braun werden konnte man nicht, es sei denn man hätte in seinem
        Autoanhänger ein Solarium eingebaut (wobei ich glaube dass einige der
        Trailer, die hier herumfahren sogar zwei Solarien drin haben plus eine Sauna
        für 5 Personen). Ausbeute dieses Tages war ein unglaubliches gutes Essen in
        einem Fischrestaurant (in welches ich unsere Gastfamilie einlud) sowie ein
        noch unglaublicherer Sonnenuntergang, welchen ich großzügigerweise und
        fotografisch unbearbeitet, wie ich anmerken möchte, anhänge.</p>
        <p>Nun, heute habe ich meine Gastfamilie (und Teyna natürlich) noch einmal
        verwöhnt, diesmal mit einem Gericht, was einige von euch schon zu fürchten
        gelernt haben: Chili Con Carne (bzw Sine für Teyna). Das Schwitzen lässt
        einen den Regen draußen vergessen und annehmen, man wäre in der
        Mittagshitze von MexikoCity und alle Eiswürfel wären des Landes verwiesen
        worden.</p>
        {{> figure-popup
            class='figure--left figure--portrait'
            img='/img/travel/america/us_oven'
            caption='The Oven from Hell'}}
        <p>Apropos Kochen: Kauft euch keine Sears-Herde in Amerika. Folgendes passierte
        mir, als ich Cookies backen wollte, die hier absolut idiotensicher im
        Supermarkt zu kaufen sind. Das man nur die Packung aufzureißen hat und man
        den darin enthaltenen Teig noch mit etwas Milch anrühren muss, hat der eine
        oder andere ja schon in Deutschland gesehen bzw sogar selber gemacht, wenn
        die Zeit bis zur Geburtstagsparty des besten Freundes etwas knapp war. Diese
        Cookies, Freunde der Hausmacherkunst, gehen einen Schritt weiter: Man
        musste diese nur noch aus der Packung nehmen, auf ein Blech legen und ab in
        den Ofen für 15 Minuten. Das wars! Nichts beizugeben oder anzurühren.
        Vorportionierte, backfertige Teigstücke, mehr ist nicht zu tun. Der letzte
        logische Schritt ist eine Verpackung, die auf Knopfdruck den Teig bäckt und
        die Kekse ausspuckt.</p>
        <p>Doch zurück zum Herd: Alle Vorbereitungen waren erledigt, was also Schere
        nehmen, Packung aufschneiden und Teigstücke auf dem Blech verteilen
        beinhaltet. Nur noch den Ofen auf 350 Grad Fahrenheit vorheizen, was
        aufgrund des Displays mit all den tollen Knöpfen, welches mehr an eine
        Konsole aus Raumschiff Enterprise als an eine irdische Kochstelle denken
        lässt, auch kein Problem ist: Vorheizen auswählen, Start drücken und
        warten. Das im Display angezeigte “Preheat” erlosch dann auch nach wenigen
        Minuten mit einem lieblichen “Ping!” um zu zeigen, dass der Ofen bereit war,
        die Kekse aufzunehmen. Das war er wohl nicht wirklich, denn um schon das
        Ende vorwegzunehmen: Wir backten letztendlich die Kekse im Ofen der
        Nachbarin, einer liebenswerten älteren Urugayanerin, die mich nun zum
        Spanischlernen jederzeit willkommen heißt. Denn das Problem, welches nach
        dem Vorheizen auftrat, war: Die Tür des Ofens, die elektronisch
        verschlossen wird, ging ums Verrecken nicht mehr auf!<br/>
        Alles was der Ofen anzeigte war ein Fehlercode im Display (zur Info: E1F3),
        der von der Servicehotline nicht interpretiert werden konnte, die im
        übrigen außer einen kostenpflichtigen Mechaniker zu schicken (der heute da
        war und eine 200$ Reparatur veranschlagte) als Hilfe nur anbieten konnte,
        dem Ofen einfach mal den Saft abzudrehen und quasi einen Reboot vorzunehmen!
        Das hat auch nix geholfen und die Strg-Alt-Delete-Taste hab ich auch nicht
        finden können! Eine elektrische Türverriegelung in der Ofentür, wer immer mit dieser Idee
        aufkam, hat seine Erfindung nie benutzt. Die Kekse waren im übrigen gut!</p>
        {{> figure-popup
            class='figure--right figure--portrait'
            img='/img/travel/america/us_coast'
            caption='Sentimental, I know'}}
        <p>Jetzt zum sentimentalen Teil der Email, da ich nun schon von einigen von
        euch die Frage gestellt bekommen habe, ob ich jetzt für immer hier bleibe:
        Nein, noch nicht. Diesen Donnerstag flieg ich wieder zurück nach
        Deutschland und werde wie gehabt bei Haufe weiterarbeiten. Wie lange weiss
        ich aber noch nicht, denn einen Job fand ich hier (noch) nicht, die
        Greencard ist weiter in der Schwebe (bei einer Chance von 5%, dass ich
        überhaupt eine bekomme) und an der Uni muss ich mich noch erst bewerben.
        Erster Schritt zu letzterem ist der sog. TOEFL-Test morgen, den ich wohl
        auch ohne zu lernen bestehen werde. Aber auch wenn ich von der Uni
        angenommen werde, so gehe ich darauf nur ein, wenn die Finanzierung stimmt,
        will heißen, dass ich mich nicht verschulden muss, um mein Doktorstudium
        abzuschließen (und ich Mutter und Vater nicht schon wieder auf der Tasche
        liegen muss, schließlich freut sich Vatern schon auf den Ruhestand und
        darauf, Muttern in einen Flieger nach Peking zu schleifen).</p>
        <p>Schwere Entscheidungen stehen also noch an und ich weiss selber nicht wohin
        es gehen wird, bleibt gespannt, auch auf mein vorläufiges
        TOEFL-Testergebnis, welches ich morgen gleich nach dem computergesteuerten
        Test erfahre.</p>
        <p>Bleibt sonnig, Veeck</p>
        <p>PS: Susi, Teyna hat mir das Zählen verboten!</p>
        <p>PS: Shout out to Andre B for going to Marburg! Talside rules!</p>
    </section>
</article>
