---
layout: layout__simple
title: Blog
heading: blog
posts: ['README.md']
img: blog
---
<article class="article">

    <h1 class="h1">Posts</h1>
    {{#each posts}}
        {{md this}}
    {{/each}}

</article>
