---
title: Veeck
heading: veeck
lang: en
lead: computerschlampe / hoffotograf / terrorpoet
img: index
img-color: 5a8106
last-modified: 2017-03-06
---
<article class="article">

    <section>
        <h2 class="h2">what is this</h2>
        <p>Welcome to my private homepage. you can take the title as a strong hint on what you can find here:</p>
        <ul class="article__list">
            <li>as a geek I use this page as a playground for trying out programming stuff, mostly html5/css3/js</li>
            <li>the photographer wants to show of his pictures from around the world</li>
            <li>and the terrorpoet writes his travel diraries down and posts them here</li>
        </ul>
    </section>

    <div class="grid grid--12">
        <section class="section__box grid__section--12x1">
            <h3 class="h3">what you can read</h3>
            <div class="galleryBox">
                {{> img-button
                    caption='Cuba 2018'
                    class='galleryBox__item'
                    img='/img/backgrounds/cu_18'
                    href='travel_18_cuba'}}
                {{> img-button
                    caption='Greece 2017'
                    class='galleryBox__item'
                    img='/img/backgrounds/gr_17'
                    href='travel_17_greece'}}
                {{> img-button
                    caption='Costa Rica 2015'
                    class='galleryBox__item'
                    img='/img/backgrounds/cr_15'
                    href='travel_15_costarica'}}
                {{> img-button
                    caption='Marokko 2015'
                    class='galleryBox__item'
                    img='/img/backgrounds/ma_15'
                    href='travel_15_marokko'}}
                {{> img-button
                    caption='Tansania 2007 again'
                    class='galleryBox__item'
                    img='/img/backgrounds/tz_07b'
                    href='travel_07_tansania2'}}
                {{> img-button
                    caption='Tansania 2007'
                    class='galleryBox__item'
                    img='/img/backgrounds/tz_07'
                    href='travel_07_tansania'}}
                {{> img-button
                    caption='Ukraine 2006'
                    class='galleryBox__item'
                    img='/img/backgrounds/ua_06'
                    href='travel_06_ukraine'}}
                {{> img-button
                    caption='Panama 2005'
                    class='galleryBox__item'
                    img='/img/backgrounds/pa_05'
                    href='travel_05_panama'}}
                {{> img-button
                    caption='USA 2005'
                    class='galleryBox__item'
                    img='/img/backgrounds/us_05'
                    href='travel_05_usa'}}
                {{> img-button
                    caption='Japan 2004'
                    class='galleryBox__item'
                    img='/img/backgrounds/jp_04'
                    href='travel_04_japan'}}
                {{> img-button
                    caption='Thailand 2003'
                    class='galleryBox__item'
                    img='/img/backgrounds/th_03'
                    href='travel_03_asia'}}
                {{> img-button
                    caption='Indonesia 2003'
                    class='galleryBox__item'
                    img='/img/backgrounds/in_03'
                    href='travel_03_ind'}}
                {{> img-button
                    caption='New Zealand 2003'
                    class='galleryBox__item'
                    img='/img/backgrounds/oz_03'
                    href='travel_03_nz'}}
                {{> img-button
                    caption='USA 2003'
                    class='galleryBox__item'
                    img='/img/backgrounds/us_03'
                    href='travel_03_usa'}}
                {{> img-button
                    caption='Australia 2001'
                    class='galleryBox__item'
                    img='/img/backgrounds/oz_01'
                    href='travel_01_as'}}
                {{> img-button
                    caption='Thailand 2001'
                    class='galleryBox__item'
                    img='/img/backgrounds/th_01'
                    href='travel_01_thai'}}
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what do I do</h3>
            <div class="galleryBox">
                {{> img-button
                    caption='G4PC'
                    class='galleryBox__item'
                    img='/img/backgrounds/g4pc'
                    href='personal_g4pc'}}
                {{> img-button
                    caption='MagicMirror'
                    class='galleryBox__item'
                    img='/img/backgrounds/magicmirror'
                    href='personal_magicmirror'}}
                {{> img-button
                    caption='Radio show'
                    class='galleryBox__item'
                    img='/img/backgrounds/radio'
                    href='personal_radio'}}
                {{> img-button
                    caption='University research'
                    class='galleryBox__item'
                    img='/img/backgrounds/research'
                    href='personal_research'}}
                {{> img-button
                    caption='Software project'
                    class='galleryBox__item'
                    img='/img/backgrounds/software'
                    href='personal_software'}}
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what do I see</h3>
            <div class="galleryBox">
                {{> img-button
                    caption='360 degrees'
                    class='galleryBox__item'
                    img='/img/backgrounds/360'
                    href='panorama_360'}}
                {{> img-button
                    caption='Big pictures'
                    class='galleryBox__item'
                    img='/img/backgrounds/big'
                    href='panorama_big'}}
                {{> img-button
                    caption='Cities'
                    class='galleryBox__item'
                    img='/img/backgrounds/city'
                    href='panorama_cities'}}
                {{> img-button
                    caption='Friends'
                    class='galleryBox__item'
                    img='/img/backgrounds/friends'
                    href='panorama_friends'}}
                {{> img-button
                    caption='Perspective'
                    class='galleryBox__item'
                    img='/img/backgrounds/perspective'
                    href='panorama_perspective'}}
                {{> img-button
                    caption='Skyscraper'
                    class='galleryBox__item'
                    img='/img/backgrounds/sky'
                    href='panorama_skyscraper'}}
                {{> img-button
                    caption='World'
                    class='galleryBox__item'
                    img='/img/backgrounds/world'
                    href='panorama_world'}}
                {{> img-button
                    caption='More friends'
                    class='galleryBox__item'
                    img='/img/backgrounds/people'
                    href='personal_friends'}}
            </div>
        </section>

        <section class="grid__section--12x1">
            <div id="adframe" class="adframe">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Homepage -->
                <ins class="adsbygoogle"
                     data-ad-client="ca-pub-8245757393003756"
                     data-ad-slot="1139417350"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">where have I been</h3>
            <figure class="figure">
                <!-- http://www.world66.com/community/mymaps/worldmap/CUGRCRBEFRHRDEJPLUHUBRSGTZPTIDNZPATHROPLVACHITCZAUATNLIECVESMCMYUSUKUAMA.gif -->
                <img src="/img/travel/worldmap.png" alt="A map of the countries I have visited so far" class="worldmap">
                <figcaption class="figure__caption figure__caption--highlighted">visited: 36 / 195 (18%)</figcaption>
            </figure>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what has changed</h3>
            <ul class="article__list changelog">
                {{> changelog-item
                    label='Added second entry for'
                    link='travel_18_cuba.html'
                    linkText='Cuba'
                    time='2018-04-02'}}
                {{> changelog-item
                    label='Added React project'
                    link='personal_software.html#hulai'
                    linkText='How unlucky am I?'
                    time='2017-12-07'}}
                {{> changelog-item
                    label='Added diary of'
                    link='travel_17_greece.html'
                    linkText='Greece'
                    time='2017-11-10'}}
                {{> changelog-item
                    label='Added Hardware project'
                    link='personal_magicmirror.html'
                    linkText='Magic Mirror'
                    time='2017-07-09'}}
                {{> changelog-item
                    label='Added first entry for'
                    link='travel_15_marokko.html'
                    linkText='Marokko'
                    time='2017-03-06'}}
                {{> changelog-item
                    label='Updated Hardware project'
                    link='personal_g4pc.html#2k16'
                    linkText='G4PC'
                    time='2017-01-12'}}
                {{> changelog-item
                    label='Added diary of second trip to '
                    link='travel_07_tansania2.html'
                    linkText='Tanzania'
                    time='2016-01-31'}}
                {{> changelog-item
                    label='Added diary of'
                    link='travel_15_costarica.html'
                    linkText='Costa Rica'
                    time='2015-10-19'}}
                {{> changelog-item
                    label='Added link to'
                    link='personal_software.html#github'
                    linkText='Github'
                    time='2015-10-19'}}
            </ul>
        </section>
    </div>

</article>
