---
title: Veeck
heading: veeck
lang: en
lead: computerschlampe / hoffotograf / terrorpoet
img: index
img-color: 5a8106
last-modified: 2017-03-06
---
<article class="article">

    <section>
        <h2 class="h2">what is this</h2>
        <p>Welcome to my private homepage. you can take the title as a strong hint on what you can find here:</p>
        <ul class="article__list">
            <li>as a geek I use this page as a playground for trying out programming stuff, mostly html5/css3/js</li>
            <li>the photographer wants to show of his pictures from around the world</li>
            <li>and the terrorpoet writes his travel diraries down and posts them here</li>
        </ul>
    </section>

    <div class="grid grid--12">
        <section class="section__box grid__section--12x1">
            <h3 class="h3">what you can read</h3>
            <div class="galleryBox">
                {{> block-travels }}
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what do I do</h3>
            <div class="galleryBox">
                {{> block-projects }}
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what do I see</h3>
            <div class="galleryBox">
                {{> block-pictures }}
            </div>
        </section>

        <section class="grid__section--12x1">
            <div id="adframe" class="adframe">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Homepage -->
                <ins class="adsbygoogle"
                     data-ad-client="ca-pub-8245757393003756"
                     data-ad-slot="1139417350"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">where have I been</h3>
            <figure class="figure">
                <!-- http://www.world66.com/community/mymaps/worldmap/CUGRCRBEFRHRDEJPLUHUBRSGTZPTIDNZPATHROPLVACHITCZAUATNLIECVESMCMYUSUKUAMA.gif -->
                <img src="/img/travel/worldmap.png" alt="A map of the countries I have visited so far" class="worldmap">
                <figcaption class="figure__caption figure__caption--highlighted">visited: 36 / 195 (18%)</figcaption>
            </figure>
        </section>

        <section class="section__box grid__section--6x1">
            <h3 class="h3">what has changed</h3>
            <ul class="article__list changelog">
                {{> changelog-item
                    label='Added second entry for'
                    link='travel_18_cuba.html#part2'
                    linkText='Cuba'
                    time='2018-04-02'}}
                {{> changelog-item
                    label='Added React project'
                    link='personal_software.html#hulai'
                    linkText='How unlucky am I?'
                    time='2017-12-07'}}
                {{> changelog-item
                    label='Added diary of'
                    link='travel_17_greece.html'
                    linkText='Greece'
                    time='2017-11-10'}}
                {{> changelog-item
                    label='Added Hardware project'
                    link='personal_magicmirror.html'
                    linkText='Magic Mirror'
                    time='2017-07-09'}}
                {{> changelog-item
                    label='Added first entry for'
                    link='travel_15_marokko.html'
                    linkText='Marokko'
                    time='2017-03-06'}}
                {{> changelog-item
                    label='Updated Hardware project'
                    link='personal_g4pc.html#2k16'
                    linkText='G4PC'
                    time='2017-01-12'}}
                {{> changelog-item
                    label='Added diary of second trip to '
                    link='travel_07_tansania2.html'
                    linkText='Tanzania'
                    time='2016-01-31'}}
                {{> changelog-item
                    label='Added diary of'
                    link='travel_15_costarica.html'
                    linkText='Costa Rica'
                    time='2015-10-19'}}
                {{> changelog-item
                    label='Added link to'
                    link='personal_software.html#github'
                    linkText='Github'
                    time='2015-10-19'}}
            </ul>
        </section>
    </div>

</article>
