---
title: Veeck
heading: veeck
lang: en
lead: computerschlampe / hoffotograf / terrorpoet
img: index
img-color: 5a8106
last-modified: 2017-03-06
---
<article class="article">
    <section>
        <h2 class="h2">what is this</h2>
        <p>Welcome to my private homepage. you can take the title as a strong hint on what you can find here:</p>
        <ul class="article__list">
            <li>as a geek I use this page as a playground for trying out programming stuff, mostly html5/css3/js</li>
            <li>the photographer wants to show of his pictures from around the world</li>
            <li>and the terrorpoet writes his travel diraries down and posts them here</li>
        </ul>
    </section>

    <section>
        <h2 class="h2">what has changed</h2>
        <ul class="article__list">
            <li><time datetime="2017-12-07">2017/12/07: </time>Added infos about my small React project: <a class="article__link" href="personal_software.html#hulai">How unlucky am I?</a></li>
            <li><time datetime="2017-12-05">2017/12/05: </time>Added the video of our time in <a class="article__link" href="travel_07_tansania.html">Tanzania</a></li>
            <li><time datetime="2017-11-10">2017/11/10: </time>All parts online of our trip to <a class="article__link" href="travel_17_greece.html">Greece</a></li>
            <li><time datetime="2017-10-22">2017/10/22: </time>New navigation!</li>
            <li><time datetime="2017-07-09">2017/07/09: </time>Added some info about my <a class="article__link" href="personal_magicmirror.html">magic mirror</a></li>
            <li><time datetime="2017-03-06">2017/03/06: </time>First part of my trip to <a class="article__link" href="travel_15_marokko.html">Marokko</a> is here</li>
            <li><time datetime="2017-01-12">2017/01/12: </time>Added specs and images of my 2k16 g4pc.</li>
            <li><time datetime="2016-01-31">2016/01/31: </time>Added my blog entries about my second time in <a class="article__link" href="travel_07_tansania2.html">Tanzania</a></li>
            <li><time datetime="2015-10-19">2015/10/19: </time>Finally all parts of my <a class="article__link" href="travel_15_costarica.html">Costa Rica travel diary</a> are now online</li>
            <li><time datetime="2015-05-12">2015/05/12: </time>Added opengraph stuff for cooler facebook / twitter posts</li>
            <li><time datetime="2015-05-11">2015/05/11: </time>New fresh design, hope you like it</li>
            <li><time datetime="2015-04-20">2015/04/20: </time>Added a link to my github profile on the <a class="article__link" href="personal_research.html#github">research page</a> using a webcomponent from <a href="http://pazguille.github.io/github-card/">Guille Paz</a></li>
            <li><time datetime="2014-04-19">2014/04/19: </time>Changed gallery lib to <a class="article__link" href="http://osvaldas.info/image-lightbox-responsive-touch-friendly">Image Lightbox</a> and social widgets to <a href="https://github.com/carrot/share-button">ShareButton</a></li>
            <li><time datetime="2014-04-10">2014/04/10: </time>Added new <a class="article__link" href="personal_research.html#ohmNSIS">NSIS installer</a> for <a href="http://openhardwaremonitor.org/">OpenHardwareMonitor</a></li>
            <li><time datetime="2014-03-30">2014/03/30: </time>Redesign again, feel free to report any bugs</li>
            <li><time datetime="2014-03-15">2014/03/15: </time>More panoramas and better preview images for the old ones</li>
            <li><time datetime="2014-03-13">2014/03/13: </time>Switched to gulp.js for building this site (and updated the links section)</li>
            <li><time datetime="2014-02-25">2014/02/25: </time>Changed mobile menu to something more elegant.</li>
            <!--
            <li><time datetime="2014-02-12">2014/02/12: </time>Updated front page layout</li>
            <li><time datetime="2013-11-19">2013/11/19: </time>Updated and cleaned up research page</li>
            <li><time datetime="2012-11-20">2012/11/20: </time>New project: <a href="personal_research.html#wowFeed">wowfeed</a></li>
            <li><time datetime="2012-08-26">2012/08/26: </time>Added more pictures to Panama-Traveldiary</li>
            <li><span>2012/01/06:</span> Total re-design in mostly html5, still lots of stuff to do though</li>
            <li><span>2010/06/26:</span> New menus (again)</li>
            <li><span>2010/03/12:</span> Added Rasterbator to resource-projects and replaced menu-code.</li>
            <li><span>2009/04/14:</span> Small updates: new colors, new scripts, new friend.</li>
            <li><span>2008/07/22:</span> The last show is now online. Stay tuned nonetheless.</li>
            <li><span>2008/07/22:</span> Finally the fifth show is online. Took a while because it was the first one to be broadcast live.</li>
            <li><span>2008/06/12:</span> Fourth show is online. And we’re on <a href="http://www.myspace.com/diedaveundveeckshow" class="article__link">MySpace</a> now.</li>
            -->
        </ul>
    </section>

    <section>
        <h2 class="h2">where have I been</h2>
        <figure class="figure figure--basic fig_center landscape">
            <!-- http://www.world66.com/community/mymaps/worldmap/CRBEFRHRDEJPLUHUBRSGTZPTIDNZPATHROPLVACHITCZAUATNLIECVESMCMYUSUKUAMA.gif -->
            <img src="/img/travel/worldmap.png"
                 alt="a map of the countries i have visited so far" class="worldmap"/>
            <figcaption class="figure__caption figure__caption--highlighted">visited: 34 (14%)</figcaption>
        </figure>
    </section>
</article>
