---
title: links
heading: links
lang: en
lead: a collection of useful links and searches
img: links
last-modified: 2017-01-12
---
<article class="article">
    <section>
        <div class="input input-text">
            <input id="dsearch" type="search" name="q" placeholder="What are you searching for?">
        </div>

        <div class="section__grid section__grid--three">

            {{> icon-button
                icon='duckduckgo'}}

        </div>
    </section>

    <section>
        <h2 class="h2">Search</h2>
        <ul class="links">
            <li>
                <form action="https://duckduckgo.com/" method="get" class="form links__form">
                    <label for="dsearch"><span class="icon icon--s icon-duckduckgo"></span></label>
                    <div class="input input-text"><input id="dsearch" type="search" name="q"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="https://www.google.com/search" method="get" class="form links__form">
                    <label for="gsearch"><span class="icon icon--s icon-google"></span></label>
                    <div class="input input-text"><input id="gsearch" type="search" name="q"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="https://www.youtube.com/results" method="get" class="form links__form">
                    <label for="ysearch"><span class="icon icon--s icon-youtube"></span></label>
                    <div class="input input-text"><input id="ysearch" type="search" name="search_query"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="http://www.canoo.net/services/Controller?service=canooNet" method="get" class="form links__form">
                    <label for="csearch"><span class="icon icon--s icon-canoo"></span></label>
                    <div class="input input-text"><input id="csearch" type="search" name="input"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="https://dict.leo.org/" method="get" class="form links__form">
                    <label for="lsearch"><span class="icon icon--s icon-leo"></span></label>
                    <div class="input input-text"><input id="lsearch" type="search" name="search"></div>
                    <button class="btn btn--md" type="submit">Translate</button>
                </form>
            </li>
            <li>
                <form action="http://www.woxikon.de" method="get" class="form links__form">
                    <label for="wsearch"><span class="icon icon--s icon-woxikon"></span></label>
                    <div class="input input-text"><input id="wsearch" type="search" name="q"></div>
                    <button class="btn btn--md" type="submit">Translate</button>
                </form>
            </li>
            <li>
                <form action="https://en.wikipedia.org/w/index.php" method="get" class="form links__form">
                    <label for="wisearch"><span class="icon icon--s icon-wikipedia"></span></label>
                    <div class="input input-text"><input id="wisearch" type="search" name="search"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="https://www.chefkoch.de/suche.php" method="get" class="form links__form">
                    <label for="chefsearch"><span class="icon icon--s icon-chefkoch"></span></label>
                    <div class="input input-text"><input id="chefsearch" type="search" name="suche"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="http://www.imdb.com/find" method="get" class="form links__form">
                    <label for="imdbsearch"><span class="icon icon--s icon-imdb"></span></label>
                    <div class="input input-text"><input id="imdbsearch" type="search" name="q"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
            <li>
                <form action="https://www.wowhead.com/" method="get" class="form links__form">
                    <label for="wowsearch"><span class="icon icon--s icon-wowhead"></span></label>
                    <div class="input input-text"><input id="wowsearch" type="search" name="search"></div>
                    <button class="btn btn--md" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="h2">Tech Stuff Used Here</h2>
        <ul class="article__list">
            <li><a class="article__link" target="_blank" rel="noopener" href="https://www.html5boilerplate.com/">HTML5boilerplate</a>the web’s most popular front-end template</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="https://www.tympanus.net/codrops/">Codrops</a>web design and development blog with great tutorials</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.gulpjs.com/">gulp.js</a>the streaming build system to build this site</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.slcentral.com/articles/01/8/g4pc/">another G4PC mod</a>where I got most of my questions answered</li>
        </ul>
    </section>

    <section>
        <h2 class="h2">Comics On The Web</h2>
        <ul class="article__list">
            <li><a class="article__link" target="_blank" rel="noopener" href="https://www.dieselsweeties.com/">Diesel Sweeties</a>nothing is any good if other people like it</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.dorktower.com/">Dork Tower</a>geek as geek can</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.nichtlustig.de/">Nicht Lustig</a>who said germans can’t be funny?</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.penny-arcade.com/comic">Penny Arcade</a>you wouldn’t get it</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.dilbert.com/">Dilbert</a>the tragic side of corporate business</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.sinfest.net">Sinfest</a>the Webcomic To End all Webcomics</li>
        </ul>
    </section>

    <section>
        <h2 class="h2">People And Such</h2>
        <ul class="article__list">
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.scientific-data-mining.org/">Albrecht Zimmermann</a>awesome data miner exploring lyon soon</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.macnicolae.de/">Mac Nicolae</a>Urban Photography, Nerf Enthusiast, Stand-Up Project Manager</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.informatik.uni-freiburg.de/%7Estachnis/">Cyrill Stachniss</a>great researcher doing great things in mobile robotics</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="https://www.ft1844-freiburg.de/americanfootball/">Freiburg Sacristans</a>the best American Football team in Freiburg</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="http://www.like-a-stuntman.de/">Like A Stuntman</a>good people who also happen to make independent rock music</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="https://ais.informatik.uni-freiburg.de/">Autonomous Intelligent Systems</a>the place for robots and path finding algorithms</li>
            <li><a class="article__link" target="_blank" rel="noopener" href="https://www.rdl.de/">Radio Dreyeckland</a>only independent radio station in Freiburg, crazy enough to host the Dave-And-Veeck-Show</li>
        </ul>
    </section>
</article>
