---
title: Panoramic pictures from around the world
heading: the world
lead: panoramas from all around the globe
img: world.jpg
last-modified: 2014-03-09
---
<article class="content">
    <section class="gallery_article">
        <figure class="normal">
            <a href="../../img/panoramas/world/tanzania_construction_medium.jpg">
                <img src="../../img/panoramas/world/tanzania_construction_small.jpg" alt="The construction site"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/tanzania_sunset_medium.jpg">
                <img src="../../img/panoramas/world/tanzania_sunset_small.jpg" alt="Sunset in Mikumi National Park"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/panama_dive_medium.jpg">
                <img src="../../img/panoramas/world/panama_dive_small.jpg" alt="Our snorkeling site"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/panama_bocas_medium.jpg">
                <img src="../../img/panoramas/world/panama_bocas_small.jpg" alt="View of Bastimentos"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/newzealand_laketaupo_medium.jpg">
                <img src="../../img/panoramas/world/newzealand_laketaupo_small.jpg" alt="Sunset on Lake Taupo, NZ"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/newzealand_rainbow_medium.jpg">
                <img src="../../img/panoramas/world/newzealand_rainbow_small.jpg" alt="Rainbow on Lake Taupo, NZ"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/newzealand_pahiasunrise_medium.jpg">
                <img src="../../img/panoramas/world/newzealand_pahiasunrise_small.jpg" alt="Sunrise in Pahia, NZ"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/newzealand_northside_medium.jpg">
                <img src="../../img/panoramas/world/newzealand_northside_small.jpg" alt="View near Opononi, NZ"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/romania_sunset_medium.jpg">
                <img src="../../img/panoramas/world/romania_sunset_small.jpg" alt="Pantelimon, Asociaia Prietenia in Bukarest"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/nendaz_valley_medium.jpg">
                <img src="../../img/panoramas/world/nendaz_valley_small.jpg" alt="View of Haute Nendaz, Suisse"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/nendaz_sunset_medium.jpg">
                <img src="../../img/panoramas/world/nendaz_sunset_small.jpg" alt="Another View of Haute Nendaz, Suisse"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/freiburg_schnee_medium.jpg">
                <img src="../../img/panoramas/world/freiburg_schnee_small.jpg" alt="View from Mount Schauinsland"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/hungary_wisteria_medium.jpg">
                <img src="../../img/panoramas/world/hungary_wisteria_small.jpg" alt="A view into the garden"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/florida_dunes_medium.jpg">
                <img src="../../img/panoramas/world/florida_dunes_small.jpg" alt="Beach near Tallahassee, Florida"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/florida_trucks_medium.jpg">
                <img src="../../img/panoramas/world/florida_trucks_small.jpg" alt="Wrecked Trucks"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/florida_sunset_medium.jpg">
                <img src="../../img/panoramas/world/florida_sunset_small.jpg" alt="Sunset near Tallahassee, Florida"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/indonesia_rinjani_medium.jpg">
                <img src="../../img/panoramas/world/indonesia_rinjani_small.jpg" alt="Mount Rinjani, Indonesia. seen from the rim"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/indonesia_gili_medium.jpg">
                <img src="../../img/panoramas/world/indonesia_gili_small.jpg" alt="Gili Travangan"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/world/japan_garden_medium.jpg">
                <img src="../../img/panoramas/world/japan_garden_small.jpg" alt="(One of many) Imperial Garden"/>
            </a>
        </figure>
    </section>
</article>
