---
title: Panoramic views of cities and buildings
heading: cities
lang: en
lead: panoramas showing what mankind has built
img: city.jpg
last-modified: 2014-07-10
---
<article class="content">
    <section class="gallery_article">
        <figure class="normal">
            <div class="ribbon"><span>NEU</span></div>
            <a href="../../img/panoramas/cities/marocco_palace_medium.jpg">
                <img src="../../img/panoramas/cities/marocco_palace_small.jpg" alt="Old palace ruins in Marrakesh"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/dublin_greenhouse_medium.jpg">
                <img src="../../img/panoramas/cities/dublin_greenhouse_small.jpg" alt="Greenhouse in Dublins botanic garden"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/berlin_stadium_medium.jpg">
                <img src="../../img/panoramas/cities/berlin_stadium_small.jpg" alt="Berlin Olympic Stadium Germany Sweden"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/berlin_reichstag_medium.jpg">
                <img src="../../img/panoramas/cities/berlin_reichstag_small.jpg" alt="The Reichstag where our gouvernment resides"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/berlin_bahnhof_medium.jpg">
                <img src="../../img/panoramas/cities/berlin_bahnhof_small.jpg" alt="The new central-station in Berlin"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/freiburg_night_medium.jpg">
                <img src="../../img/panoramas/cities/freiburg_night_small.jpg" alt="Freiburg At Night"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/japan_alley_medium.jpg">
                <img src="../../img/panoramas/cities/japan_alley_small.jpg" alt="Alley way in Sendai"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/frankfurt_regio_medium.jpg">
                <img src="../../img/panoramas/cities/frankfurt_regio_small.jpg" alt="Frankfurt Regional Train-Station"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/cities/hungary_balaton_medium.jpg">
                <img src="../../img/panoramas/cities/hungary_balaton_small.jpg" alt="Abandoned hotel at the Balaton in Hungary"/>
            </a>
        </figure>
    </section>
</article>
