---
title: Die Dave-Und-Veeck-Show
heading: Die Dave und Veeck Show
lead: Die einzige Radiosendung, die nackt moderiert wurde
when: 2006
img: radio.jpg
last-modified: 2012-02-15
---
<article class="content">
    <p class="article_intro">Nur hier, auf <a class="extern" href="http://myspace.com/diedaveundveeckshow">MySpace</a>
        und im <a class="extern" href="http://www.rdl.de/">Radio Dreyeckland</a>:</p>

    <section class="radio_article">
        <h3>Folge 1: Der Papst und Pirmasens</h3>
        <a href="../../files/mp3/Episode1.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode1.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode1.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>

    <section class="radio_article">
        <h3>Folge 2: Britney und die Unendlichkeit</h3>
        <a href="../../files/mp3/Episode2.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode2.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode2.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>

    <section class="radio_article">
        <h3>Folge 3: Eisenharte Feuchte Sommerliebe</h3>
        <a href="../../files/mp3/Episode3.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode3.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode3.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>

    <section class="radio_article">
        <h3>Folge 4: Reb&auml;llentum</h3>
        <a href="../../files/mp3/Episode4.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode4.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode4.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>

    <section class="radio_article">
        <h3>Folge 5: Hitler und Ronny Live</h3>
        <a href="../../files/mp3/Episode5.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode5.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode5.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>

    <section class="radio_article">
        <h3>Folge 6: Ein Radioshow-Todesfall und eine Hochzeit</h3>
        <a href="../../files/mp3/Episode6.mp3">Download</a>
        <audio controls="controls">
            <source src="../../files/mp3/Episode6.ogg" type="audio/ogg" />
            <source src="../../files/mp3/Episode6.mp3" type="audio/mp3" />
            Your browser does not support the audio tag.
        </audio>
    </section>
</article>
