---
title: My G4 PC modification
heading: g4pc
lead: how to mod a pc into a mac case
when: 2006
img: g4pc.jpg
last-modified: 2017-01-14
---
<article class="content capped-article">

    <section>
        <h2>my g4pc</h2>
        <p>Tired of the same old boring computer cases everywhere I decided in 2006 to build my own pc case. Inspired by
            lots of mods around the web like <a target="_blank" href="http://www.hardocp.com/article/2002/09/13/rotten_apple">this modification on HardOCP</a>
            I knew that I also wanted an Apple G4 case fitted to accommodate standard x86 PC components. Some expensive
            auctioning at eBay and a lot of drilling later I had such a special PC myself. Groovy, baby!
        </p>

        <div class="slider-element">
            <div class="slider slider-for">
                <div>
                    <p class="slider-text">I have seen modifications to G4 cases which just stuck everything into the case
                        without keeping the old layout. Those are of course not able to open the PC while running, which is the
                        coolest effect of the G4 case.</p>
                    <img class="slider-img" src="/img/g4pc/g4_opened.jpg"/>
                </div>
                <div>
                    <p class="slider-text">Only very flat components like these chips wont touch the optical drive cage or otherwise
                        the side-door won't close due to the large optical drive taking much space. I was lucky to find this board where only one of the RAM-holders had to go, leaving me with 'only' 1 GigaByte of RAM. </p>
                    <img class="slider-img" src="/img/g4pc/g4_ram.jpg"/>
                </div>
                <div>
                    <p class="slider-text">If I installed my PSU the way Apple intented it with the power connectors
                        beneath the fan outlet, one of them would suck the air from the wrong side of the case. So I
                        had to do some more cutting to make room for the fan outlet and install the PSU upside-down.</p>
                    <img class="slider-img" src="/img/g4pc/g4_psu.jpg"/>
                </div>
                <div>
                    <p class="slider-text">Another incompatible component was the IO-shield of the G4-case. I once again had to use my old
                        companion, the dremel, to cut out a good piece of the backplate. Later I used some spare plastic piece
                        to model a new back-plate for my PC. If I find the time, I will color it to match the rest of the case.</p>
                    <img class="slider-img" src="/img/g4pc/g4_atx.jpg"/>
                </div>
                <div>
                    <p class="slider-text">And no case-mod is finished without some lighting inside. So I put three blue leds into the G4 case
                        which shine from behind the apple logo to show who really makes the most stylish computer cases. Move
                        the cursor over the picture to see how it shines in the dark.</p>
                    <img id="g4_light" class="slider-img" src="/img/g4pc/g4_light3.jpg"
                         onmouseover="document.getElementById('g4_light').src='/img/g4pc/g4_light2.jpg'"
                         onmouseout="document.getElementById('g4_light').src='/img/g4pc/g4_light3.jpg'"/>
                </div>
            </div>
            <div class="slider slider-nav" data-slick='{"slidesToShow": 5}'>
                <div><img src="/img/g4pc/g4_opened_small.jpg"   class="btn btn--xl btn--comic img_carousel"/></div>
                <div><img src="/img/g4pc/g4_ram_small.jpg"      class="btn btn--xl btn--comic img_carousel"/></div>
                <div><img src="/img/g4pc/g4_psu_small.jpg"      class="btn btn--xl btn--comic img_carousel"/></div>
                <div><img src="/img/g4pc/g4_atx_small.jpg"      class="btn btn--xl btn--comic img_carousel"/></div>
                <div><img src="/img/g4pc/g4_light3_small.jpg"   class="btn btn--xl btn--comic img_carousel"/></div>
            </div>
        </div>

        <p>Later the project was dissassembled and I moved on to a normal laptop. But in 2014 I came across a second
        g4 case I could use for spare parts. So I wanted to do it right this time and also get a nice paint job done.</p>

        <h2>Specs 2006 Version</h2>

        {{> figure-basic
            class='fig_right landscape'
            img='/img/g4pc/g4_light1.jpg'
            caption='The classic 2006 version'}}

        <ul class="tech_specs">
            <li><span>CPU:</span> AMD AthlonXP 2600+</li>
            <li><span>Cooler:</span> <a target="_blank" href="http://www.silentpcreview.com/article130-page1.html">Swiftech MCX 462-V</a></li>
            <li><span>RAM:</span> 1 GB MTD PC400</li>
            <li><span>Mainboard:</span> <a target="_blank" href="http://www.ecs.com.tw/ECSWebSite/Product/Product_Detail.aspx?DetailID=357">ECS Elitegroup KM400-M</a></li>
            <li><span>Graphics:</span> <a target="_blank" href="http://www.gigabyte.com/products/product-page.aspx?pid=1198#ov">Gigabyte GV-N68128DH Geforce 6800</a></li>
            <li><span>Harddrive:</span> <a target="_blank" href="http://www.seagate.com/support/internal-hard-drives/desktop-hard-drives/desktop-hdd/?sku=ST3120026A-RK&q=Seagate%20120GB%20ST3120026A">Seagate 120GB ST3120026A</a></li>
            <li><span>Sound:</span> <a target="_blank" href="http://support.creative.com/Products/ProductDetails.aspx?catID=1&CatName=Sound+Blaster&prodID=14103&prodName=Audigy+4">CreativeLabs Soundblaster Audigy 4</a></li>
            <li><span>Optical Drive:</span> <a target="_blank" href="http://www.lg.com/de/service-produkt/lg-GSA-4167B">LG GSA-4167B DVD-Writer</a></li>
            <li><span>PSU:</span> TSP 420 P4 Ultra Silent TripleFan</li>
            <li><span>Monitor:</span> <a target="_blank" href="http://www.iiyama.com/pages/startseite.asp?0|1|0|0|0|0|0|2|0|1464">Iiyama ProLite E431S-B</a> 17'' TFT </li>
            <li><span>Cardreader:</span> Cooltek 7-in-1 with 2 Front-USB-ports</li>
            <li><span>OS:</span> <a target="_blank" href="http://www.gentoo.org">Gentoo Linux</a></li>
        </ul>
    </section>

    <section>
        <h2>Specs 2k16 Version</h2>

        {{> figure-basic
            class='fig_right landscape'
            img='/img/g4pc/2k16_final.jpg'
            caption='Painted and assembled 2k16 version'}}

        <ul class="tech_specs">
            <li><span>CPU:</span> AMD FX-6300 Six-Core Processor</li>
            <li><span>Cooler / Fans:</span> Noctua NF-A9x14PWM and NF-S12A PWM</li>
            <li><span>RAM:</span> 8GB Kingston HyperX Genesis DDR3</li>
            <li><span>Mainboard:</span> Asrock 960GM-VGS3 FX</li>
            <li><span>Graphics:</span> Asus HD7770-DC-1GD5 AMD Radeon HD 7700 Series</li>
            <li><span>Harddrive:</span> Samsung 850 EVO 250GB SSD, Samsung HD503HI 500GB HDD</li>
            <li><span>Optical Drive:</span> LG BH16NS40</li>
            <li><span>PSU:</span> be quiet! Straight Power E9 580W</li>
            <li><span>Monitor:</span> Samsung TV+Monitor T27A550</li>
            <li><span>OS:</span> Windows 10 (64bit)</li>
        </ul>
        </section>
</article>
