---
layout: layout__landing
title: veeck shoots pictures
heading: pictures
lang: en
lead:
img: pictures
last-modified: 2014-03-09
---
<article class="article">
    <section>
        <h2 class="h2">pictures</h2>
        <p></p>

        <div class="galleryBox">
            {{> block-pictures }}
        </div>
    </section>
</article>
