---
layout: layout__simple
title: veeck shoots pictures
heading: pictures
lang: en
lead:
img: big
last-modified: 2014-03-09
---
<article class="article">
    <section>
        <h2 class="h2">pictures</h2>
        <p>Bla bla bla</p>

        <div class="galleryBox galleryBox--extended">
            {{> block-pictures }}
        </div>
    </section>
</article>
