---
layout: layout__landing
title: veeck shoots pictures
heading: projects
lang: en
lead:
img: big
last-modified: 2014-03-09
---
<article class="article">
    <section>
        <h2 class="h2">projects</h2>
        <p></p>

        <div class="galleryBox galleryBox--extended">
            {{> block-projects }}
        </div>
    </section>
</article>
