---
title: Shooting pictures from a different perspective
heading: perspective
lang: en
lead: panoramas from another angle
img: perspective
last-modified: 2014-04-21
---
<article>
    <section class="gallery gallery-third-lg gallery-half-md gallery-single-sm">
        <figure class="figure">
            <a href="../../img/panoramas/perspective/budapest_parlamant_medium.jpg">
                <img src="../../img/panoramas/perspective/budapest_parlamant_small.jpg" alt="Parlament building in Budapest"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/berlin_trainstation_medium.jpg">
                <img src="../../img/panoramas/perspective/berlin_trainstation_small.jpg" alt="Main trainstation in Berlin"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/kyoto_trainstation_medium.jpg">
                <img src="../../img/panoramas/perspective/kyoto_trainstation_small.jpg" alt="Trainstation in Kyoto, Japan"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/berlin_arkaden_medium.jpg">
                <img src="../../img/panoramas/perspective/berlin_arkaden_small.jpg" alt="Shopping Mall 'Arcaden' at Potsdamer Platz, Berlin"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/dubai_airport_medium.jpg">
                <img src="../../img/panoramas/perspective/dubai_airport_small.jpg" alt="Dubai Aiport"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/frankfurt_fern_medium.jpg">
                <img src="../../img/panoramas/perspective/frankfurt_fern_small.jpg" alt="Frankfurt Aiport Long Distance Train station"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/freiburg_sky_medium.jpg">
                <img src="../../img/panoramas/perspective/freiburg_sky_small.jpg" alt="Sky above Freiburg"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/japan_avenue_medium.jpg">
                <img src="../../img/panoramas/perspective/japan_avenue_small.jpg" alt="Avenue in Sendai, Japan"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/london_park_medium.jpg">
                <img src="../../img/panoramas/perspective/london_park_small.jpg" alt="London Hyde Park"/>
            </a>
        </figure>
        <figure class="figure">
            <a href="../../img/panoramas/perspective/freiburg_backyard_medium.jpg">
                <img src="../../img/panoramas/perspective/freiburg_backyard_small.jpg" alt="My backyard in Freiburg"/>
            </a>
        </figure>
    </section>
</article>
