---
title: veeck shoots - 360 degrees of panoramas
heading: 360 degrees
lang: en
lead: panoramas going full circle
img: 360
last-modified: 2014-04-21
---
<article class="article">
    <section class="gallery gallery--fluid">

        <h1>{{grub.son}}</h1>

        <hr/>
        {{#each picture360}}
            <li><a href="{{img}}">{{caption}}</a></li>
        {{/each}}
        <hr/>

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/dublin_cemetary'
            caption='Cemetary in Dublin'
            isNew='true'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/marocco_beach'
            caption='Beach at Tagazout, Marocco'
            isNew='true'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/ukraine_cemetary'
            caption='Soldier cemetary near Lviv, Ukraine'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/teneriffe_casahamilton'
            caption='Casa Hamilton, abandonend pump station on Tenerife'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/teneriffe_teide'
            caption='On top of Tenerifes highest mountain, the Teide'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/curacao_willemstad'
            caption='Port in Willemstad on Curacao'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/brussels_atomium'
            caption='View from the top of the Atomium in Brussels'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/freiburg_gras'
            caption='Friends on a green hill in the black forest'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/freiburg_sunset'
            caption='Sunset in Freiburg'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/freiburg_snow'
            caption='View from Mount Schauinsland'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/freiburg_autumn'
            caption='Autumn in Freiburg'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/freiburg_winter'
            caption='Winter in Freiburg'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/paris_night'
            caption='View from the Eifel Tower in Paris'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/budapest_bath'
            caption='Classic Spa in Budapest'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/budapest_friends'
            caption='Esther, Tassi, Tobi and Sonja in Hungary'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/dubai_airport'
            caption='Inside Dubai Airport'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/tanzania_beach'
            caption='Beach near Daressalam'}}

        {{> figure-gallery
            class='gallery__item'
            img='/img/panoramas/360/tanzania_school'
            caption='ELU Children Care School'}}
    </section>
</article>
