---
title: Shooting pictures from a different perspective
heading: perspective
lang: en
lead: panoramas from another angle
img: perspective
last-modified: 2014-04-21
---
<article class="article">
    <section>
        <div class="section__grid section__grid--three">
            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/budapest_parlamant'
                caption='Parlament building in Budapest'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/berlin_trainstation'
                caption='Main trainstation in Berlin'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/kyoto_trainstation'
                caption='Trainstation in Kyoto, Japan'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/berlin_arkaden'
                caption='Shopping Mall "Arcaden" at Potsdamer Platz, Berlin'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/dubai_airport'
                caption='Dubai Aiport'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/frankfurt_fern'
                caption='Frankfurt Airport Long Distance Train station'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/freiburg_sky'
                caption='Sky above Freiburg'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/japan_avenue'
                caption='Avenue in Sendai, Japan'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/london_park'
                caption='London Hyde Park'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/perspective/freiburg_backyard'
                caption='My backyard in Freiburg"'}}
        </div>
    </section>
</article>
