---
title: veeck shoots - Very large panoramic pictures
heading: big
lang: en
lead: panoramas that make a splash
img: big
last-modified: 2014-03-09
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_big.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>
