---
title: Panoramic pictures of and from friends
heading: friends
lang: en
lead: some of my friends take panorama pictures too and i take panorama pictures of them
img: people.jpg
last-modified: 2014-04-18
---
<article class="content">
    <section class="gallery_article">
        <figure class="normal">
            <a href="../../img/panoramas/friends/stef_industrial_medium.jpg">
                <img src="../../img/panoramas/friends/stef_industrial_small.jpg" alt=""/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/stef_rummelsburg_medium.jpg">
                <img src="../../img/panoramas/friends/stef_rummelsburg_small.jpg" alt=""/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/stef_koeln_medium.jpg">
                <img src="../../img/panoramas/friends/stef_koeln_small.jpg" alt=""/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/freiburg_football_medium.jpg">
                <img src="../../img/panoramas/friends/freiburg_football_small.jpg" alt="Resting after an American Football match"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/freiburg_all_medium.jpg">
                <img src="../../img/panoramas/friends/freiburg_all_small.jpg" alt="Wolfgang, Chloe and Albrecht"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/freiburg_ansa_medium.jpg">
                <img src="../../img/panoramas/friends/freiburg_ansa_small.jpg" alt="Sanni und Anna, Blurred and Happy"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/freiburg_sonja_medium.jpg">
                <img src="../../img/panoramas/friends/freiburg_sonja_small.jpg" alt="Sonja in my mess"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/sven_jordanien_medium.jpg">
                <img src="../../img/panoramas/friends/sven_jordanien_small.jpg" alt="Wadi Rum, Jordanien (by Sven Fritz)"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/bastian_kohtao_medium.jpg">
                <img src="../../img/panoramas/friends/bastian_kohtao_small.jpg" alt="Sunset at KohTao (by Bastian Müller)"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/bastian_baobabbeach_medium.jpg">
                <img src="../../img/panoramas/friends/bastian_baobabbeach_small.jpg" alt="Baobab Beach (by Bastian Müller)"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/bastian_dentdumidi_medium.jpg">
                <img src="../../img/panoramas/friends/bastian_dentdumidi_small.jpg" alt="Dents Du Midi and Mont Blanc (by Bastian Müller)"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/bastian_matterhorn_medium.jpg">
                <img src="../../img/panoramas/friends/bastian_matterhorn_small.jpg" alt="Matterhorn and Dent Blanche (by Bastian Müller))"/>
            </a>
        </figure>
        <figure class="normal">
            <a href="../../img/panoramas/friends/bastian_verdon_medium.jpg">
                <img src="../../img/panoramas/friends/bastian_verdon_small.jpg" alt="Sunrise at Gorge du Verdon, France (by Bastian Müller"/>
            </a>
        </figure>
    </section>
</article>
