---
title: Panoramic pictures of and from friends
heading: friends
lang: en
lead: some of my friends take panorama pictures too and i take panorama pictures of them
img: people
last-modified: 2014-04-18
---
<article class="article">
    <section class="gallery gallery--flex">
        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/stef_industrial'
            caption=''}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/stef_rummelsburg'
            caption=''}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/stef_koeln'
            caption=''}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/freiburg_football'
            caption='Resting after an American Football match'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/freiburg_all'
            caption='Wolfgang, Chloe and Albrecht'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/freiburg_ansa'
            caption='Sanni und Anna, Blurred and Happy'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/freiburg_sonja'
            caption='Sonja in my mess'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/sven_jordanien'
            caption='Wadi Rum, Jordanien (by Sven Fritz)'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/bastian_kohtao'
            caption='Sunset at KohTao (by Bastian Müller)'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/bastian_baobabbeach'
            caption='Baobab Beach (by Bastian Müller)'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/bastian_dentdumidi'
            caption='Dents Du Midi and Mont Blanc (by Bastian Müller)'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/bastian_matterhorn'
            caption='Matterhorn and Dent Blanche (by Bastian Müller)'}}

        {{> figure-gallery
            class='gallery__figure--third'
            img='/img/panoramas/friends/bastian_verdon'
            caption='Sunrise at Gorge du Verdon, France (by Bastian Müller'}}
    </section>
</article>
