---
title: veeck shoots - Panoramic views of cities and buildings
heading: cities
lang: en
lead: panoramas showing what mankind has built
img: city
last-modified: 2014-07-10
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_cities.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>

