---
title: Very large panoramic pictures
heading: big
lang: en
lead: panoramas that make a splash
img: big
last-modified: 2014-03-09
---
<article class="article">
    <section>
        <div class="section__grid section__grid--four">
            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/curacao_pool'
                caption='Practicing pool jumping on curacao'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/teneriffe_opera'
                caption='Auditorio de Tenerife, concert hall in Santa Cruz'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/berlin_theater'
                caption='Berliner Ensemble theater playing The Threepenny Opera'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/tanzania_station'
                caption='Ranger station in Mikumi National Park'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/tanzania_tree'
                caption='Big tree in Mikumi National Park'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/brussels_atomium'
                caption='The famous Atomium in Brusseles'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/brussels_passage'
                caption='Shopping alley in Brusseles'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/paris_eifel'
                caption='The Eifel Tower in Paris'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/budapest_basiliska'
                caption='St. Stephan Basilika in Budapest'}}

            {{> figure-gallery
                class='grid__figure'
                img='/img/panoramas/big/france_sunset'
                caption='A sunset in France'}}
        </div>
    </section>
</article>
