---
title: veeck shoots - Panoramic pictures from around the world
heading: the world
lang: en
lead: panoramas from all around the globe
img: world
last-modified: 2014-03-09
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_world.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>
