---
title: veeck shoots - Skyscraping panorama pictures
heading: skyscraper
lang: en
lead: panoramas growing into the sky
img: sky
last-modified: 2014-04-18
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_sky.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>
