---
title: Friends and funny facts about them
heading: friends
lang: en
lead: boys and girls and whatnot
img: friends
last-modified: 2012-03-08
---
<article class="article article--capped">
    <p class="article__intro">If you feel neglected because you cannot find your picture here, it is probably because I dont have a proper one of you.
        Send it to me and be sure to get mentioned here! And do not forget to click on some of the pictures for an in-depth-look into the human mind.</p>

    <section class="gallery gallery--flex">
        <h2 class="gallery__headline">the girls</h2>

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_strack'
            caption='Stef'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/silke'
            caption='Emerging young film director Tobi U. (back) totally agreed with the jurys decision to award this
                years Bambi to his female colleague (front) and was overwhelmed with emotion about his prize for the
                second place: a pig!'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/mascha'
            caption='Having a bald and really skinny boyfriend helped her a lot while preparing for her role as the
                first female hamlet in the history of shakespeare plays'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/birgit'
            caption='Supermans daughter liked what her father passed to
                 her with his genes, especially this gaze of steel.'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_uli'
            caption='Uli'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_rebekka'
            caption='Rebekka'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_esther'
            caption='Esther'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_chloe'
            caption='Chloe'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_patricia'
            caption='Patricia'}}
    </section>

    <section class="gallery gallery--flex">
        <h2 class="gallery__headline">the boys</h2>

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/albi'
            caption='Ronald MacDonald (right) could not believe it. Finally he had found his long lost brother (left)
                who was now working under the name of BurgerWurger as a Mascot for a burger bar in Scotland!'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/wolfgang'
            caption='After his brother Ronald McDonald had found him in this scottish BurgerBar, he had to take on a
                new identity. Maybe this time he would go for a more subtle disguise as a french super model. He knew
                that his long time barber would keep his mouth shut.'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/tobego'
            caption='The word this man just said was &acute;Porn&acute;...'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/tassi'
            caption='... while this man makes porn.'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/sven'
            caption='Do not try this at home, kids! This man is a professionally trained stuntman, totally invulnerable
                and crazy! Smoking kills ordinary people!'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/veeck'
            caption='Finally he achieved Nirvana, the peaceful land behind all material things and the ultimate goal
                for every guru. If only those dirty dishes wouldnt have followed him there too.'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/andre'
            caption='Dickesbach did it again: After mutilating the view of their neighbors withsome ugly windmills,
                they now managed to block the view of the camera with some local brewery. Damn those Dickesbacher!'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/marco'
            caption='Being raised by exotic tibetian dancing monks he got kicked out of their clan at the age of 18
                because he was &#034;too lethargic and philosophical&#034;!'}}

        {{> figure-gallery
            class='gallery__figure--fourth'
            img='/img/friends/tobi'
            caption='To become an emerging young film director, Tobias U. (front) had to do some really nasty stuff in
                his past. His experience in that particular field didnt help him to convince the jury (back) to award
                him the first prize thou.'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_posti'
            caption='The hidden 6th member'}}

        {{> figure-basic
            class='gallery__figure--fourth'
            img='/img/friends/thumbnail_bas'
            caption='Bas'}}
    </section>
</article>
