@import '../theme/fonts';
@import '../theme/variables';

.body {
    background-color: var(--backgroundColor);
    box-sizing: border-box;
    color: var(--primaryTextColor);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -ms-touch-action: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: 100vh 1fr;
    grid-template-areas:
        "header header header"
        ". content ."
        ". footer .";

    @include portrait-phone() {
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
    }

    @include landscape-phone() {
        grid-template-areas:
            "header ."
            "content ."
            "footer .";
        grid-template-columns: 1fr $nav-width;
    }

    &--landing {
        grid-template-areas:
            ". content ."
            ". footer .";

        @include phone() {
            grid-template-areas:
                "content ."
                "footer .";
        }
    }

    &__background {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        z-index: $z-index-neg;

        .object-fit-img {
            filter: url(#duotone_bluetan);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}
