/**
 * Footer
 */
.footer {
    position: relative;
    background-color: var(--backgroundColor);

    time {
        display: block;
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        text-align: center;
    }

    &--fixed {
        position: fixed;
        bottom: 0;
        color: var(--primaryColor);
        display: flex;
        flex-flow: column;
    }
}

.buttonBar {
    position: fixed;
    bottom: 0;
    z-index: $z-index-3;
    display: flex;
    width: calc(100% - 2.5rem);
    padding: 1rem;

    @include belowBreakpoint(xs) {
        bottom: 3rem;
        width: calc(100% - 2rem);
    }
}
