/**
 * Footer
 */

footer {
    position: relative;

    time {
        display: block;
        font-size: @font-size-sm;
        font-weight: @font-weight-light;
        text-align: center;
    }

    .btn--share {
        left: initial;
        bottom: 4rem;
    }

    .btn--up {
        left: initial;
        bottom: 1rem;
    }

    .btn--share,
    .btn--up {
        position: fixed;
        right: 1rem;
        z-index: @z-index-5;
    }
}
