/**
 * Footer
 */
.footer {
    grid-area: footer;
    position: relative;
    background-color: var(--contentBackgroundColor);
    color: var(--contentTextColor);
    padding-bottom: $nav-height;

    @include aboveBreakpoint(md) {
        max-width: $md;
    }

    time {
        display: block;
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        text-align: center;
    }
}
