/**
 * Title
 */

.header__title--animated {

    .header__headline {
        background-color: var(--lightPrimaryColor);
        font-size: 4rem;
        line-height: 3rem;
        position: relative;

        &::after {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 1.5rem;
            color: black;
            transform: translateX(0);
            animation: fracture 5s infinite ease;
        }

        &::before {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 1.5rem;
            color: var(--lightPrimaryColor);
            text-shadow: 3px -2px 5px var(--lightPrimaryColor), -3px 3px 4px var(--lightPrimaryColor);
            text-align: center;
        }
    }
}

@keyframes fracture {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }
}

.header__title--colorfont {

    .header__headline {
        font-family: $font-color;
    }
}

.header__title--cake {

    .header__headline {
        text-transform: uppercase;
        font-size: 8vw;
        text-align: center;
        line-height: 1;
        padding: 0;
        position: relative;
        color: #f98ca4;
        text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0 0 #65f283, 0 1px 0 #65f283, 2px 1px 0 #65f283, 1px 2px 0 #65f283, 3px 2px 0 #65f283, 2px 3px 0 #65f283, 4px 3px 0 #65f283, 3px 4px 0 #65f283, 5px 4px 0 #65f283, 3px 5px 0 #6e1f58, 6px 5px 0 #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0 #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0 #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px 10px 4px #dac249;

        @include belowBreakpoint(xs) {
            margin: 0 auto $margin-sm;
            width: 60%;
        }

        &::before,
        &::after {
            content: attr(data-heading);
            position: absolute;
            overflow: hidden;
            left: 0;
            width: 100%;
            top: 0;
            z-index: $z-index-5;
        }

        &::before {
            text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c, 1px 1px 0 #9e132c, 1px 0 0 #f5b10b, 0 1px 0 #f5b10b, 2px 1px 0 #f5b10b, 1px 2px 0 #f5b10b, 3px 2px 0 #f5b10b, 2px 3px 0 #f5b10b, 4px 3px 0 #f5b10b, 3px 4px 0 #f5b10b, 5px 4px 0 #f5b10b, 3px 5px 0 #9e132c, 6px 5px 0 #9e132c, -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0 #9e132c, 2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0 #9e132c, 6px 3px 0 #9e132c, 7px 4px 0 #9e132c, 10px 10px 4px rgba(106, 241, 119, 0.8);
            color: #65f283;
            height: 66%;
        }

        &::after {
            height: 33%;
            color: #4ad9db;
            text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0 0 #f98ca4, 0 1px 0 #f98ca4, 2px 1px 0 #f98ca4, 1px 2px 0 #f98ca4, 3px 2px 0 #f98ca4, 2px 3px 0 #f98ca4, 4px 3px 0 #f98ca4, 3px 4px 0 #f98ca4, 5px 4px 0 #f98ca4, 3px 5px 0 #2f3e9c, 6px 5px 0 #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0 #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0 #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
        }
    }
}
