/* -------------------------- */
/* Side */
/* -------------------------- */

.intro-effect-side:not(.notrans) .bg-img::before,
.intro-effect-side:not(.notrans) .title {
    transition-property: transform;
}

.intro-effect-side:not(.notrans) .bg-img::after {
    transition-property: top, left, bottom, right, background-color;
}

.intro-effect-side:not(.notrans) .subline {
    transition-property: transform, opacity;
}

.intro-effect-side:not(.notrans) .content > div {
    transition-property: opacity;
}

.intro-effect-side:not(.notrans) .bg-img::before,
.intro-effect-side:not(.notrans) .bg-img::after,
.intro-effect-side:not(.notrans) .title,
.intro-effect-side:not(.notrans) .subline,
.intro-effect-side:not(.notrans) .content > div {
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-duration: 0.5s;
}

.intro-effect-side .bg-img::before,
.intro-effect-side .bg-img::after {
    content: '';
    position: absolute;
    z-index: @z-index-0;
}

.intro-effect-side .bg-img::before {
    background-color: @backgroundColor;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
}

.intro-effect-side.modify .bg-img::before {
    transform: translateX(0);
}

.intro-effect-side .bg-img::after {
    background-color: @color-transparent;
    border: 80px solid @backgroundColor;
    top: -80px;
    right: -80px;
    bottom: -80px;
    left: -80px;
}

.intro-effect-side.modify .bg-img::after {
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.intro-effect-side .title {
    line-height: 1;
    text-align: right;
    left: 0;
    padding: 2rem;
    width: 60%;
    transform: translateX(33.3%) translateY(-50%);
}

.intro-effect-side.modify .title {
    transform: translateY(-50%);
}

.intro-effect-side .subline {
    font-weight: @font-weight-medium;
    opacity: 0;
    transform: translateY(100px);
}

.intro-effect-side.modify .subline {
    opacity: 1;
    transform: translateX(0);
}

.intro-effect-side .content > div {
    margin-top: 0;
    opacity: 0;
}

.intro-effect-side.modify .content > div {
    opacity: 1;
}

/* Delays */
.intro-effect-side:not(.notrans) .title,
.intro-effect-side:not(.notrans) .bg-img::before,
.intro-effect-side:not(.notrans) .bg-img::after {
    transition-delay: 0.3s;
}

.intro-effect-side.modify:not(.notrans) .title,
.intro-effect-side.modify:not(.notrans) .bg-img::before,
.intro-effect-side.modify:not(.notrans) .bg-img::after {
    transition-delay: 0s;
}

.intro-effect-side.modify:not(.notrans) .subline:nth-last-child(2) {
    transition-delay: 0.15s;
}

.intro-effect-side.modify:not(.notrans) .subline:last-child {
    transition-delay: 0.2s;
}

.intro-effect-side.modify:not(.notrans) .content > div {
    transition-delay: 0.3s;
}

/* Media Queries */
@media screen and (max-width: @md) {

    .intro-effect-side .title {
        width: 100%;
        padding: 0 1rem;
        transform: translateY(-50%);
    }

    .intro-effect-side.modify .bg-img::before {
        transform: translateX(-100%);
    }

    .intro-effect-side .bg-img::after {
        border-left-width: 0;
        border-right-width: 0;
        right: 0;
        left: 0;
        background: transparent;
    }

    .intro-effect-side.modify .bg-img::after {
        background: @color-transparentWhite;
    }
}
