/**
 * Header
 */
.header {
    grid-area: header;
    will-change: transform;
    z-index: $z-index-4;

    &__duotone-filters {
        height: 0;
        left: -9999em;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 0;
    }

    &__headline {
        align-self: normal;
        border: $border-thickness solid $color-transparent;
        border-radius: $border-radius-sm;
        background-color: var(--lightPrimaryColorTransparent);
        color: var(--primaryTextColor);
        padding: $margin-md;
        text-align: center;
        word-wrap: break-word;
        z-index: $z-index-1;

        @include blur();
    }

    &__subtitle {
        background-color: var(--primaryTextColor);
        border-radius: $border-radius-sm;
        color: var(--primaryColor);
        font-weight: $font-weight-bold;
        padding: 0 $margin-md;
        text-transform: uppercase;
        z-index: $z-index-1;
    }

    &__title {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 6rem;

        @include belowBreakpoint(xs) {
            padding: 1rem;
        }
    }
}
