/**
 * Intro Effect Side
 */

.header {

    &__image::after {
        content: '';
        position: absolute;
        z-index: @z-index-0;
    }

    &__image::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 66%, rgba(255, 255, 255, 1) 100%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @media @phone, @tablet {
            border-left-width: 0;
            border-right-width: 0;
            right: 0;
            left: 0;
            background: transparent;
        }
    }

    &__subtitle {
        font-weight: @font-weight-medium;
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        line-height: 1;
        text-align: right;
        left: 0;
        padding: 2rem;
        width: 60%;
        transform: translateY(-50%);

        @media @phone, @tablet {
            width: 100%;
            padding: 0 1rem;
            transform: translateY(-50%);
        }
    }
}
