/**
 * Intro Effect Side
 */

.header {

    &__image {

        @media @phone {
            opacity: 0.5;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: @z-index-0;
        }

        &::before {
            background-color: @backgroundColor;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            transform: translateX(0);

            @media @phone, @tablet {
                transform: translateX(-100%);
            }
        }

        &::after {
            border: 80px solid @backgroundColor;
            background: transparent;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            @media @phone, @tablet {
                border-left-width: 0;
                border-right-width: 0;
                right: 0;
                left: 0;
                background: transparent;
            }
        }
    }

    &__subtitle {
        font-weight: @font-weight-medium;
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        line-height: 1;
        text-align: right;
        left: 0;
        padding: 2rem;
        width: 60%;
        transform: translateY(-50%);

        @media @phone, @tablet {
            width: 100%;
            padding: 0 1rem;
            transform: translateY(-50%);
        }
    }
}

/*
.header {
    height: 100%;

    &:not(.notrans) .trigger {
        .transform(opacity);
    }

    &.modify:not(.notrans) {

        .trigger {
            opacity: 0;
            pointer-events: none;
            transition-delay: 0s;
        }
    }

    &.modify {

        .header__image::before {
            transform: translateX(0);

            @media @phone, @tablet {
                transform: translateX(-100%);
            }
        }

        .header__image::after {
            background: transparent;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            @media @phone, @tablet {
                background: @color-transparentWhite;
            }
        }

        .header__title {
            transform: translateY(-50%);
        }

        .header__subtitle {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .header__image::before,
    .header__image::after {
        content: '';
        position: absolute;
        z-index: @z-index-0;
    }

    .header__image::before {
        background-color: @backgroundColor;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        transform: translateX(-100%);
    }

    .header__image::after {
        background-color: @color-transparent;
        border: 80px solid @backgroundColor;
        top: -80px;
        right: -80px;
        bottom: -80px;
        left: -80px;

        @media @phone, @tablet {
            border-left-width: 0;
            border-right-width: 0;
            right: 0;
            left: 0;
            background: transparent;
        }
    }

    .header__subtitle {
        font-weight: @font-weight-medium;
        opacity: 0;
        transform: translateY(100px);
    }

    .header__title {
        line-height: 1;
        text-align: right;
        left: 0;
        padding: 2rem;
        width: 60%;
        transform: translateX(33.3%) translateY(-50%);

        @media @phone, @tablet {
            width: 100%;
            padding: 0 1rem;
            transform: translateY(-50%);
        }
    }

    .trigger {
        background: transparent;
        border: 0;
        color: transparent;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4rem;
        text-align: center;
        z-index: @z-index-2;
    }
}

.header:not(.notrans) .header__image::before,
.header:not(.notrans) .header__title {
    transition-property: transform;
}

.header:not(.notrans) .header__image::after {
    transition-property: top, left, bottom, right, background-color;
}

.header:not(.notrans) .header__subtitle {
    transition-property: transform, opacity;
}

.header:not(.notrans) .header__image::before,
.header:not(.notrans) .header__image::after,
.header:not(.notrans) .header__title,
.header:not(.notrans) .header__subtitle,
.header:not(.notrans) .content > div {
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-duration: 0.5s;
}
*/

/* Delays */
.header:not(.notrans) .header__title,
.header:not(.notrans) .header__image::before,
.header:not(.notrans) .header__image::after {
    transition-delay: 0.3s;
}

.header.modify:not(.notrans) .header__title,
.header.modify:not(.notrans) .header__image::before,
.header.modify:not(.notrans) .header__image::after {
    transition-delay: 0s;
}

.header.modify:not(.notrans) .header__subtitle:nth-last-child(2) {
    transition-delay: 0.15s;
}

.header.modify:not(.notrans) .header__subtitle:last-child {
    transition-delay: 0.2s;
}

.header.modify:not(.notrans) .content > div {
    transition-delay: 0.3s;
}
*/
