.navigation {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: @z-index-4;
    background-color: @color-transparentDark;
    height: @btn-size-m;
    width: @btn-size-m;
    border: @border-thickness solid;
    .colorVar(border-color, --primaryColor, @primaryColor);
    border-radius: @border-radius-lg;
    .transform(all);
    transition-property: top, left, width, height;

    &.menu--open {
        top: -8px;
        left: -8px;
        height: calc(100vh + 16px);
        width: 266px;

        .menu {
            display: block;
            position: relative;
            top: 0;
            height: 100vh;
            width: 100%;
        }
    }

    .btn--hamburger {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    .menu {
        display: none;

        .menu__breadcrumbs {
            padding-left: 4.5rem;
        }

        .menu__breadcrumbs a,
        .menu__link,
        .menu__link[data-submenu]:after {
            border-bottom: 0;
            .colorVar(color, --primaryColor, @primaryColor);

            &:hover {
                .colorVar(color, --lightPrimaryColor, @lightPrimaryColor);
            }
        }

        .menu__breadcrumbs a:not(:last-child):after {
            .colorVar(color, --primaryColor, @primaryColor);

            &:hover {
                .colorVar(color, --lightPrimaryColor, @lightPrimaryColor);
            }
        }
    }
}

.shareList {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: @z-index-5;
}
