@nav-width: 15rem;

.navigation {
    position: fixed;
    left: -@nav-width;
    z-index: @z-index-4;
    height: 100vh;
    width: @nav-width;
    .transform(all);
    transition-property: top, left, width, height;

    &.menu--open {
        left: 0;
    }

    .menu {
        background-color: transparent;
        position: relative;
        top: 0;
        height: 100vh;
        width: @nav-width;

        @media @phone, @tablet {
            transform: none;
            z-index: @z-index-0;
        }

        .menu__breadcrumbs {
            .colorVar(background-color, --lightPrimaryColorTransparent, @lightPrimaryColorTransparent);
            height: @btn-size-lg;
            padding-top: 1rem;
            margin-right: @btn-size-lg;
            top: 1rem;
            .blur();

            &::before {
                .colorVar(background-color, --lightPrimaryColorTransparent, @lightPrimaryColorTransparent);
                content: '';
                height: 1rem;
                width: @nav-width;
                display: block;
                position: absolute;
                top: -1rem;
                left: 0;
            }
        }

        .menu__item {
            position: relative;

            &::after,
            &::before {
                .transform(all);
                content: '';
                height: @border-thickness;
                .colorVar(background-color, --darkPrimaryColor, @darkPrimaryColor);
                width: 100%;
                position: absolute;
                right: -100%;
            }

            &::after {
                top: calc(100% - 2 * @border-thickness);
            }

            &::before {
                top: (2 * @border-thickness);
            }

            &:hover {

                &::after,
                &::before {
                    right: 0;
                }
            }
        }

        .menu__wrap {
            .colorVar(background-color, --lightPrimaryColorTransparent, @lightPrimaryColorTransparent);
            top: 4rem;
            .blur();
        }

        .menu__breadcrumbs a:hover,
        .menu__link:hover,
        .menu__link[data-submenu]:hover::after {
            .colorVar(color, --darkPrimaryColor, @darkPrimaryColor);
        }

        .menu__breadcrumbs a,
        .menu__link,
        .menu__link[data-submenu]::after {
            border-bottom: 0;
            color: @colorDark;
        }

        .menu__link[data-submenu]::after {
            padding-right: 1rem;
        }

        .menu__breadcrumbs a:not(:last-child)::after {
            color: @colorDark;

            &:hover {
                .colorVar(color, --lightPrimaryColor, @lightPrimaryColorTransparent);
            }
        }

        .menu__link--current::before {
            content: '';
        }
    }
}

.btn--openMenu {
    position: absolute;
    right: calc(2rem - 100vw);
    top: 1rem;

    &::after {
        content: 'MENU';
        position: absolute;
        left: -3px;
        bottom: -@font-size-l;
    }
}

.btn--closeMenu {
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: transparent;
    .colorVar(border-color, --darkPrimaryColor, @darkPrimaryColor);
    border-right: @border-thickness solid transparent;
    border-radius: 0;

    &:hover {
        border-right-color: transparent;
    }

    &::after {
        content: '';
        height: 100vh;
        width: @border-thickness;
        .colorVar(background-color, --darkPrimaryColor, @darkPrimaryColor);
        position: absolute;
        top: calc(3rem - (2 * @border-thickness));
        right: -@border-thickness;
    }

    &::before {
        content: '';
        height: 2rem;
        width: @border-thickness;
        .colorVar(background-color, --darkPrimaryColor, @darkPrimaryColor);
        position: absolute;
        top: -2rem;
        right: -@border-thickness;
    }
}
