$nav-height: 3rem;

.navigation {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    //top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: $nav-width;
    z-index: $z-index-4;
    mix-blend-mode: difference;

    @include landscape-phone() {
        background-color: var(--lightPrimaryColor);
        mix-blend-mode: normal;
        width: 4rem;

        &__menu {
            display: none;
        }

        &__item {
            opacity: 1;
            color: var(--primaryColor);
            display: flex;
            align-items: center;
            flex-flow: column;

            > svg {
                stroke: var(--primaryTextColor);
            }
        }

        &__label {
            color: var(--primaryTextColor);
        }
    }

    @include portrait-phone() {
        background-color: var(--lightPrimaryColor);
        mix-blend-mode: normal;
        height: 3rem;
        width: 100%;
        flex-flow: row;
        bottom: 0;

        &__menu {
            display: none;
        }

        &__item {
            opacity: 1;
            display: flex;
            flex-flow: column;
        }
    }

    /*
    @include belowBreakpoint(lg) {
        flex-flow: row;
        left: 0;
        top: auto;
        height: $nav-height;
        width: 100%;
        mix-blend-mode: normal;
    }
    */

    @include betweenBreakpoint(xs, lg) {
       // top: 1rem;
    }

    &__menu {
        order: 0;

        @include landscape-phone() {
            //display: none;
        }
    }

    &__item {
        opacity: 0;
        order: 1;


        @include aboveBreakpoint(xs) {
            //background: var(--accentColor);
            //filter: grayscale(100%);
        }

        > svg {
            stroke: var(--secondaryTextColor);

            @include belowBreakpoint(xs) {
                stroke: var(--primaryTextColor);
            }
        }
    }

    &__label {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        line-height: $line-height-sm;
        color: var(--primaryColor);
        text-transform: uppercase;

        @include aboveBreakpoint(lg) {
            display: none;
        }
    }

    &:target {

        .navigation__item {
            opacity: 1;
        }
    }
}
