$nav-height: 3rem;

.navigation {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: $nav-width;
    z-index: $z-index-4;
    mix-blend-mode: difference;

    @include belowBreakpoint(lg) {
        flex-flow: row;
        left: 0;
        top: auto;
        height: $nav-height;
        width: 100%;
        mix-blend-mode: normal;
    }

    @include betweenBreakpoint(xs, lg) {
        bottom: 1rem;
    }

    @include belowBreakpoint(xs) {
        background-color: var(--lightPrimaryColor);
        bottom: 0;
    }

    &__item {
        border: 0;
        margin: 0;

        @include belowBreakpoint(xs) {
            color: var(--primaryColor);
            display: flex;
            align-items: center;
            flex-flow: column;
        }

        @include aboveBreakpoint(xs) {
            background: var(--accentColor);
            //filter: grayscale(100%);
        }

        > svg {
            stroke: var(--secondaryTextColor);

            @include belowBreakpoint(xs) {
                stroke: var(--primaryTextColor);
            }
        }
    }

    &__label {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        line-height: $line-height-sm;
        color: var(--primaryColor);
        text-transform: uppercase;

        @include belowBreakpoint(xs) {
            color: var(--primaryTextColor);
        }

        @include aboveBreakpoint(xs) {
            display: none;
        }
    }
}
