/**
 * Colors
 */
$color-transparent: rgba(255, 255, 255, 0.125);
$color-transparentDark: rgba(0, 0, 0, 0.775);

:root {
    --red: 198;
    --green: 216;
    --blue: 81;
    --primaryColor: rgb(var(--red), var(--green), var(--blue));
    // High contrast calculation from https://css-tricks.com/css-variables-calc-rgb-enforcing-high-contrast-colors/
    --rgbTemp: calc((((var(--red) * 299) + (var(--green) * 587) + (var(--blue) * 114)) - 128000) * -1000);
    --primaryTextColor: rgb(var(--rgbTemp), var(--rgbTemp), var(--rgbTemp));
    --contentBackgroundColor: #e6e6e6;
    --contentTextColor: #38444b;
}

// stylelint-disable-next-line
@media (prefers-color-scheme: dark) {

    :root {
        --contentBackgroundColor: #38444b;
        --contentTextColor: #e6e6e6;
    }
}
