---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import CategoryHero from '../components/CategoryHero.astro';
import heroImage from '../images/categories/blog.jpg';
import Grid from '../components/Grid.astro';
import BlogPreview from '../components/previews/BlogPreview.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.first_published.valueOf() - a.data.first_published.valueOf(),
);
---

<BaseLayout title="My blog | Veeck" description="Learn about ramblings and stuff I find noteworthy">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<CategoryHero
				title="My blog"
				tagline="ramblings and stuff I find noteworthy"
				image={heroImage}
				imageAlt="A wall of book crates in a bookstore"
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li>
							<BlogPreview post={post} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
