---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import CategoryHero from '../components/CategoryHero.astro';
import heroImage from '../images/categories/galleries.jpg';
import Grid from '../components/Grid.astro';
import GalleryPreview from '../components/previews/GalleryPreview.astro';

const galleries = (await getCollection('galleries')).sort(
	(a, b) => b.data.last_modified.valueOf() - a.data.last_modified.valueOf(),
);
---

<BaseLayout accent="amber" title="My galleries | Veeck" description="Learn about Veeck's most recent galleries">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<CategoryHero
				title="My galleries"
				tagline="The panoramic pictures I have taken"
				image={heroImage}
				imageAlt="A disassembled Canon camera laid out on a table"
			/>
			<Grid variant="offset">
				{
					galleries.map((gallery) => (
						<li>
							<GalleryPreview gallery={gallery} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
