---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Resume" description="my resume">
	<Hero title="Resume" tagline="you found it!" />

	<p class="content">
		A senior full-stack software engineer specializing in user experience, end-to-end product development, and design
		systems. Skills and experience include:
	</p>

	<ul>
		<li>sfasfa</li>
		<li>sfasfa</li>
		<li>sfasfa</li>
		<li>sfasfa</li>
	</ul>
	<h3>featured</h3>

	<h4>featured</h4>

	<h5>featured</h5>
</BaseLayout>
