---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import CategoryHero from '../components/CategoryHero.astro';
import heroImage from '../images/categories/travels.jpg';
import Grid from '../components/Grid.astro';
import TravelPreview from '../components/previews/TravelPreview.astro';

const travels = (await getCollection('travels')).sort(
	(a, b) => b.data.first_published.valueOf() - a.data.first_published.valueOf(),
);
---

<BaseLayout accent="blue" title="My travels | Veeck" description="Learn about Veeck's most recent travels">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<CategoryHero
				title="My travel diaries"
				tagline="Read my travel experiences from around the world."
				image={heroImage}
				imageAlt="Scratch-off world map on my wall"
			/>
			<Grid variant="offset">
				{
					travels.map((travel) => (
						<li>
							<TravelPreview travel={travel} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
