---
title: veeck shoots - 360 degrees of panoramas
heading: 360 degrees
lang: en
lead: panoramas going full circle
img: 360
last-modified: 2014-04-21
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_360.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>
