---
title: veeck shoots - Images from a different perspective
heading: perspective
lang: en
lead: panoramas from another angle
img: perspective
last-modified: 2014-04-21
---
<article class="article">
    <section class="galleryBox galleryBox--fluid">
        {{#each pano_perspective.images}}
            {{> figure-gallery
                class='gallery__item'
                img=img
                caption=caption
                isNew=isNew}}
        {{/each}}
    </section>
</article>
