---
title: My software projects
titlestyle: animated
heading: software
lang: en
lead: my written works
img: software
last-modified: 2017-12-11
---
<link rel="import" href="webcomponent/github-card.html">

<article class="article article__software">
    <section id="github">
        <h2 class="h2">my github profile</h2>
        <github-card class="figure--github" user="rejas"></github-card>
        <p>In case you are running chrome or any other modern browser that already supports
            <a class="article__link" href="https://caniuse.com/#search=web%20component" target="_blank" rel="noopener">web-components</a> you can see my github card to
            the left. On github I store my hobby projects, so feel free to go <a class="article__link" href="https://github.com/rejas" target="_blank" rel="noopener">there</a>,
            explore, fork or star one of them:</p>
        <ul class="article__list">
            <li><a class="article__link" href="https://rejas.github.io/imagelightbox/" target="_blank" rel="noopener">imagelightbox</a>an image gallery, responsive and touch-friendly</li>
            <li><a class="article__link" href="https://github.com/rejas/mediaquery-event" target="_blank" rel="noopener">mediaquery-event</a>fire events when mediaquery changes happen</li>
            <li><a class="article__link" href="https://github.com/rejas/multilevelmenu" target="_blank" rel="noopener">multilevelmenu</a>the menu you see on this site</li>
        </ul>
    </section>

    <section id="hulai">
        <h2 class="h2">How unlucky am I?</h2>
        <figure class="figure--icon">
            <a class="article__link" href="http://howunluckyami.com" target="_blank" rel="noopener">
                <i class="icon icon--l icon-hulai"></i>
            </a>
        </figure>
        <p>Ever wondered how unlucky you are when it comes to boss loot? Trying to get that one item from a
            boss in the mmorpg or from a loot crate? Also:
            <a class="article__link" href="https://reactjs.org/" target="_blank" rel="noopener">React</a> is the hot
            stuff for quite a long time already so why not use a little project to learn it?</p>
        <p>With this little webtool you can get the answer after you input the number of times you already tried. LOTS
            of data missing though, only a few items from
            <a class="article__link" href="https://www.worldofwarcraft.com/" target="_blank" rel="noopener">World of Warcraft</a>
            are included.</p>
        <ul class="article__list">
            <li><a class="article__link" href="http://howunluckyami.com" target="_blank" rel="noopener">How unlucky am I?</a></li>
        </ul>
    </section>

    <section id="wowFeed">
        <h2 class="h2">World of Warcraft RSS Feed</h2>
        <figure class="figure--icon">
            <a class="article__link" href="https://www.worldofwarcraft.com/" target="_blank" rel="noopener">
                <i class="icon icon--l icon-wow"></i>
            </a>
        </figure>
        <p>Since their last redesign Blizzard doesn’t provide an RSS feed on their armory-website anymore. They do however
        offer an API to access a JSON-encoded activity feed for character and guilds. Since a colleague held a
        presentation about node.js and how easy it is to deploy a server-app with it, I took the opportunity to
        enhance my javascript knowledge and wrote this JSON-to-RSS-Feed Converter for World-Of-Warcraft:</p>

        <form class="form" action="https://wowfeed.herokuapp.com">

            {{> input-text
                name='character'
                id='charname'
                label='Character'}}

            {{> input-text
                name='realm'
                id='charrealm'
                label='Realm'}}

            <span class="input input-select">
                <select id="char_region" name="region" class="select">
                    <option value="-1" selected>Region</option>
                    <option value="eu">Europe</option>
                    <option value="us">US</option>
                    <option value="tw">Taiwan</option>
                    <option value="kr">Korea</option>
                </select>
            </span>

            <button class="btn btn--md btn--animated" type="submit">Get RSS</button>
        </form>

        <form class="form" action="https://wowfeed.herokuapp.com">

            {{> input-text
                name='guild'
                id='guildname'
                label='Guild'}}

            {{> input-text
                name='realm'
                id='guildrealm'
                label='Realm'}}

            <span class="input input-select">
                <select id="guild_region" name="region" class="select">
                    <option value="-1" selected>Region</option>
                    <option value="eu">Europe</option>
                    <option value="us">US</option>
                    <option value="tw">Taiwan</option>
                    <option value="kr">Korea</option>
                </select>
            </span>

            <button class="btn btn--md btn--animated" type="submit">Get RSS</button>
        </form>
    </section>

    <section id="rasterbator">
        <h2 class="h2">The Rasterbator</h2>
        <figure class="figure--icon">
            <a class="article__link" href="https://arje.net/rasterbator" target="_blank" rel="noopener">
                <i class="icon icon--l icon-rasterbator"></i>
            </a>
        </figure>
        <p>I took the liberty to update the <a class="article__link" href="http://arje.net/rasterbator">Rasterbator</a> to run on my MacBook Pro.
        On MacOS it requires the <a class="article__link" href="http://go-mono.com/" target="_blank" rel="noopener">Mono-Framework</a> to work, under
        Windows XP you will need an installed .NET-framework. If you find a bug or have a comment, please write me an email.</p>
        <p>What it does? The Rasterbator creates huge, rasterized, multi-page images from any picture.
        The rasterized images can be printed and assembled into extremely cool posters.</p>
        <ul class="article__list">
            <li><a class="article__link" href="files/nsis/The%20Rasterbator%20v1.3.dmg">MacOS DiskImage</a>v1.3 (dmg, 709 KB, 12.03.2010)</li>
            <li><a class="article__link" href="files/nsis/The%20Rasterbator%20v1.3%20setup.exe">Windows Installer</a>v1.3 (exe, 467 KB, 12.03.2010)</li>
            <li><a class="article__link" href="https://github.com/rejas/rasterbator" target="_blank" rel="noopener">Source code</a> (v1.4.2)</li>
        </ul>
    </section>

    <section>
        <h2 class="h2">NSIS Installer Scripts</h2>
        <figure class="figure--icon">
            <a class="article__link" href="http://nsis.sourceforge.net/" target="_blank" rel="noopener">
                <i class="icon icon--l icon-nsis"></i>
            </a>
        </figure>
        <p>Some <a class="article__link" href="http://nsis.sourceforge.net/" target="_blank" rel="noopener">NSIS-Installer</a> scripts to build your own .EXE files for:</p>
        <ul class="article__list">
            <li><a class="article__link" href="http://openhardwaremonitor.org/" target="_blank" rel="noopener">Open Hardware Monitor</a>
                v0.8.0 beta, a free pc-hardware sensor monitor: <a href="files/nsis/ohm080.nsi">script</a> (nsi, 5 KB) |
                <a href="files/nsis/Open%20Hardware%20Monitor%20v0.8.0%20beta%20setup.exe">setup.exe</a> (exe, 481 KB) | updated 11.12.2017
            </li>
            <li><a class="article__link" href="http://matthewalunbrown.com/autostitch/autostitch.html" target="_blank" rel="noopener">Autostich</a>
                v3.0, a fully automatic 2D image stitcher: <a href="files/nsis/autostich30.nsi">script</a> (nsi, 5 KB) |
                <a href="files/nsis/Autostich%20v3.0%20setup.exe">setup.exe</a> (exe, 6 MB) | updated  11.12.2017
            </li>
            <li><a class="article__link" href="http://www.virtualdub.org/" target="_blank" rel="noopener">VirtualDub</a>
                v1.10.4, a video capture/processing utility: <a href="files/nsis/vdub1104.nsi">script</a> (nsi, 5 KB) |
                <a href="files/nsis/VirtualDub%20v1.10.4%20setup.exe">setup.exe</a> (exe, 1.5 MB) | updated  19.11.2013
            </li>
            <li><a class="article__link" href="http://gspot.headbands.com/" target="_blank" rel="noopener">GSpot</a>
                v2.70a, a codec information appliance: <a href="files/nsis/gspot270a.nsi">script</a> (nsi, 5 KB) |
                <a href="files/nsis/GSpot%20v2.70a%20setup.exe">setup.exe</a> (exe, 402 KB) | updated 22.05.2007
            </li>
        </ul>
    </section>
</article>
