---
title: veeck werkelt - Die Dave-Und-Veeck-Show
titlestyle: cake
heading: Die Dave und Veeck Show
lang: de
lead: Die einzige Radiosendung, die nackt moderiert wurde
when: 2006
img: radio
last-modified: 2012-02-15
---
<article class="article">
    <p class="article__intro">Nur hier, auf <a class="article__link" href="http://myspace.com/diedaveundveeckshow">MySpace</a>
        und im <a class="article__link" href="http://www.rdl.de/">Radio Dreyeckland</a>:</p>

    {{> block-audio name='Episode1' title='Folge 1: Der Papst und Pirmasens'}}

    {{> block-audio name='Episode2' title='Folge 2: Britney und die Unendlichkeit'}}

    {{> block-audio name='Episode3' title='Folge 3: Eisenharte Feuchte Sommerliebe'}}

    {{> block-audio name='Episode4' title='Folge 4: Rebällentum'}}

    {{> block-audio name='Episode5' title='Folge 5: Hitler und Ronny Live'}}

    {{> block-audio name='Episode6' title='Folge 6: Ein Radioshow-Todesfall und eine Hochzeit'}}

</article>
