---
title: veeck werkelt - My G4 PC modification
titlestyle: colorfont
heading: g4pc
lang: en
lead: how to mod a pc into a mac case
when: 2006 / 2016
img: g4pc
last-modified: 2017-01-14
---
<article class="article article--capped">
    <section>
        <h2 class="h2">my g4pc</h2>

        <div class="article__box">
            <p>Tired of the same old boring computer cases everywhere I decided in 2006 to build my own pc case.
                Inspired by lots of mods around the web like {{> link-extern text='this modification on HardOCP'
                url='https://www.hardocp.com/article/2002/09/13/rotten_apple'}} I knew that I also wanted an Apple G4
                case fitted to accommodate standard x86 PC components. Another good source for information was
                {{> link-extern url='https://www.slcentral.com/articles/01/8/g4pc/' text='this modification'}}. Some
                expensive auctioning at eBay and a lot of drilling later I had such a special PC myself. Groovy, baby!
            </p>
            <img class="article__image" src="/img/projects/g4pc/thumbnail_2k06_final.jpg" alt="Looks innocent?">
        </div>

        <div class="article__box">
            <p class="article__text">I have seen modifications to G4 cases which just stuck everything into the case
                without keeping the old layout. Those are of course not able to open the PC while running, which is the
                coolest effect of the G4 case.
            </p>
            <img class="article__image" src="/img/projects/g4pc/thumbnail_2k06_open.jpg" alt="Opened case">
        </div>

        <div class="article__box">
            <p class="article__text">Only very flat components like these chips wont touch the optical drive cage or otherwise
                the side-door won’t close due to the large optical drive taking much space. I was lucky to find this
                board where only one of the RAM-holders had to go, leaving me with 'only' 1 GigaByte of RAM.
            </p>
            <img class="article__image" src="/img/projects/g4pc/thumbnail_2k06_ram.jpg" alt="Memory slot modification">
        </div>

        <div class="article__box">
            <p class="article__text">If I installed my PSU the way Apple intented it with the power connectors
                beneath the fan outlet, one of them would suck the air from the wrong side of the case. So I
                had to do some more cutting to make room for the fan outlet and install the PSU upside-down.
            </p>
            <img class="article__image" src="/img/projects/g4pc/thumbnail_2k06_psu.jpg" alt="Power supply modification">
        </div>

        <div class="article__box">
            <p class="article__text">Another incompatible component was the IO-shield of the G4-case. I once again had to use my old
                companion, the dremel, to cut out a good piece of the backplate. Later I used some spare plastic piece
                to model a new back-plate for my PC. If I find the time, I will color it to match the rest of the case.
            </p>
            <img class="article__image" src="/img/projects/g4pc/thumbnail_2k06_atx.jpg" alt="ATX shield modification">
        </div>

        <div class="article__box">
            <p class="article__text">And no case-mod is finished without some lighting inside. So I put three blue leds into the G4 case
                which shine from behind the apple logo to show who really makes the most stylish computer cases. Move
                the cursor over the picture to see how it shines in the dark.
            </p>
            <img id="g4_light" class="article__image" src="/img/projects/g4pc/thumbnail_2k06_lightON.jpg" alt="Lights on"
                 onmouseover="document.getElementById('g4_light').src='/img/projects/g4pc/thumbnail_2k06_lightON.jpg'"
                 onmouseout="document.getElementById('g4_light').src='/img/projects/g4pc/thumbnail_2k06_lightOFF.jpg'">
        </div>

        <p>Later the project was disassembled and I moved on to a normal laptop. But in 2014 I came across a second g4
            case I could use for spare parts. So I wanted to do it right this time and also get a nice paint job done.
        </p>
    </section>

    <section>
        <h2 class="h2">Specs 2006 Version</h2>

        <div class="article__box">
            <ul class="article__list">
                <li>CPU: AMD AthlonXP 2600+</li>
                <li>Cooler: {{> link-extern
                    url='https://www.silentpcreview.com/article130-page1.html' text='Swiftech MCX 462-V'}}
                </li>
                <li>RAM: 1 GB MTD PC400</li>
                <li>Mainboard: {{> link-extern
                    url='http://www.ecs.com.tw/ECSWebSite/Product/Product_Detail.aspx?DetailID=357'
                    text='ECS Elitegroup KM400-M'}}
                </li>
                <li>Graphics: {{> link-extern
                    url='http://www.gigabyte.com/products/product-page.aspx?pid=1198#ov'
                    text='Gigabyte GV-N68128DH Geforce 6800'}}
                </li>
                <li>Harddrive: {{> link-extern
                    url='http://www.seagate.com/support/internal-hard-drives/desktop-hard-drives/desktop-hdd/?sku=ST3120026A-RK&amp;q=Seagate%20120GB%20ST3120026A'
                    text='Seagate 120GB ST3120026A'}}
                </li>
                <li>Sound: {{> link-extern
                    url='http://support.creative.com/Products/ProductDetails.aspx?catID=1&amp;CatName=Sound+Blaster&amp;prodID=14103&amp;prodName=Audigy+4'
                    text='CreativeLabs Soundblaster Audigy 4'}}
                </li>
                <li>Optical Drive: {{> link-extern
                    url='http://www.lg.com/de/service-produkt/lg-GSA-4167B'
                    text='LG GSA-4167B DVD-Writer'}}
                </li>
                <li>PSU: TSP 420 P4 Ultra Silent TripleFan</li>
                <li>Monitor: {{> link-extern
                    url='http://www.iiyama.com/pages/startseite.asp?0|1|0|0|0|0|0|2|0|1464'
                    text='Iiyama ProLite E431S-B 17\'\' TFT'}}
                </li>
                <li>Cardreader: Cooltek 7-in-1 with 2 Front-USB-ports</li>
                <li>OS: {{> link-extern
                    url='http://www.gentoo.org'
                    text='Gentoo Linux'}}
                </li>
            </ul>
            {{> figure-gallery
                class='article__image figure--right figure--landscape'
                img='/img/projects/g4pc/2k06_final'
                caption='The classic 2006 version'}}
        </div>
    </section>

    <section id="2k16">
        <h2 class="h2">Specs 2k16 Version</h2>

        <div class="article__box">

            <ul class="article__list">
                <li>CPU: AMD FX-6300 Six-Core Processor</li>
                <li>Cooler / Fans: Noctua NF-A9x14PWM and NF-S12A PWM</li>
                <li>RAM: 8GB Kingston HyperX Genesis DDR3</li>
                <li>Mainboard: {{> link-extern
                    url='http://www.asrock.com/mb/AMD/960GM-VGS3%20FX/'
                    text='Asrock 960GM-VGS3 FX'}}
                </li>
                <li>Graphics: {{> link-extern
                    url='https://www.zotac.com/de/product/graphics_card/zotac-geforce-gtx-1060-amp-edition'
                    text='ZOTAC GeForce GTX 1060 AMP! Edition 6GB'}}
                </li>
                <li>Harddrive: Samsung 850 EVO 250GB SSD, Samsung HD503HI 500GB HDD</li>
                <li>Optical Drive: LG BH16NS40</li>
                <li>PSU: be quiet! Straight Power E9 580W</li>
                <li>Monitor: {{> link-extern
                    url='http://www.samsung.com/de/consumer/displays/displays/tv-monitor/LT27A550EW/EN/'
                    text='Samsung TV+Monitor T27A550'}}
                </li>
                <li>OS: Windows 10 (64bit)</li>
            </ul>

            {{> figure-gallery
                class='article__image figure--right figure--landscape'
                img='/img/projects/g4pc/2k16_final'
                caption='Painted and assembled 2k16 version'}}
        </div>
    </section>
</article>
