---
title: veeck werkelt - My software projects
titlestyle: animated
heading: software
lang: en
lead: my written works
img: software
last-modified: 2019-05-21
---
<article class="article article__software">
    <section id="github">
        <h2 class="h2">my github profile</h2>
        <github-card class="figure--github" user="rejas"></github-card>
        <p>In case you are running chrome or any other modern browser that already supports {{> link-extern
            url='https://caniuse.com/#search=web%20component' text='web-components'}} you can see my github card to the
            left. On github I store my hobby projects, so feel free to go {{> link-extern url='https://github.com/rejas'
            text='there'}} explore, fork or star one of them:</p>
        <ul class="article__list">
            <li>{{> link-extern url='https://rejas.github.io/imagelightbox/' text='imagelightbox'}} an image gallery, responsive and touch-friendly</li>
            <li>{{> link-extern url='https://github.com/rejas/mediaquery-event/' text='mediaquery-event'}} fire events when mediaquery changes happen</li>
            <li>{{> link-extern url='https://github.com/rejas/multilevelmenu/' text='multilevelmenu'}} a simple menu with multiple levels and an optional breadcrumb navigation and back button</li>
        </ul>
    </section>

    <section id="hulai">
        <h2 class="h2">How unlucky am I?</h2>
        <figure class="figure--icon">
            {{> link-logo url='https://howunluckyami.com/' icon='hulai'}}
        </figure>
        <p>Ever wondered how unlucky you are when it comes to boss loot? Trying to get that one item from a boss in the
            mmorpg or from a loot crate? Also: {{> link-extern url='https://reactjs.org/' text='React'}} is the hot
            stuff for quite a long time already so why not use a little project to learn it?</p>
        <p>With this little webtool you can get the answer after you input the number of times you already tried. LOTS
            of data missing though, only a few items from {{> link-extern url='https://www.worldofwarcraft.com/'
                text='World of Warcraft'}} are included.</p>
        <ul class="article__list">
            <li>{{> link-extern url='https://howunluckyami.com/' text='How unlucky am I?'}}</li>
        </ul>
    </section>

    <section id="wowFeed">
        <h2 class="h2">World of Warcraft RSS Feed</h2>
        <figure class="figure--icon">
            {{> link-logo url='https://www.worldofwarcraft.com/' icon='wow'}}
        </figure>
        <p>Since their last redesign Blizzard doesn’t provide an RSS feed on their armory-website anymore. They do
            however
            offer an API to access a JSON-encoded activity feed for character and guilds. Since a colleague held a
            presentation about node.js and how easy it is to deploy a server-app with it, I took the opportunity to
            enhance my javascript knowledge and wrote this JSON-to-RSS-Feed Converter for World-Of-Warcraft:</p>

        <form class="form" action="https://wowfeed.herokuapp.com">

            {{> input-text
                name='character'
                id='charname'
                label='Character'}}

            {{> input-text
                name='realm'
                id='charrealm'
                label='Realm'}}

            <span class="input__block input__select">
                <select id="char_region" name="region" class="select">
                    <option value="-1" selected>Region</option>
                    <option value="eu">Europe</option>
                    <option value="us">US</option>
                    <option value="tw">Taiwan</option>
                    <option value="kr">Korea</option>
                </select>
            </span>

            <button class="btn btn--md" type="submit">Get RSS</button>
        </form>

        <form class="form" action="https://wowfeed.herokuapp.com">

            {{> input-text
                name='guild'
                id='guildname'
                label='Guild'}}

            {{> input-text
                name='realm'
                id='guildrealm'
                label='Realm'}}

            <span class="input__block input__select">
                <select id="guild_region" name="region" class="select">
                    <option value="-1" selected>Region</option>
                    <option value="eu">Europe</option>
                    <option value="us">US</option>
                    <option value="tw">Taiwan</option>
                    <option value="kr">Korea</option>
                </select>
            </span>

            <button class="btn btn--md" type="submit">Get RSS</button>
        </form>
    </section>

    <section id="nsis">
        <h2 class="h2">NSIS Installer Scripts</h2>
        <figure class="figure--icon">
            {{> link-logo url='http://nsis.sourceforge.net/' icon='nsis'}}
        </figure>
        <p>Some programs I use don't come bundled with an installer. For those I created {{> link-extern
            url='http://nsis.sourceforge.net/' text='NSIS-Installer'}} scripts to build my own installation binaries.
            I only keep the installer here, the scripts can be found in my {{> link-extern text='github repository'
                url='https://github.com/rejas/nsis'}}:</p>
        <ul class="article__list">
            <li>{{> link-extern text='Open Hardware Monitor' url='https://openhardwaremonitor.org'}} v0.8.0 beta, a free
                pc-hardware sensor monitor:
                {{> link-extern url='https://www.dropbox.com/s/wipwpubl1iq79n2/Open%20Hardware%20Monitor%20v0.8.0%20beta%20setup.exe?dl=0' text='setup.exe'}}
                (exe, 500 KB)| updated 06.11.2016
            </li>
            <li>{{> link-extern text='StaxRip' url='https://github.com/staxrip/staxrip'}} v2.0.2.0, a video encoding
                app:
                {{> link-extern url='https://www.dropbox.com/s/b7qlb8tpwfl22xy/StaxRip%20v2.0.2.0%20setup.exe?dl=0' text='setup.exe'}}
                (exe, 224 MB) | updated 21.05.2019
            </li>
        </ul>
    </section>

    <section id="rasterbator">
        <h2 class="h2">The Rasterbator</h2>
        <figure class="figure--icon">
            {{> link-logo url='https://arje.net/rasterbator' icon='rasterbator'}}
        </figure>
        <p>I took the liberty to update the {{> link-extern url='https://arje.net/rasterbator' text='Rasterbator'}} to
            run on my MacBook Pro. On MacOS it requires the {{> link-extern url='http://go-mono.com/'
                text='Mono-Framework'}} to work, under Windows you will need an installed .NET-framework. If you find a
            bug
            or have a comment, please write me an email.</p>
        <p>What it does? The Rasterbator creates huge, rasterized, multi-page images from any picture. The rasterized
            images can be printed and assembled into extremely cool posters.</p>
        <ul class="article__list">
            <li>{{> link-extern url='https://www.dropbox.com/s/3afekztizu6nfjv/The%20Rasterbator%20v1.3.dmg?dl=0' text='MacOS DiskImage'}}
                v1.3 (dmg, 700 KB, 12.03.2010)
            </li>
            <li>{{> link-extern url='https://www.dropbox.com/s/q79xtkt7g1h9b13/The%20Rasterbator%20v1.3%20setup.exe?dl=0' text='Windows Installer'}}
                v1.3 (exe, 450 KB, 12.03.2010)
            </li>
            <li>{{> link-extern url='https://github.com/rejas/rasterbator' text='Source code'}} (v1.4.2)</li>
        </ul>
    </section>
</article>
