
/**
 * Links
 */

.search_article {

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 0.5rem 0;

            a {
                padding-right: 0.5rem;
            }
        }
    }

    form {
        display: table;

        label {
            display: table-cell;
        }

        > div {
            display: table-cell;

            > input {
                text-align: right;
                width: 100%;
            }
        }

        button[type='submit'] {
            display: table-cell;
            margin-left: 1rem;
        }
    }
}
