
/**
 * Links
 */

.search_article {

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 0.5rem 0;

            a {
                padding-right: 0.5rem;
            }
        }
    }

    form {
        display: table;

        label {
            display: table-cell;
        }

        .input {
            display: table-cell;
            border-bottom: @border-thickness solid @accentColor;

            > input {
                border: 0;
                font-size: @font-size-m;

                &:focus {
                    outline: none;
                }
            }
        }

        button[type='submit'] {
            display: table-cell;
            margin-left: 1rem;
        }
    }
}
