
/**
 * Links
 */

.search_article {

    form {
        display: flex;
        margin-bottom: 1rem;

        @media @phone {
            flex-wrap: wrap;
        }

        label {
            flex-grow: 0;
        }

        .input {
            flex-grow: 1;
            border-bottom: @border-thickness solid @accentColor;
            margin-right: 1rem;
        }

        button[type='submit'] {
            flex-grow: 0;
        }
    }
}
