/**
 * Galleries
 */

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
        margin-bottom: 1rem;
    }

    &-thirds-lg {
        @media @desktop {
            figure {
                width: 32%;
            }
        }
    }
    
    &-half-md {
        @media @tablet {
            figure {
                width: 49%;
            }
        }
    }

    /*
    figure {
        position: relative;
        display: inline-block;
        margin: 0 0 1rem 0;
        vertical-align: top;

        &.wide {
            width: 100%;
        }

        &.normal:nth-child(2n),
        &.quader:nth-child(2n),
        &.skyscraper:nth-child(4n),
        &.wide:nth-child(2n) {
            margin-right: 0;
        }

        @media @desktop {
            width: 48%;
            margin-right: 2%;

            &.skyscraper {
                width: 23%;
                margin-right: 2%;
            }
        }

        @media @tablet {
            width: 32%;
            margin-right: 0.8%;

            .normal {
                width: 48%;
                margin-right: 2%;
            }

            .skyscraper {
                width: 19%;
                margin-right: 0.5%;
            }
        }

        @media @phone {
            width: 48%;

            &.normal {
                width: 100%;
            }
        }
    }
    */
}
