
/**
 * Galleries
 */

.gallery_article {

    figure {
        position: relative;
        display: inline-block;
        margin: 0 0 1em 0;
        vertical-align: top;

        &.wide {
            width: 100%;
        }

        &.normal:nth-child(2n),
        &.quader:nth-child(2n),
        &.skyscraper:nth-child(4n),
        &.wide:nth-child(2n) {
            margin-right: 0;
        }

        @media @desktop {
            width: 48%;
            margin-right: 2%;

            &.skyscraper {
                width: 23%;
                margin-right: 2%;
            }
        }

        @media @tablets {
            width: 32%;
            margin-right: 0.8%;

            .normal {
                width: 48%;
                margin-right: 2%;
            }

            .skyscraper {
                width: 19%;
                margin-right: 0.5%;
            }
        }

        @media @smartphones {
            width: 48%;

            &.normal {
                width: 100%;
            }
        }
    }
}
