
/**
 * Research
 */

.github-card {
    float: left;
    margin-right: 1rem;

    @media @phone {
        width: 100%;

        &::shadow .user {
            width: 100%;
        }
    }

    @media @tablet, @desktop {

        &::shadow .user {
            width: 200px;
        }

        + h2 {
            padding-left: 200px;
        }
    }
}

.project-article {

}

.content__box:extend(.container) {
    margin-bottom: 1rem;

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.content__image:extend(.col-mb-12, .col-6, .col-dt-4) {
}

.content__text:extend(.col-mb-12, .col-6, .col-dt-8) {
}

.radio_article {

    .h2 {
        float: left;
        margin-right: 1rem;
        padding: 0;
    }

    audio {
        width: 100%;
        margin: 1rem 0 2rem 0;
    }

    a {
        float: right;
    }
}

.research_article {
.clearfix();

figure {
    .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
    float: left;
    margin: 0.25rem 1rem 1rem 0;
    min-width: 200px;
    width: auto;

    @media @phone {
        width: 100%;
    }
}

form {
    .clearfix();
    margin-bottom: 2rem;
}

.input {
    width: 49%;
    margin-right: 1%;
    float: left;

    @media @phone {
        width: 100%;
    }
}
}

.tech_specs {
list-style: none;

li {
    color: black;
    font-weight: @font-weight-bold;

    span {
        font-weight: @font-weight-normal;
    }

    &:before {
        border-radius: 2px;
        .colorVar(background-color, --primaryColor, @primaryColor);
        content: "";
        float: left;
        width: .5rem;
        height: .5rem;
        margin: .5rem;
    }
}
}
