
/**
 * Research
 */

.github-card {
    float: left;
    margin-right: 15px;

    @media @smartphones {
        width: 100%;

        &::shadow .user {
            width: 100%;
        }
    }

    @media @tablets, @desktop {

        &::shadow .user {
            width: 200px;
        }

        + h2 {
            padding-left: 200px;
        }
    }
}

.radio_article {

    audio {
        width: 100%;
        margin: 10px 0 25px 0;
    }

    a {
        float: right;
    }
}

.research_article {

    figure {
        float: left;
        margin: 0 0 0.75em 0;
        min-width: 200px;
        .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
        border-radius: 6px;
    }

    form {
        display: table;

        label {
            display: table-cell;
            float: left;
        }
    }
}

@media @desktop {

    .research_article {

        figure {
            width: auto;
            margin: 0 1em 1em 0;
        }

        form {
            max-width: 750px;
            float: left;
            margin-bottom: 2em;

            label {
                width: 175px;
                float: none;
                padding: 0 10px 0 0;
            }
        }

        input,
        select {
            margin: 0 10px;
            width: auto;
            float: none;
        }

        input[type='text'] {
            width: 100%;
            float: left;
            margin-left: 0;
        }

        button {
            float: none;
            position: relative;
            top: 32px;
        }
    }
}

@media @tablets {

    .research_article {

        figure {
            .boxshadow(1);
            width: auto;
            margin: 0 1em 1em 0;
        }

        form {
            max-width: 750px;
            float: left;
            margin-bottom: 2em;

            label {
                width: 175px;
                float: none;
                padding: 0 10px 0 0;
            }
        }

        input,
        select {
            width: auto;
            float: none;
            margin: 0 10px 0 0;
        }

        input[type='text'] {
            width: 100%;
            float: left;
            margin: 0;
        }

        button {
            float: none;
            position: relative;
            top: 27px;
        }
    }
}

@media @smartphones {

    .research_article {

        figure {
            width: 100%;
        }

        form {
            margin-bottom: 3em;

            label {
                margin-bottom: 10px;
                width: 100%;
            }
        }

        input[type='text'] {
            float: right;
            width: 66%;
        }

        button {
            float: right;
            width: 33%;
        }

        select {
            float: right;
            width: 66%;
        }
    }
}

.tech_specs {

    li {
        font-weight: @font-weight-bold;

        span {
            font-weight: @base-font-weight;
        }
    }
}
