/**
 * Travel page
 */
@colorFigure:   #ede1c9;
@colorFigure2:  lighten(@colorFigure, 10);

.travel-article {

    figure {

        @media @phone {
            margin: 0 -1rem 1rem;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            float: none;
            width: 100vw;

            > .gallery {
                display: block;
                max-height: 50vh;
                overflow: hidden;
            }
        }

        @media @desktop, @tablet {
            overflow: visible;
            padding: 0.5rem 0.5rem 0;
            box-shadow: 4px 4px 8px -4px @color-transparentDark;
            background: linear-gradient(to bottom, @colorFigure, @colorFigure2 60%);
            transform: rotate(var(--figure-angle-seed));

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -15px;
                width: 75px;
                height: 25px;
                background-color: @colorFigure;
                opacity: 0.5;
            }
        }
    }
}
