---
layout: parent-layout.hbs
---
<div id="container" class="intro-effect-side">
    {{> header }}
</div>

{{> body }}

<footer>
    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>
</footer>
