---
layout: parent-layout.hbs
---

<div class="body__background">
    {{> filters }}
    {{> img-srcset }}
</div>

{{> header }}

{{> nav }}

<main class="content content--default">
    {% body %}
</main>

<footer>
    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>
</footer>
