---
layout: parent-layout.hbs
---

<div class="body__background">
    {{> header }}
    {{> filters }}
    {{> img-srcset }}
</div>


{{> nav }}

<main class="content content--default">
    {% body %}
</main>

{{> footer }}
