---
layout: parent-layout.hbs
---

{{> header }}

{{> nav }}

<div class="buttonBar">
    {{> block-share }}

    <button class="btn btn--md btn--icon btn--up u-hidden--print js-to-top" type="button" title="Back to top">
        {{> arrow-up }}
    </button>
</div>

{{> body }}

<footer>
    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>
</footer>
