<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | {{site.title}}</title>

    <meta name="description"        content="Homepage of Veeck with geeky tech stuff, panoramic pictures and his travel diaries.">
    <meta name="viewport"           content="width=device-width, initial-scale=1">
    <meta name="theme-color"        content="#a6cfe5">
    <meta property="og:title"       content="veeck - computerschlampe / hoffotograf / terrorpoet" />
    <meta property="og:type"        content="website" />
    <meta property="og:url"         content="https://www.veeck.de/index.html" />
    <meta property="og:image"       content="https://www.veeck.de/img/backgrounds/index.jpg" />
    <meta property="og:site_name"   content="Veeck" />
    <meta name="twitter:card"       content="summary">
    <link rel="apple-touch-icon"    href="apple-touch-icon.png">

    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/theme.css" rel="stylesheet">


    <link rel="stylesheet" href="{{assets}}/css/main.css" />

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-431999-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  </head>
  <body>
    <div id="outdated">
        <h6>Your browser is out-of-date!</h6>
        <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>

    <div id="container" class="intro-effect-side">
      {{> header }}
    </div>

    <!--<div class="container theme-showcase" role="main">-->
      {{> body }}
    <!--</div> -->

    <footer>
        <time datetime="2015-10-19">page last modified 2015/10/19</time>
    </footer>

    <script src="js/vendor/modernizr.min.js"></script>
    <!--<script src="js/vendor/outdatedbrowser.min.js"></script>-->
    <script src="js/main.bundled.js"></script>
  </body>
</html>
