---
import '../styles/global.css';
import { SEO } from 'astro-seo';
import { getImagePath } from 'astro-opengraph-images';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title = 'Veeck: Personal Site', description = 'The personal site of Veeck' } = Astro.props;

const { url, site } = Astro;
const openGraphImageUrl = getImagePath({ url, site });
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href="/icon.svg" type="image/svgxml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<SEO
	openGraph={{
		basic: {
			title: title,
			type: 'website',
			image: openGraphImageUrl,
			url: url,
		},
		optional: {
			description: description,
		},
	}}
/>

<script is:inline>
	// This code is inlined in the head to make dark mode instant & blocking.
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('theme-dark');

	if (typeof localStorage !== 'undefined') {
		// Watch the document element and persist user preference when it changes.
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('theme-dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>
