
<figure class="{{class}}">
    <a class="gallery" href="{{img}}_medium.jpg">
        <img class="js-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs"
             data-original="{{img}}_small.jpg"/>
    </a>
    <figcaption>{{caption}}</figcaption>
</figure>
