<footer>
    {{> share-button }}

    <button class="btn btn--l btn--comic to-top-btn js-to-top" href="#" type="button" title="Back to top">
        {{> arrows-up }}
    </button>

    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>
</footer>
