<span class="input input--manami">
    <input class="input__field input__field--manami" type="text" name="{{name}}" id="{{id}}" />
    <label class="input__label input__label--manami" for="{{id}}">
        <span class="input__label-content input__label-content--manami">{{label}}</span>
    </label>
</span>

