@import url(http://fonts.googleapis.com/css?family=Raleway);

.font-face("Pinto4", "./fonts/Pinto_NO_04", normal);

@fontHeader:    'Pinto4';
@fontMain:      'Raleway';

.font-face("IconFont", "./fonts/arrowmenufont", normal);

.icon-font:after {
    font-family: "IconFont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-font-left:after:extend(.icon-font:after) {
    content: "a";
}
.icon-font-right:after:extend(.icon-font:after) {
    content: "b";
}
.icon-font-up:after:extend(.icon-font:after) {
    content: "c";
}
.icon-font-down:after:extend(.icon-font:after) {
    content: "d";
}
.icon-font-more:after:extend(.icon-font:after) {
    content: "d";
}
.icon-font-menu:after:extend(.icon-font:after) {
    content: "m";
}

#menuButton:after {
    &:extend(.icon-font-menu:after);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    &:extend(.icon-font-right:after);
    display: none;
}

.cd-dropdown > span:after {
    &:extend(.icon-font-down:after);
    line-height: 1.25em;
}

.cd-dropdown.cd-active > span:after {
    &:extend(.icon-font-up:after);
    line-height: 1.25em;
}

header .more:after {
    &:extend(.icon-font-more:after);
}