@import url(http://fonts.googleapis.com/css?family=Lato|Lobster);

.font-face("IconFont", "./fonts/arrowmenufont", normal);

.icon-font:after {
    font-family: "IconFont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-font-menu:after:extend(.icon-font:after) {
    content: "a";
}
.icon-font-right:after:extend(.icon-font:after) {
    content: "d";
}
.icon-fontawesome-webfont-2:before {
    content: "c";
}
.icon-fontawesome-webfont-3:before {
    content: "d";
}
.icon-fontawesome-webfont-4:before {
    content: "e";
}

.dl-menuwrapper button:after {
    &:extend(.icon-font-menu:after);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    &:extend(.icon-font-right:after);
    display: none;
}