@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root {
    --fps-color: 'white';
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
h3 {
    padding-bottom: 1.4rem;
    border-bottom: 1px solid black;
    font-size: 2rem;
}
#text-container {
    width: calc((3*90vw)/5);
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow: hidden;
    z-index: 2;
    position: relative;
    border-left: 2px solid var(--fps-color);
    border-right: 2px solid var(--fps-color);
    padding: 0 2rem;
}
#text {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
    font-family: 'Monserrat', sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding-right: 2.75rem;
}
#fps-cont {
    color: black;
    background: rgba(255,255,255,0.8);
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.6rem 0.75rem;
    box-sizing: border-box;
    margin: 0;
    z-index: 3;
}
#fps {
    color: var(--fps-color);
}
