html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    min-height: 100%;
    width: 100%;
    color: black;
}

header h1 {
    position: absolute;
}

.more {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.more:after {
    &:extend(.icon-font-more:after);
    font-size: 48px;
    cursor: pointer;
}

h1 {
    font-size: 1.75em;
    line-height: 145%;
}

h2 {
    line-height: 145%;
}

footer {
    text-align: right;
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

footer .addthis_toolbox {
    width: 200px;
}

figure.portrait {
    width: 50%;
}

figure.landscape {
    width: 100%;
}

figure img {
    width: 100%;
}

#adframe {
    float: right;
    margin: 3px 3px 0 3px;
}

.extend {
    display: none;
    padding: 0.35em;
    margin: 15px 0 15px 0;
    border: 3px solid @base;
    box-shadow: 2px 2px 3px @complement2;
    .border-radius(4px);
}

.isotope figure img {
    width: auto;
    padding: 0;
}