html {
    height: 100%;
}

body {
    height: 100%;
}

p {
    margin: 0;
}

header {
    min-height: 100%;
    width: 38.2%;
    color: black;
    position: fixed;
}

header h1 {
    position: absolute;
}

#main {
    width: 61.8%;
    float: right;
    background-color: @base2;
}

/**
 * Navigation
 */

nav {
    position: fixed;
    left: 1em;
    top: 1em;
    text-align: left;
    height: 100%;
    background: none;
}

nav ul {
    list-style-type: none;
}

nav ul.menu li ul.acitem li {
    height: 28px;
}

nav ul.menu li ul.acitem li a {
    height: 24px;
    line-height: 18px;
    font-size: 90%;
}

nav ul.menu li ul.acitem li a:hover,
nav li.expand ul.acitem li.active a:link,
nav li.expand ul.acitem li.active a:visited {
    //background: url(assets/nav-sub-selected.png) no-repeat center right;
    background-color: @base3;
}

nav ul.menu li ul.acitem li.inside a:hover,
nav li a:hover,
nav li.active a:link,
nav li.active a:visited,
nav li.selected a:link,
nav li.selected a:visited,
nav li.inside a:hover {
    //background: url(assets/nav-selected.png) no-repeat center right;
    background-color: @base3;
}

nav li a:link,
nav li a:visited {
    color: @base;
    font-size: 128.6%;
    text-decoration: none;
    padding: 8px 30px;
    display: block;
    min-height: 31px;
}

#desktopmenu {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5em;
}

#menuButton {
    float: left;
    margin-left: 0;
}

/**
 * Figures
 */

figure {
    box-shadow: 1px 2px 3px @complement2;
}

figure.portrait {
    width: 33%;
}

figure.landscape {
    width: 50%;
}

/**
 *
 */


.more {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > p {
    width: 100%;
    text-align: right;
}