html {
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.4em;
}

header {
    min-height: 100%;
    width: 100%;
}

header h1 {
    position: absolute;
}

h1 {
    font-size: 1.75em;
}

footer {
    text-align: right;
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

footer .addthis_toolbox {
    width: 200px;
}

/**
 * Figures
 */

figure.portrait {
    width: 50%;
}

figure.landscape {
    width: 100%;
}

figure img {
    width: 100%;
}

/**
 * Research
 */

.research_article figure {
    width: 100%;
}

.research_article figcaption {
    width: auto;
}

.research_article form {
    margin-bottom: 3em;
}

.research_article form label {
    margin-bottom: 10px;
    width: 100%;
}

.research_article input[type="text"] {
    float: right;
    width: 66%;
}

.research_article input[type="submit"] {
    float: right;
    width: 33%;
}

.research_article select {
    float: right;
    width: 66%;
}

/**
 *
 */

#adframe {
    float: right;
    margin: 3px 3px 0 3px;
}

.extend {
    display: none;
    padding: 0.35em;
    margin: 15px 0 15px 0;
    border: 3px solid @base;
    box-shadow: 2px 2px 3px @complement2;
    .border-radius(4px);
}

.more {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.more:after {
    &:extend(.icon-font-more:after);
    font-size: 48px;
    cursor: pointer;
}
