html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    height: 100%;
    width: 38.2%;
    position: fixed;
}

header .more {
    display: none;
}

#main {
    width: 61.8%;
    float: right;
    padding: 1em;
    min-height: 100%;
}

h1 {
    position: absolute;
}

article {
    max-width: 960px;
}

footer {
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 38.2%;
    padding: 0 1em;
    margin: 0;
    background: none;
}

footer > p {
    float: right;
    font-size: 0.75em;
    margin: 0;
}

footer .to_top {
    display: none;
}

/**
 * Navigation
 */

nav {
    position: fixed;
    left: 1em;
    top: 1em;
    text-align: left;
    height: 3em;
    background: none;
}

nav ul.menu li ul.acitem li a {
    font-size: 0.8em;
}

nav ul.menu li ul.acitem li a:hover,
nav ul.menu li ul.acitem li.inside a:hover,
nav li.expand ul.acitem li.active a:link,
nav li.expand ul.acitem li.active a:visited,
nav li a:hover,
nav li.active a:link,
nav li.active a:visited,
nav li.selected a:link,
nav li.selected a:visited,
nav li.inside a:hover {
    background: @menuBackground;
}

nav li a:link,
nav li a:visited {
    color: @menuColor;
    font-size: 128.6%;
    text-decoration: none;
    padding: 8px 30px;
    display: block;
    min-height: 32px;
}

#desktopmenu {
    background: @lighten1;
    margin-top: 5em;
}

#menuButton {
    float: left;
    margin-left: 0;
}

/**
 * Figures
 */

figure:not(.dont_link) {
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

    -webkit-transform: translateY(0) scale(1, 1);
    -ms-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);

    transform-origin: center;
    transform-style: preserve-3D;
}

figure:hover:not(.dont_link) {
    box-shadow: 0 11px 18px rgba(0,0,0,0.2);

    -webkit-transform: translateY(0px) scale(1.05, 1.05);
    -ms-transform: translateY(0px) scale(1.05, 1.05);
    transform: translateY(0px) scale(1.05, 1.05);

    transform-origin: center;
    transform-style: preserve-3D;
}

.portrait {
    width: 33%;
}

.landscape {
    width: 50%;
}

/**
 * Research
 */

.research_article figure {
    width: auto;
    margin: 0 1em 1em 0;
}

.research_article form {
    max-width: 750px;
    float: left;
    margin-bottom: 2em;
}

.research_article form label {
    width: 175px;
    float: none;
    padding: 0 10px 0 0;
}

.research_article input,
.research_article select {
    margin: 0 10px;
    width: auto;
    float: none;
}

.research_article input[type="text"] {
    width: 100%;
    float: left;
    margin-left: 0;
}

.research_article input[type="submit"] {
    width: 90px;
    float: none;
    position: relative;
    top: 27px;
}

.research_article .cd-dropdown,
.research_article .cd-select {
    width: 175px;
    margin: 0 auto;
    float: left;
}

/**
 * Galleries
 */

.gallery_article .normal {
    width: 48%;
    margin-right: 2%;
}

.gallery_article .quader {
    width: 48%;
    margin-right: 2%;
}

.gallery_article .skyscraper {
    width: 23%;
    margin-right: 2%;
}

.gallery_article .normal:nth-child(2n),
.gallery_article .quader:nth-child(2n),
.gallery_article .skyscraper:nth-child(4n),
.gallery_article .wide:nth-child(2n) {
    margin-right: 0;
}