html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    height: 50%;
    width: 100%;
}

header h1 {
    position: absolute;
    top: 25%;
}

header .more {
    display: none;
}

footer > p {
    float: right;
    margin-bottom: 0;
}

footer .to_top {
    display: none;
}

/**
 * Figures
 */

.portrait {
    width: 33%;
}

.landscape {
    width: 50%;
}

/**
 * Research
 */

.research_article figure {
    width: auto;
    margin: 0 1em 1em 0;
}

.research_article form {
    max-width: 750px;
    float: left;
    margin-bottom: 2em;
}

.research_article form label {
    width: 175px;
    float: none;
    padding: 0 10px 0 0;
}

.research_article input,
.research_article select {
    width: auto;
    float: none;
    margin: 0 10px 0 0;
}

.research_article input[type="text"] {
    width: 100%;
    float: left;
    margin: 0;
}

.research_article input[type="submit"] {
    float: none;
    position: relative;
    top: 27px;
}

.research_article .cd-dropdown,
.research_article .cd-select {
    width: 175px;
    margin: 0 auto;
    float: left;
}

/**
 * Galleries
 */

.gallery_article {
    float: left;
}

.gallery_article figure {
    width: 32%;
    margin-right: 0.8%;
}

.gallery_article .normal {
    width: 48%;
    margin-right: 2%;
}

.gallery_article .skyscraper {
    width: 19%;
    margin-right: 0.5%;
}

.gallery_article .normal:nth-child(2n),
.gallery_article .skyscraper:nth-child(5n) {
    margin-right: 0;
}