/*

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    height: 100%;
    width: 100%;
}

header .more {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

header .more:after {
    font-size: 48px;
    cursor: pointer;
}

header .more p {
    margin: 0;
}

#main {
    overflow-x: hidden;
}

h1 {
    position: absolute;
}

footer {
    text-align: right;
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

footer time {
    margin: 0;
}

footer .to_top {
    width: 100%;
    float: left;
    text-align: center;
    text-decoration: none;
}

*/

.title .headline1 {
    line-height: 1.25em;
}

/**
 * Figures
 */

.portrait {
    width: 50%;
}

.landscape {
    width: 100%;
}

figure img {
    width: 100%;
}

/**
 * Research
 */

.research_article figure {
    width: 100%;
}

.research_article form {
    margin-bottom: 3em;
}

.research_article form label {
    margin-bottom: 10px;
    width: 100%;
}

.research_article input[type="text"] {
    float: right;
    width: 66%;
}

.research_article input[type="submit"] {
    float: right;
    width: 33%;
}

.research_article select {
    float: right;
    width: 66%;
}

/**
 * Galleries
 */

.gallery_article figure {
    width: 48%;
}

.gallery_article figure:nth-of-type(odd) {
    margin-right: 2%;
}

.gallery_article .normal {
    width: 100%;
}

.gallery_article .skyscraper {
    width: 31%;
    margin-right: 1.5%;
}

.gallery_article .skyscraper:nth-child(3n) {
    margin-right: 0;
}

/**
 *
 */

.adframe {
    max-width: 100%;
}

.adfigure {
    max-width: 100%;
}