html {
    height: 100%;
}

body {
    height: 100%;
}

p {
    margin: 0;
}

#swag {
    min-height: 100%;
    width: 50%;
    background-color: darkolivegreen;
    color: black;
    position: absolute;
}
#main {
    width: 50%;
    float: right;
    background-color: @base2;
}

#mobilemenuButton {
    display: none;
}


.more {
    display: none;
}


nav {
    /*
    position: fixed;
    text-align: right;
    padding: 110px 0;
    width: 260px;
    height: 100%;
    background: @base url(assets/nav-bg.png) repeat-y;
    */
}

header {
    /*
    position: fixed;
    height: 105px;
    width: 100%;
    padding: 0 50px 0;
    margin-left: 260px;
    z-index: 99;
    background: @base2 url(assets/header-bg.png) no-repeat left bottom;
    */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 260px;
    color: @base2;
    padding: 0;
}

footer .addthis_toolbox {
    float: right;
    width: 173px;
    padding-right: 35px;
}

footer > p {
    float: right;
    padding-right: 35px;
}

#main {
    /*
    float: left;
    padding: 115px 50px 0;
    margin-left: 260px;
    max-width: 960px;
    */
}

h1 {
    margin: 0.67em 0;
}

h1 span {
    color: @base3;
}

h1 span:nth-child(2n) {
    color: @base;
}

figure {
    box-shadow: 1px 2px 3px @complement2;
}

figure img.worldmap {
    height: 256px;
    max-width: 518px;
}

.gallery_article div {
    top: -100px;
    position: relative;
}

.gallery_article figure {
    width: auto;
}

.research_article {
    min-height: 250px;
}

.search_article ul {
    padding-left: 1em;
}
