@import "mixins.less";
@import "variables.less";

/**
 * Apply a natural box layout model to all elements
 */

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: @base3;
    color: @base2;
    text-shadow: none;
}

::selection {
    background: @base3;
    color: @base2;
    text-shadow: none;
}

/**
 *
 */

body {
    color: @base4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-touch-action: auto;
    font-family: @fontMain;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1,
.headline1 {
    color: @base3;
    padding: 0.2em 0;
    font-family: @fontHeader, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3.25em;
    line-height: 1;
    text-transform: none;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    .vertical-align();
}

h1 span {
    display: block;
}

h2, h3, h4 {
    color: @base3;
    font-family: @fontHeader, serif;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
}

h2 {
    font-size: 2.5em;
    line-height: 1.2em;
}

h3, h4 {
    font-size: 2em;
    line-height: 1em;
}

section {
    margin-bottom: 2em;
}

img, picture {
    max-width: 100vw;
    max-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

p {
    margin: 0 0 1em 0;
}

a:focus {
    outline: none;
}

a, a:visited {
    color: @base4;
    outline: none;
    text-decoration: none;
}

a:hover, a:focus  {
    color: @base2;
}

time {
    font-family: monospace;
    font-size: 1.3em;
}

input {
    padding: 4px 8px 4px 8px;
    border: 1px solid @base3;
}

textarea {
    border: 1px solid @base3;
    border-radius: 4px;
}

select {
    border: 1px solid @base3;
    border-radius: 4px;
}

footer {
    padding: 1em;
    clear: both;
    background-color: @backgroundColor;
}

/**
 * Header
 */

.title p {
    padding: 0 0 0.6em;
    font-weight: 300;
    font-size: 0.85em;
    margin: 0 auto;
}

.title .subline {
    line-height: 1;
    font-size: 1.75em;
}

/**
 * Figures
 */

figure {
    text-decoration: none;
    position: relative;
    margin: 0;
}

figure img {
    width: 100%;
    border: 2px solid @base;
}

.fig_full {
    margin: 0 0 1em 0;
}

.fig_left {
    float: left;
    margin: 0 1em 1em 0;
}

.fig_right {
    float: right;
    margin: 0 0 1em 1em;
}

figure > div.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

figure > div.overlay:hover {
    opacity: 0;
}

figure > div.overlay > p {
    font-size: 1.5em;
    font-weight: bold;
    color: @color_white;
    background-color: @base;
    text-align: center;
    position: relative;
    padding: 0.3em 0;
    .vertical-align();
}

figcaption {
    font-family: @fontHeader, serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25em;
    color: @base3;
    background-color: @base;
}

/**
 * Radio
 */

.radio_article audio {
    width: 100%;
    margin: 10px 0 25px 0;
}

.radio_article h3 {
    margin: 25px 0 5px 0;
}

.radio_article a {
    float: right;
}

/**
 * Research
 */

.github-card {
    float: left;
    margin-right: 15px;
}

.github-card::shadow .user {
    width: 210px;
}

.research_article figure {
    float: left;
    margin: 0 0 0.75em 0;
    min-width: 200px;
    background-color: @base;
    border-radius: 6px;
}

.research_article form {
    display: table;
}

.research_article form label {
    display: table-cell;
    float: left;
}

.research_article input[type="text"],
.research_article input[type="submit"] {
    height: 32px;
}

/**
 * Galleries
 */

.gallery_article figure {
    display: inline-block;
    margin: 0 0 1em 0;
    vertical-align: top;
}

.gallery_article .wide {
    width: 100%;
}

/**
 * Links
 */

.search_article ul {
    list-style-type: none;
    padding-left: 0;
}

.search_article li {
    padding: 0.2em 0 0.4em;
}

.search_article form {
    display: table;
}

.search_article form label {
    display: table-cell;
}

.search_article form > div {
    display: table-cell;
}

.search_article form > div > input {
    width: 100%;
    text-align: right;
}

.search_article form input[type="submit"] {
    display: table-cell;
    width: 90px;
    margin-left: 30px;
}

.search_article > ul > li > a {
    padding-right: 0.4em;
}

/**
 * Sprites, glue: 0.4 hash: 4734f92ce1
 */

.sprite-links {
    float: left;
    margin-top: 5px;
    margin-bottom: -5px;
    background-image: url('sprites/links.png');
    background-repeat: no-repeat;
}

.sprite-links-youtube{background-position:0 0;width:130px;height:21px;}
.sprite-links-woxikon{background-position:0 -21px;width:130px;height:21px;}
.sprite-links-wowhead{background-position:0 -42px;width:130px;height:21px;}
.sprite-links-wikipedia{background-position:0 -63px;width:130px;height:21px;}
.sprite-links-leo{background-position:0 -84px;width:130px;height:21px;}
.sprite-links-imdb{background-position:0 -105px;width:130px;height:21px;}
.sprite-links-google{background-position:-130px 0;width:130px;height:21px;}
.sprite-links-duckduckgo{background-position:-130px -21px;width:130px;height:21px;}
.sprite-links-chefkoch{background-position:-130px -42px;width:130px;height:21px;}
.sprite-links-canoo{background-position:-130px -63px;width:130px;height:21px;}

/* glue: 0.4 hash: 12062bcfab */
.sprite-research {
    float: left;
    background-image: url('sprites/research.png');
    background-repeat: no-repeat;
}

.sprite-research-res_wow{background-position:0 0;width:200px;height:200px;}
.sprite-research-res_unilogo{background-position:-200px 0;width:200px;height:200px;}
.sprite-research-res_rasterbator{background-position:0 -200px;width:200px;height:200px;}
.sprite-research-res_nsis{background-position:-200px -200px;width:200px;height:200px;}
.sprite-research-res_iros2004{background-position:-400px 0;width:200px;height:200px;}

/**
 *
 */

.adframe {
    float: right;
    margin: 3px 3px 0 3px;
}

.adfigure {
    width: 316px;
    height: 266px;
}

.extend {
    display: none;
    padding: 0.35em;
    margin: 15px 0 15px 0;
    border: 3px solid @base;
}

.shareButton.dont_print.sharer-0 label span {
    font-family: @fontMain !important;
}
.shareButton.dont_print.sharer-0 .social.active.right {
    margin-left: 0 !important;
}