html {
    height: 100%;
}

body {
    height: 100%;
}

p {
    margin: 0;
}

#swag {
    min-height: 100%;
    width: 50%;
    background-color: darkolivegreen;
    color: black;
    position: absolute;
}

header {
    /*
    max-width: 960px;
    margin-left: ~"calc((100% - 960px) / 2)";
    */
}

nav {
    position: fixed;
    text-align: right;
    padding: 110px 0;
    width: ~"calc((100% - 960px) / 2)";
    height: 100%;
    background: none;
}

#main {
    width: 50%;
    float: right;
    background-color: @base2;
}

.more {
    display: none;
}

#mobilemenuButton {
    display: none;
}

#container.isotope {
    left: -40px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > p {
    width: 100%;
    text-align: right;
}