html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    min-height: 100%;
    width: 38.2%;
    position: fixed;
}

header h1 {
    position: absolute;
}

#main {
    width: 61.8%;
    float: right;
    background-color: @base2;
    margin-top: 1em;
}

/**
 * Navigation
 */

nav {
    position: fixed;
    left: 1em;
    top: 1em;
    text-align: left;
    height: 100%;
    background: none;
}

nav ul {
    list-style-type: none;
}

nav ul.menu li ul.acitem li {
    height: 28px;
}

nav ul.menu li ul.acitem li a {
    height: 24px;
    line-height: 18px;
    font-size: 90%;
}

nav ul.menu li ul.acitem li a:hover,
nav li.expand ul.acitem li.active a:link,
nav li.expand ul.acitem li.active a:visited {
    //background: url(assets/nav-sub-selected.png) no-repeat center right;
    background-color: @base3;
}

nav ul.menu li ul.acitem li.inside a:hover,
nav li a:hover,
nav li.active a:link,
nav li.active a:visited,
nav li.selected a:link,
nav li.selected a:visited,
nav li.inside a:hover {
    //background: url(assets/nav-selected.png) no-repeat center right;
    background-color: @base3;
}

nav li a:link,
nav li a:visited {
    color: @base;
    font-size: 128.6%;
    text-decoration: none;
    padding: 8px 30px;
    display: block;
    min-height: 31px;
}

#desktopmenu {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5em;
}

#menuButton {
    float: left;
    margin-left: 0;
}

/**
 * Figures
 */

figure {
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-transform: translateY(0) scale(0.95, 0.95);
    -ms-transform: translateY(0) scale(0.95, 0.95);
    transform: translateY(0) scale(0.95, 0.95);
}

figure:hover {
    box-shadow: 0 11px 18px rgba(0,0,0,0.2);
    -webkit-transform: translateY(-10px) scale(1, 1);
    -ms-transform: translateY(-10px) scale(1, 1);
    transform: translateY(-10px) scale(1, 1);
}

figure.portrait {
    width: 33%;
}

figure.landscape {
    width: 50%;
}

/**
 *
 */

article {
    max-width: 960px;
}

.more {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 37.2%;
}

footer > div.addthis_toolbox {
    width: 40%;
    margin-top: 5px;
}

footer > p {
    float: right;
    margin-top: 0;
}