html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    padding: 0 1em;
    height: 50%;
    width: 100%;
}

header h1 {
    position: relative;
}

.more {
    display: none;
}

figure.portrait {
    width: 33%;
}

figure.landscape {
    width: 50%;
}

footer .addthis_toolbox {
    width: 300px;
}

footer > p {
    float: right;
}

.gallery_article figure {
    float: left;
    max-width: 23%;
}

.research_article figure {
    width: auto;
    margin: 0 1em 1em 0;
}

.research_article form {
    max-width: 750px;
    float: left;
    margin-bottom: 2em;
}

.research_article form label {
    width: 155px;
    float: none;
}

.research_article input,
.research_article select {
    margin: 0 10px;
    width: auto;
    float: none;
}

.research_article input[type="text"] {
    width: 135px;
    float: left;
    margin-left: 0;
}

.research_article input[type="submit"] {
    width: 90px;
    float: none;
    position: relative;
    top: 27px;
}

.search_article input[type="submit"] {
    width: 80px;
}