@import "mixins.less";
@import "variables.less";

/**
 * Apply a natural box layout model to all elements
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: @base3;
    color: @base2;
    text-shadow: none;
}

::selection {
    background: @base3;
    color: @base2;
    text-shadow: none;
}

/**
 * Media Queries for supported browsers.
 */

html {
    background: none;
    font-family: 'mobile';
}

body:after {
    display: none;
}

@media screen and (min-width: 1024px)
{
    html {
        font-family: "desktop";
    }
    body:after {
        content: "desktop";
    }
}

/**
 *
 */

body {
    background: @base2;
    color: @base4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-touch-action: auto;
    font-family: "Noticia Text";
}

header {
    padding: 50% 1em;
}

#main {
    padding: 0.5em 1em;
    margin: auto;
    z-index: 0;
}

#main ul {
    margin-left: 1em;
}

h1 {
    font-family: 'Fredericka the Great', serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h2, h3, h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5em;
}

section {
    margin-bottom: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    background: @base;
    box-shadow: 2px 2px 3px #666;
    border: 5px solid @base;
    text-decoration: none;
    position: relative;
    margin: 0;
}

figure.fig_full {
    margin: 0 0 1em 0;
}

figure.fig_left {
    float: left;
    margin: 0 1em 1em 0;
}

figure.fig_right {
    float: right;
    margin: 0 0 1em 1em;
}

figcaption {
    padding: 0.5em 5px;
    color: @base2;
}

figure > div.overlay {
    position: absolute;
    top: 0;
    background-color: rgba(100, 100, 100, 0.33);
    width: 100%;
    height: 100%;
    .border-radius(4px);
}

figure > div.overlay:hover {
    opacity: 0;
}

figure > div.overlay > p {
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: rgb(93, 91, 93);
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0.3em 0;
    margin: 0 5px;
}

figure.adfigure {
    width: 316px;
    height: 266px;
}

a:focus {
    outline: none;
}

a, a:visited {
    color: @base3;
}

a:hover {
    color: @base;
}

img {
    max-width: 100%;
}

.more {
    text-align: center;
    cursor: pointer;
}
.more:after {
    &:extend(.icon-font-more:after);
    font-size: 48px;
    cursor: pointer;
}

/**
 * Sprites, glue: 0.4 hash: 4734f92ce1
 */

.sprite-links {
    float: left;
    margin-top: 5px;
    margin-bottom: -5px;
    background-image: url('sprites/links.png');
    background-repeat: no-repeat;
}

.sprite-links-youtube{background-position:0px 0px;width:130px;height:21px;}
.sprite-links-woxikon{background-position:0px -21px;width:130px;height:21px;}
.sprite-links-wowhead{background-position:0px -42px;width:130px;height:21px;}
.sprite-links-wikipedia{background-position:0px -63px;width:130px;height:21px;}
.sprite-links-leo{background-position:0px -84px;width:130px;height:21px;}
.sprite-links-imdb{background-position:0px -105px;width:130px;height:21px;}
.sprite-links-google{background-position:-130px 0px;width:130px;height:21px;}
.sprite-links-duckduckgo{background-position:-130px -21px;width:130px;height:21px;}
.sprite-links-chefkoch{background-position:-130px -42px;width:130px;height:21px;}
.sprite-links-canoo{background-position:-130px -63px;width:130px;height:21px;}

/* glue: 0.4 hash: 12062bcfab */
.sprite-research {
    float: left;
    background-image: url('sprites/research.png');
    background-repeat: no-repeat;
}

.sprite-research-res_wow{background-position:0px 0px;width:200px;height:200px;}
.sprite-research-res_unilogo{background-position:-200px 0px;width:200px;height:200px;}
.sprite-research-res_rasterbator{background-position:0px -200px;width:200px;height:200px;}
.sprite-research-res_nsis{background-position:-200px -200px;width:200px;height:200px;}
.sprite-research-res_iros2004{background-position:-400px 0px;width:200px;height:200px;}