@import "mixins.less";
@import "variables.less";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    .box-sizing();
}
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  font-size: 13px;
}

h3 {
    margin-top: 0;
}

#page_new {
    .background ("../bg.jpg");
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.88);
}

.button.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    padding-top: 20px;
    padding-left: 10px;
}

.button.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding-top: 20px;
    padding-left: 10px;
}

.cb {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 75%;
    margin: 7% 0 5%;
    padding: 2em;

    background-color: rgba(255, 255, 255, 0.88);

    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
}