:root {
  --patternCurrentColor: rgba(142, 36, 171, 0.125);
  --patternTransparent: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --patternCurrentColor: rgba(127, 127, 127, 0.5);
    --patternTransparent: #3c3c3c;
  }
}
