<figure class="figure {{class}}">
    {{#if isNew}}<div class="figure__ribbon"><span>NEU</span></div>{{/if}}
    <a href="{{img}}_medium.jpg" class="js-gallery__image">
        <img src="{{img}}_small.jpg" alt="{{caption}}">
    </a>
</figure>
