<section>
    <h2 class="radio__headline u-pull--left">{{title}}</h2>
    <a class="radio__link u-pull--right" href="files/mp3/{{name}}.mp3">Download</a>
    <audio class="radio__file" controls>
        <source src="files/mp3/{{name}}.ogg" type="audio/ogg" />
        <source src="files/mp3/{{name}}.mp3" type="audio/mp3" />
        Your browser does not support the audio tag.
    </audio>
</section>
