/**
 * Articles
 */
.article {

    &--capped {

        p:first-of-type::first-letter {
            float: left;
            font-size: $font-size-xl;
            font-weight: $font-weight-bold;
            line-height: $line-height-xl;
            margin: 0 $margin-sm 0 0;
            padding: 0;
        }

        time {
            font-size: $font-size-sm;
            position: relative;
            text-align: right;
            display: block;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $margin-md;

        @include belowBreakpoint(xs) {
            display: block;
        }

        @include aboveBreakpoint(md) {
            flex-wrap: nowrap;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    &__extend {
        display: none;
        padding: $margin-sm;
        margin: $margin-sm 0;
        border: $border-thickness solid var(--darkPrimaryColor);

        &:target {
            display: block;
        }
    }

    &__image {
        @include betweenBreakpoint(xs, md) {
            margin: 0 auto;
        }
    }

    &__intro {
        margin-bottom: 2rem;
    }

    &__link {
        background-color: var(--lightPrimaryColor);
        padding: 0 2px;

        &:hover {
            transform: translateY(-1px);
        }
    }

    &__link--medium {
        position: relative;

        @include transform(all);

        &::after {
            content: '';
            position: absolute;
            z-index: $z-index-neg;
            width: 0;
            height: 100%;
            top: 50%;
            left: 50%;
            background-color: var(--primaryColor);
            transform: translateX(-50%) translateY(-50%);

            @include transform(all);
        }

        &:hover,
        &:focus {

            &::after {
                width: 100%;
                opacity: 1;
            }
        }

        &:visited {
            color: var(--primaryTextColor);
        }
    }

    &__list {
        list-style: none;

        li {
            padding: 0 0 $margin-sm;

            &::before {
                border-radius: $border-radius-sm;
                background-color: var(--primaryColor);
                content: '';
                float: left;
                width: $margin-sm;
                height: $margin-sm;
                margin: $margin-sm $margin-sm 0 0;
            }
        }
    }

    &__text {
        padding: 0 0 $margin-sm;
        width: 100%;

        @include aboveBreakpoint(sm) {
            padding: 0 $margin-sm;
        }
    }

    &__video {
        margin: 0 auto;
        width: 100%;
    }
}
