/**
 * Articles
 */

.article {

    &--capped {

        p:first-of-type:first-letter {
            float: left;
            font-size: @font-size-xl;
            font-weight: @font-weight-bold;
            line-height: @line-height-xl;
            margin: 0 0.5rem 0 0;
            padding: 0;
        }

        time {
            font-size: @font-size-sm;
            position: relative;
            text-align: right;
            display: block;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media @phone {
            display: block;
        }

        @media @desktop {
            flex-wrap: nowrap;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    &__extend {
        display: none;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border: @border-thickness solid;
        .colorVar(border-color, --darkPrimaryColor, @darkPrimaryColor);

        &:target {
            display: block;
        }
    }

    &__grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;

        @media @phone {
            grid-template-columns: 1fr;
        }

        @media @tablet {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__image {
        margin: 0 auto;

        @media @phone {
            margin: 0 -1rem;
            width: 100vw;
        }
    }

    &__intro {
        margin-bottom: 2rem;
    }

    &__link {
        .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);

        &:hover {
            transform: translateY(-1px);
            .boxshadow(2);
            //.colorVar(color, --secondaryTextColor, @secondaryTextColor);

            > svg {
                .colorVar(stroke, --secondaryTextColor, @secondaryTextColor);
            }
        }
    }

    /*
    &__link {
        position: relative;
        .transform(all);

        &::after {
            content: '';
            position: absolute;
            z-index: @z-index-neg;
            .transform(all);
            width: 0;
            height: 100%;
            top: 50%;
            left: 50%;
            .colorVar(background-color, --primaryColor, @primaryColor);
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover,
        &:focus {

            &::after {
                width: 100%;
                opacity: 1;
            }
        }

        &:visited {
            color: @primaryTextColor;
        }
    }
    */

    &__list {
        list-style: none;

        li {
            color: black;
            padding: 0 0 0.5rem;

            &::before {
                border-radius: @border-radius-sm;
                .colorVar(background-color, --primaryColor, @primaryColor);
                content: '';
                float: left;
                width: 0.5rem;
                height: 0.5rem;
                margin: 0.5rem 0.5rem 0 0;
            }

            a {
                margin-right: 0.5rem;
            }
        }
    }

    &__text {
        padding: 0 0 0.5rem;

        @media @tablet, @desktop {
            padding: 0 0.5rem;
        }
    }

    &__video {
        margin: 0 auto;
        width: 100%;
    }
}

