.content {

    > .article {
        display: grid;
        grid-template-columns: 1fr @lg 1fr;

        @media @phone, @tablet {
            grid-template-columns: 1rem 1fr 1rem;
        }

        > * {
            grid-column: 2;
        }

        > .figure--fullwidth {
            grid-column: 1 / -1;
            margin: 20px 0;
        }
    }

    .section--boxed {
        //border: 1px solid;
        //.colorVar(border-color, --lightPrimaryColor, @lightPrimaryColor);
        //.boxshadow(2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(194, 247, 79, 0.24);

        border-radius: @border-radius-md;
        padding: 1rem;
        position: relative;

        .h3 {
            position: absolute;
            top: -1rem;
            background-color: @backgroundColor;
            padding: 0 0.5rem;
        }
    }

    .section__grid {
        display: grid;
        grid-gap: 0.5rem;

        &--two {
            grid-template-columns: 1fr 1fr;

            @media @tablet {
                grid-template-columns: 1fr 1fr;
            }

            @media @phone {
                grid-template-columns: 1fr;
            }
        }

        &--three {
            grid-template-columns: 1fr 1fr 1fr;

            @media @tablet {
                grid-template-columns: 1fr 1fr;
            }

            @media @phone {
                grid-template-columns: 1fr;
            }
        }

        &--four {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media @tablet {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media @phone {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
