.content {
    background-color: var(--backgroundColor);
    display: grid;
    grid-template-columns: $nav-width 1fr $nav-width;
    justify-items: center;
    min-height: 100%;
    padding-top: $margin-md;
    position: relative;

    @include belowBreakpoint(xs) {
        display: block;
    }

    @include aboveBreakpoint(lg) {
        background-color: transparent;
        grid-template-columns: $nav-width 1fr $nav-width;
    }

    &--landing {
        background-color: var(--backgroundColor);
        color: var(--primaryTextColor);

        > .article {
            width: 100%;
        }

        .galleryBox {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    > .article {
        background-color:var(--backgroundColor);
        grid-column: 2;
        margin: 0;
        padding: $margin-md;
        max-width: $md;

        > .figure--fullwidth {
            grid-column: 1 / -1;
            margin: 20px 0;
        }
    }

    p + p {
        text-indent: $margin-md;
    }
}
