.content {
    background-color: @colorWhite;
    min-height: 100%;
    padding-top: 1rem;
    position: relative;

    &--landing {
        background-color: @colorDark;
        color: @colorWhite;
    }

    > .article {
        display: grid;
        grid-template-columns: 1fr @lg 1fr;

        @media @phone {
            grid-template-columns: 1rem 1fr 1rem;
        }

        @media @tablet {
            grid-template-columns: @nav-width 1fr @nav-width;
        }

        > * {
            grid-column: 2;
        }

        > .figure--fullwidth {
            grid-column: 1 / -1;
            margin: 20px 0;
        }
    }

    p + p {
        text-indent: 1rem;
    }
}
