.content {
    grid-area: content;
    //display: grid;
    //grid-template-columns: 1rem 1fr 1rem;
    //justify-items: center;
    //min-height: 100%;
    padding-top: $margin-md;
    //position: relative;

    @include belowBreakpoint(xs) {
        display: block;
    }

    @include aboveBreakpoint(lg) {
        background-color: transparent;
        //grid-template-columns: $nav-width 1fr $nav-width;
    }

    &--default {
        background-color: var(--backgroundColor);

        > .article {
            background-color: var(--backgroundColor);
            max-width: $md;
        }
    }

    &--landing {
        background-color: transparent;
        color: var(--primaryTextColor);
        padding: 0 0 2rem;

        > .article {
            background-color: transparent;
            width: 100%;
        }

        .galleryBox {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    > .article {
        grid-column: 2;
        margin: 0;
        padding: $margin-md;

        > .figure--fullwidth {
            grid-column: 1 / -1;
            margin: 20px 0;
        }
    }

    p + p {
        text-indent: $margin-md;
    }
}
