.content {
    background-color: @colorWhite;
    min-height: 100%;
    padding-top: 1rem;
    position: relative;

    &--landing {
        background-color: @colorDark;
        color: @colorWhite;

        .galleryBox {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    > .article {
        display: grid;
        grid-template-columns: @nav-width 1fr @nav-width;

        @media @phone {
            grid-template-columns: 1rem 1fr 1rem;
        }

        > * {
            grid-column: 2;
        }

        > .figure--fullwidth {
            grid-column: 1 / -1;
            margin: 20px 0;
        }
    }

    p + p {
        text-indent: 1rem;
    }
}
