/**
 * Galleries
 */

.gallery {

    &--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*
      1/3  - 3 columns per row
      0.5rem - spacing between columns
    */
    &__figure {
        margin-bottom: 0.5rem;

        &--single {
            flex: 0 0 100%;
        }

        &--half {
            @media @desktop, @tablet {
                flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 0.5rem);
            }

            @media @phone {
                flex: 0 0 100%;
            }
        }

        &--third {
            @media @desktop {
                flex: 0 0 calc(1 / 3 * 100% - (1 - 1 / 3) * 0.5rem);
            }

            @media @tablet {
                flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 0.5rem);
            }

            @media @phone {
                flex: 0 0 100%;
            }
        }

        &--fourth {
            @media @desktop {
                flex: 0 0 calc(1 / 4 * 100% - (1 - 1 / 4) * 0.5rem);
            }

            @media @tablet {
                flex: 0 0 calc(1 / 3 * 100% - (1 - 1 / 3) * 0.5rem);
            }

            @media @phone {
                flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 0.5rem);
            }
        }
    }

    &__headline {
        &:extend(.h2);
        flex: 0 0 100%;
    }
}
