.galleryBox {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    &__item {
        margin-bottom: 0.5rem;

        p {
            display: none;
        }
    }

    &--extended {

        .galleryBox__item {
            background-color: transparent;

            p {
                background-color: @colorDark;
                display: block;
                margin: 0;
                text-align: center;
            }
        }
    }
}
