/**
 * Die Dave und Veeck Show
 */

.radio {

    &__headline {
        &:extend(.h2);
        padding: 0;
    }

    &__link {
        &:extend(.article__link);
    }

    &__file {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}
