.section {

    &__box {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(194, 247, 79, 0.24);
        border-radius: @border-radius-md;
        padding: 1rem;
        position: relative;

        @media @phone {
            box-shadow: none;
            padding: 1rem 0;
        }

        .h3 {
            position: absolute;
            top: -1rem;
            background-color: @backgroundColor;
            padding: 0 0.5rem;

            @media @phone {
                padding: 0;
            }
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > button {
            margin: 0 0 0.5rem;
        }
    }
}
