.section {

    &__box {
        padding: 1rem;
        position: relative;

        @include belowBreakpoint(sm) {
            box-shadow: none;
            padding: 1rem 0;
        }

        .h3 {
            background-color: var(--primaryTextColor);
            color: var(--primaryColor);
            position: absolute;
            top: -$font-size-lg;
            padding: 0 0.5rem;
            font-size: $font-size-lg;
            transform: translateX(var(--transform-translate-seed));

            @include belowBreakpoint(sm) {
                padding: 0;
            }
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > button {
            margin: 0 0 0.5rem;
        }
    }
}
