<footer>
    {{> share-button }}

    <button class="btn btn--comic btn--up js-to-top" href="#" type="button" title="Back to top">
        {{> arrow-up }}
    </button>

    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>
</footer>
