<footer>
    <time datetime="{{last-modified}}">page last modified {{last-modified}}</time>

    {{> share-list }}

    <button class="btn btn--md btn--icon btn--up u-hidden--print js-to-top" type="button" title="Back to top">
        {{> arrow-up }}
    </button>
</footer>
