<nav class="u-hidden--print">
    <button class="btn btn--comic btn--hamburger hamburger hamburger--elastic u-hidden--lg js-dl-trigger dl-trigger" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>
-->
