<!--
<div class="navigation__menu navigation__btn--openMenu js-open-menu">
    <p class="navigation__label">Menu</p>
    <button class="btn btn--md btn--hamburger">
        <div class="hamburger">
                <span aria-hidden="true" class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
        </div>
        <span class="u-visually--hidden">Open Menu</span>
    </button>
</div>
-->

<nav class="navigation u-hidden--print">
    <a class="navigation__item btn btn--icon btn--md" href="index.html">
        {{> home }}
        <span class="navigation__label">home</span>
    </a>

    <a class="navigation__item btn btn--icon btn--md" href="projects.html">
        {{> github }}
        <span class="navigation__label">projects</span>
    </a>

    <a class="navigation__item btn btn--icon btn--md" href="travel.html">
        {{> map }}
        <span class="navigation__label">travel</span>
    </a>

    <a class="navigation__item btn btn--icon btn--md" href="pictures.html">
        {{> camera }}
        <span class="navigation__label">pictures</span>
    </a>

    <a class="navigation__item btn btn--icon btn--md" href="links.html">
        {{> link }}
        <span class="navigation__label">links</span>
    </a>

    <!--
    <a class="navigation__item btn btn--icon btn--md" href="blog.html">
        {{> book-open }}
        <span class="navigation__label">links</span>
    </a>
    -->
</nav>
