<nav class="navigation u-hidden--print">

    <button class="btn btn--lg btn--hamburger btn--openMenu js-btn--hamburger">
        <span aria-hidden="true" class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <span class="u-visually--hidden">Open Menu</span>
    </button>

    <button class="btn btn--lg btn--hamburger btn--closeMenu hamburger hamburger--elastic js-btn--hamburger">
        <span aria-hidden="true" class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <span class="u-visually--hidden">Close Menu</span>
    </button>

    <div id="ml-menu" class="menu">
        <div class="menu__wrap">
            <ul data-menu="main" class="menu__level">
                <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                <li class="menu__item"><a class="menu__link" data-submenu="submenu-1" href="#">Projects</a></li>
                <li class="menu__item"><a class="menu__link" data-submenu="submenu-2" href="#">Travel</a></li>
                <li class="menu__item"><a class="menu__link" data-submenu="submenu-3" href="#">Pictures</a></li>
                <li class="menu__item"><a class="menu__link" href="links.html">Links</a></li>
            </ul>
            <ul data-menu="submenu-1" class="menu__level">
                <li class="menu__item"><a class="menu__link" href="personal_g4pc.html">g4pc</a></li>
                <li class="menu__item"><a class="menu__link" href="personal_magicmirror.html">magic mirror</a></li>
                <li class="menu__item"><a class="menu__link" href="personal_radio.html">radio</a></li>
                <li class="menu__item"><a class="menu__link" href="personal_research.html">research</a></li>
                <li class="menu__item"><a class="menu__link" href="personal_software.html">software</a></li>
            </ul>
            <ul data-menu="submenu-2" class="menu__level">
                <li class="menu__item"><a class="menu__link" href="travel_17_greece.html">2017 Griechenland</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_15_costarica.html">2015 Costa Rica</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_15_marokko.html">2015 Marokko</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_07_tansania2.html">2007 Tansania 2</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_07_tansania.html">2007 Tansania</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_06_ukraine.html">2006 Ukraine</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_05_panama.html">2005 Panama</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_05_usa.html">2005 USA</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_04_japan.html">2004 Japan</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_03_asia.html">2003 Thailand</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_03_ind.html">2003 Indonesien</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_03_nz.html">2003 Neuseeland</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_03_usa.html">2003 USA</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_01_aus.html">2001 Australien</a></li>
                <li class="menu__item"><a class="menu__link" href="travel_01_thai.html">2001 Thailand</a></li>
            </ul>
            <ul data-menu="submenu-3" class="menu__level">
                <li class="menu__item"><a class="menu__link" href="panorama_big.html">large sizes</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_360.html">360 degrees</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_perspective.html">perspective</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_skyscraper.html">skyscraper</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_cities.html">cities</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_world.html">the world</a></li>
                <li class="menu__item"><a class="menu__link" href="panorama_friends.html">from friends</a></li>
                <li class="menu__item"><a class="menu__link" href="personal_friends.html">my friends</a></li>
            </ul>
        </div>
    </div>
</nav>
