---
layout: parent-layout.hbs
---
<body class="body body--landing">

    <div class="body__background">
        {{> filters }}
        {{> img-srcset }}
    </div>

    {{> nav }}

    <main class="content content--landing">
        {% body %}
    </main>

    {{> scripts }}
</body>
