# This workflow will validate the PR title according to conventional commits

name: 'Lint PR messages'

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: 'Validate PR title'
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
