@btn-size-m:  1.75rem;
@btn-size-l:  2.5rem;
@btn-size-xl: 3.0rem;

.btn {
    box-sizing: border-box;
    color: @primaryTextColor;
    cursor: pointer;
    font-family: @font-main, arial;
    font-size: @font-size-sm;
    margin: 0 auto;
    padding: 0 9px;
    text-align: center;
    user-select: none;

    &--m {
        min-height: @btn-size-m;
        min-width: @btn-size-m;
    }

    &--l {
        min-height: @btn-size-l;
        min-width: @btn-size-l;
    }

    &--xl {
        min-height: @btn-size-xl;
        min-width: @btn-size-xl;
    }

    &--comic {
        border: @border-thickness solid @color-transparent;
        border-radius: @global-border-radius;
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        .colorVar(background-color, --primaryColor, @primaryColor);
        font-size: @font-size-l;
        padding: 0;

        &:hover {
            border-color: @color-transparent;
        }
    }

    &--normal {
        background: none;
        border: @border-thickness solid @accentColor;
        border-radius: 0;
        font-size: @font-size-m;
        font-weight: @font-weight-bold;
        position: relative;
        transition: all 0.3s;

        &:hover {
            background-color: @accentColor;

            &::after {
                width: 90%;
                opacity: 1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            transition: all 0.3s;
            width: 0;
            height: 103%;
            top: 50%;
            left: 50%;
            background: @primaryColor;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}
