@btn-size-sm: 1.5rem;
@btn-size-m: 2.5rem;

.btn {
    cursor: pointer;
    font-family: @font-main, arial;
    font-size: @font-size-m;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    &--m {
        min-height: @btn-size-m;
        min-width: @btn-size-m;
    }

    &--comic {
        border: @border-thickness solid;
        .colorVar(border-color, --darkPrimaryColor, @darkPrimaryColor);
        border-radius: @border-radius-lg;
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        .colorVar(background-color, --primaryColor, @primaryColor);
        height: @btn-size-m;
        width: @btn-size-m;
        padding: 0;

        &:hover {
            .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
        }

        > svg {
            .colorVar(fill, --primaryTextColor, @primaryTextColor);
        }
    }

    &--hamburger {
        padding: 0.25rem;
    }

    &--normal {
        background: none;
        border: @border-thickness solid;
        border-radius: 0;
        .colorVar(border-color, --primaryColor, @primaryColor);
        font-weight: @font-weight-bold;
        position: relative;
        .transform(all);

        &:hover {

            &::after {
                width: 90%;
                opacity: 1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: @z-index-neg;
            .transform(all);
            width: 0;
            height: 100%;
            top: 50%;
            left: 50%;
            .colorVar(background-color, --primaryColor, @primaryColor);
            transform: translateX(-50%) translateY(-50%);
        }
    }
}
