@btn-size-m:  1.75rem;
@btn-size-l:  2.5rem;
@btn-size-xl: 3.0rem;

.btn {
    border: 1px solid @color-transparent;
    border-radius: @figure-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    font-size: @font-size-sm;
    margin: 0 auto;
    padding: 0 9px;
    text-align: center;
    user-select: none;

    &:hover {
        border-color: @color-transparent;
    }

    &--m {
        min-height: @btn-size-m;
        min-width: @btn-size-m;
    }

    &--l {
        min-height: @btn-size-l;
        min-width: @btn-size-l;
    }

    &--xl {
        min-height: @btn-size-xl;
        min-width: @btn-size-xl;
    }

    &--comic {
        border: @border-thickness solid @color-transparent;
        border-radius: @global-border-radius;
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        .colorVar(background-color, --primaryColor, @primaryColor);
        font-size: @font-size-l;
        padding: 0;
    }
}
