
/**
 * Content
 */

.content {
	&:extend(.clearfix all);
	margin: 0 auto;
	padding: 0 0 3em;

	> div:not(.title) {
		margin: 0 auto;
		max-width: 900px;
		padding: 0 1.25em;

		p {
			margin: 0 auto 1.5em auto;

			&:first-child {
				font-size: 1.35em;
			}
		}
	}
}
