
/**
 * Content
 */

article {
    &:extend(.clearfix all);
    .baseline (1em);

    margin: 0 auto;
    padding: 0 1em 3em;

    @media @desktop {
        max-width: 960px;
    }

    &.capped-article {
        p:first-of-type:first-letter {
            float: left;
            font-size: 3.25em;
            font-weight: bold;
            line-height: 1em;
            margin: 0.125em 0.125em 0.125em 0;
            padding: 0.125em 0.25em;
            background-color: @base3;
            border: 2px solid @color_black;
        }
    }
}

section {
    &:extend(.clearfix all);
    margin-bottom: 2em;

    h2,
    h3 {
        border-bottom: 2px solid @color_black;
        text-align: center;
    }
}
