figure {
    .boxshadow(1);
    .colorVar(background-color, --primaryColor, @primaryColor);
    border-radius: @figure-radius;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    margin: 0;

    img {
        width: 100%;
    }

    > .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: @figure-radius;

        &:hover {
            opacity: 0;
        }

        > span {
            .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
            display: block;
            font-weight: @font-weight-bold;
            text-align: center;
            position: relative;
            .vertical-align();
        }
    }

    @media @smartphones {
        margin-bottom: 1rem;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        float: none;
        width: 100%;

        > .gallery {
            display: block;
            max-height: 50vh;
            overflow: hidden;
        }
    }

    @media @desktop, @tablets {

        &.fig_full {
            margin: 0.4em 0 1em;
        }

        &.fig_left {
            float: left;
            margin: 0.4em 1em 1em 0;
        }

        &.fig_right {
            float: right;
            margin: 0.4em 0 1em 1em;
        }
    }

    @media @desktop {

        &.portrait {
            width: 33%;
        }

        &.landscape {
            width: 50%;
        }

        &.fig_popup {
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateY(0) scale(1, 1);
            transform-origin: center;
            transform-style: preserve-3D;

            &:hover {
                .boxshadow(3);
                transform: translateY(0px) scale(1.05, 1.05);
                transform-origin: center;
                transform-style: preserve-3D;
            }
        }
    }

    @media @tablets {

        &.portrait {
            width: 33%;
        }

        &.landscape {
            width: 50%;
        }
    }
}

figcaption {
    font-family: @font-header, serif;
    font-weight: @font-weight-bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;

    @media @smartphones {
        font-size: @font-size-small;
        padding-top: 0;
    }
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    overflow: hidden;
    width: 75px;
    height: 75px;

    span {
        position: absolute;
        top: 19px;
        right: -21px;
        font-size: @font-size-small;
        line-height: 1rem;
        font-weight: @font-weight-bold;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(45deg);
        width: 100px;
        display: block;
        .boxshadow(2);
        .colorVar(color, --bgColor, @bgColor);
        .colorVar(background-color, --accentColor, @accentColor);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            z-index: -1;
            border-left: 3px solid darken(@accentColor, 15%);
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid darken(@accentColor, 15%);
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid darken(@accentColor, 15%);
            border-bottom: 3px solid transparent;
            border-top: 3px solid darken(@accentColor, 15%);
        }
    }
}

.imagelightbox-wrapper {

    .imagelightbox-loading {
        border-radius: @figure-radius;
        .colorVar(background-color, --accentColor, @accentColor);
    }

    .imagelightbox-nav {
        border-radius: @figure-radius;
        .colorVar(background-color, --accentColor, @accentColor);

        @media @smartphones {
            display: none;
        }
    }
}

img.b-error {
    min-height: 50px;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        height: calc(100% + 10px);
        width: 100%;
        .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
    }

    &::after {
        content: 'I am sorry, this image got eaten by the bug monster :(';
        display: block;
        color: @accentColor;
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.travel-article {

    figure {

        @media @desktop, @tablets {
            overflow: visible;
            padding: .5em 0.5em 0;
            box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
            background: linear-gradient(to bottom, #ede1c9, #fef8e2 20%, #f2ebde 60%);

            &:nth-child(1n) { transform: rotate(-1deg); }
            &:nth-child(2n) { transform: rotate(2deg); }
            &:nth-child(3n) { transform: rotate(-3deg); }
            &:nth-child(5n) { transform: rotate(4deg); }
            &:nth-child(7n) { transform: rotate(-5deg); }

            &:nth-child(1n):before { transform: rotate(-15deg); }
            &:nth-child(2n+1):before { transform: rotate(12deg); }
            &:nth-child(3n+1):before { transform: rotate(-8deg); }
            &:nth-child(5n+1):before { transform: rotate(4deg); }
            &:nth-child(7n+1):before { transform: rotate(-1deg); }

            &:nth-child(1n):before { left:15px; }
            &:nth-child(2n-1):before { left:55px; }
            &:nth-child(3n-1):before { left:75px; }
            &:nth-child(5n-1):before { left:135px; }
            &:nth-child(7n-1):before { left:195px; }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -15px;
                width: 75px;
                height: 25px;
                background-color: rgba(222,220,198,0.7);
            }
        }
    }
}
