
/**
 * Footer
 */

footer {
    position: relative;

    share-button {
        position: absolute;
        bottom: 1em;
        &:extend(.button all);
        &:extend(.button-l);
    }

    time {
        display: block;
        font-size: 0.75em;
        font-style: italic;
        text-align: center;
    }

    .to-top {
        position: absolute;
        bottom: 1em;
        &:extend(.button all);
        &:extend(.button-r);

        &:before {
            content: "^";
        }
    }
}
