/**
 * Galleries
 */

.gallery {
    column-gap: 1rem;
    column-fill: balance;

    .h2 {
        column-span: all;
    }

    .gallery__image {
        margin-bottom: 1rem;
    }

    @media @desktop {

        &-single-lg {
            columns: 1;
        }

        &-third-lg {
            columns: 3;
        }

        &-fourth-lg {
            columns: 4;
        }

        &-sixth-lg {
            columns: 6;
        }
    }

    @media @tablet {

        &-single-md {
            columns: 1;
        }

        &-half-md {
            columns: 2;
        }

        &-third-md {
            columns: 3;
        }
    }

    @media @phone {
        &-single-sm {
            columns: 1;

            figure {
                border-radius: 0;
                margin: 0 -1rem 1rem;
            }
        }

        &-half-sm {
            columns: 2;
        }
    }
}
