@gutter-width: 2rem;

.grid--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col--xs-12 {
    width: 100%;
}

.col--md-6 {
    @media @tablet {
        width: calc((100% - @gutter-width) / 2);
    }
}

.col--lg-4 {
    @media @desktop {
        width: calc((100% - @gutter-width) / 3);
    }
}
