
/**
 * Header
 */

.header {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    height: 100%;

    .bg-img {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .title {
        z-index: @z-index-1;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media @smartphones {

            .trigger::before {
                display: none;
            }
        }

        .headline1 {
            position: relative;
            padding: 0.5rem;
            background: @color_white;
            text-align: center;
            word-wrap: break-word;
        }

        .subline {
            font-size: 2.5rem;
        }

        p {
            margin: 0 auto;
        }
    }
}

.intro-effect-side {
    height: 100%;

    &:not(.notrans) .trigger {
        transition: opacity 0.3s 0.5s;
    }

    &.modify:not(.notrans) {

        .trigger {
            opacity: 0;
            pointer-events: none;
            transition-delay: 0s;
        }

        .share-btn {
            left: -3px;
            right: initial;
        }

        .to-top-btn {
            left: initial;
            right: -3px;
        }
    }

    .trigger {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 90px;
        text-align: center;
        cursor: pointer;
        color: transparent;
        background: transparent;
        border: 0;
        z-index: @z-index-2;

        .icon {
            color: black;
            width: 60px;
            margin: 0 auto;
            border-radius: 3rem;
            background-color: @menuBackground;

            &::after {
                &:extend(.icon-font-more::after);
                font-size: 4rem;
                position: relative;
                top: 0.75rem;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: @menuBackground;
            }
        }
    }

    .share-btn {
        position: fixed;
        bottom: 1em;
        right: 100%;
        &:extend(.button all);
        z-index: @z-index-5;
        .boxshadow(1);
    }

    .to-top-btn {
        position: fixed;
        bottom: 1em;
        left: 100%;
        &:extend(.button all);
        z-index: @z-index-5;
        .boxshadow(1);

        &::before {
            &:extend(.icon-font-up::after);
        }
    }
}
