
/**
 * Header
 */

.header {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    height: 100%;

    .bg-img {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;

        img {
            min-width: 100%;
            min-height: 100%;

            .no-objectfit & {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }

            .objectfit & {
                object-fit: cover;
            }
        }
    }

    &--wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: @border-thickness solid @color-transparent;
        border-radius: @figure-border-radius;
        .boxshadow(1);
        .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
        padding: 1rem;
        text-align: center;
        word-wrap: break-word;

        &.animated {
            background-color: @bgColor;
        }

        &:not(animated) {

            .headline {
                z-index: @z-index-1;
                margin: 0 auto;
                width: 100%;
                text-align: center;

                @media @phone {

                    .trigger::before {
                        display: none;
                    }
                }
            }
        }
    }


    .title:not(.animated) {

        .subline {
            text-transform: uppercase;
        }

        p {
            margin: 0 auto 0.5rem;
        }
    }
}

.intro-effect-side {
    height: 100%;

    &:not(.notrans) .trigger {
        .transform(opacity);
    }

    &.modify:not(.notrans) {

        .trigger {
            opacity: 0;
            pointer-events: none;
            transition-delay: 0s;
        }

        .share-btn {
            left: initial;
            bottom: 4rem;
        }

        .to-top-btn {
            left: initial;
            bottom: 1rem;
        }
    }

    .trigger {
        background: transparent;
        border: 0;
        color: transparent;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4rem;
        text-align: center;
        z-index: @z-index-2;
    }

    .share-btn,
    .to-top-btn {
        position: fixed;
        left: 100%;
        right: 1rem;
        z-index: @z-index-5;
    }

    .share-btn {
        color: transparent;
        width: @btn-size-l;

        &::before {
            transform: scale(0.75);
            left: 0.125rem;
            top: 0.125rem;
        }

        .sb-social {

            &.sb-left.active.sb-top {
                //left: 0.5rem;
                //top: -0.5rem;
                transform: translate(calc(-92%), -100%);
            }

            > ul > li:extend(.btn) {
                height: @btn-size-l;
                width: @btn-size-l;
                margin: 0 0.5rem;
                padding: 0;
                overflow: hidden;
            }
        }
    }
}


.animated {
    /*
    */

    h1 {
        color: black;
        text-align: center;
        font-size: 4rem;
        line-height: 3rem;
        position: relative;
        font-weight: @font-weight-bold;
        text-transform: uppercase;
        margin-top: 2rem;

        &::after {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 49%;
            color: black;
            transform: translateX(0);
            animation: fracture 5s infinite ease;
        }

        &::before {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 50%;
            color: white;
            text-shadow: 3px -2px 5px white, -3px 3px 4px white;
            text-align: center;
        }
    }
}

@keyframes fracture {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
}
