.desktop-nav {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: @z-index-3;

    @media @print {
        display: none;
    }

    a {
        border-bottom: 3px solid transparent;
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        display: block;
        font-weight: @font-weight-bold;
        font-size: @font-size-small;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .dl-menu {
        border-radius: @figure-radius;
        .colorVar(background-color, --primaryColor, @primaryColor);
        height: 1.5rem;

        .category {
            text-align: center;
            list-style: none;
            float: left;
            margin: 0 0.66em;

            &:hover,
            &.active-nav {
                opacity: 1;

                > a {
                    border-bottom: 3px solid;
                    .colorVar(border-color, --darkPrimaryColor, @darkPrimaryColor);
                }
            }

            &:hover > a {
                .colorVar(background-color, --darkPrimaryColor, @darkPrimaryColor);
            }

            > a {
                width: 100%;
                transition: background 0.3s ease-out 0s;
                padding: 0 1em;
                margin: 0;
            }

            &:hover > .dl-submenu {
                display: block;
                margin-top: 0;

                > li > a {
                    .colorVar(background-color, --primaryColor, @primaryColor);
                }
            }

            .dl-submenu {
                display: none;
                position: relative;
                left: 0;
                padding: 0;

                > li {
                    list-style: none;
                    text-align: left;
                    float: none;
                    margin: 0;
                    display: block;

                    > a {
                        width: 100%;
                        padding: 0 0.33em;
                        margin: 0;

                        &:hover {
                            .colorVar(background-color, --darkPrimaryColor, @darkPrimaryColor);
                        }
                    }
                }
            }
        }
    }
}
