.mobile-nav {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em 1em 0 0;
    perspective: 1000px;
    perspective-origin: 50% 200%;
    z-index: @z-index-3;

    @media @smartphones {
        float: none;
        left: 1em;
    }

    .hamburger {
        position: relative;
        margin-left: 252px;
        float: right;

        @media @smartphones {
            float: left;
            margin-left: 0;
        }

        &.is-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
        }

        .hamburger-box {
            height: 100%;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        transform-style: preserve-3d;
        .colorVar(background-color, --primaryColor, @primaryColor);

        li {
            list-style: none;
            position: relative;
            margin: 0;

            &:hover {
                background-color: @hover-color;
            }

            a {
                .colorVar(color, --primaryTextColor, @primaryTextColor);
                display: block;
                position: relative;
                padding: 12px;
                text-transform: uppercase;
                outline: none;
                text-decoration: none;
            }

            > a::after {
                right: 10px;
                color: rgba(0,0,0,0.15);
            }

            /* Hide the inner submenus */
            .dl-submenu {
                border-radius: 0 @figure-radius @figure-radius @figure-radius;
                display: none;
                font-size: 100%;

                @media @tablets {
                    border-radius: @figure-radius 0 @figure-radius @figure-radius;
                }
            }
        }
    }

    .dl-menu {
        margin: 54px 0 0 0;
        position: absolute;
        float: right;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.3s ease;
        backface-visibility: hidden;

        &.dl-menuopen {
            border-radius: 0 @figure-radius @figure-radius @figure-radius;
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px);
            .boxshadow(5);

            @media @tablets {
                border-radius: @figure-radius 0 @figure-radius @figure-radius;
            }
        }
    }

    /* Dynamically added submenu outside of the menu context */
    > .dl-submenu {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 54px 0 0 0;
    }

    li.dl-back > a {
        padding-left: 30px;
    }

    li.dl-back::after,
    li > a:not(:only-child)::after {
        display: block;
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        position: absolute;
        top: 0;
        line-height: 54px;
    }

    li.dl-back::after {
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        left: 10px;
        transform: rotate(180deg);
    }

    /*
    When a submenu is openend, we will hide all li siblings.
    For that we give a class to the parent menu called "dl-subview".
    We also hide the submenu link.
    The opened submenu will get the class "dl-subviewopen".
    All this is done for any sub-level being entered.
    */
    .dl-menu.dl-subview li,
    .dl-menu.dl-subview li.dl-subviewopen > a,
    .dl-menu.dl-subview li.dl-subview > a {
        display: none;
    }

    .dl-menu.dl-subview li.dl-subview,
    .dl-menu.dl-subview li.dl-subview .dl-submenu,
    .dl-menu.dl-subview li.dl-subviewopen,
    .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
    .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
        display: block;
    }

    .dl-menu.dl-subview li.dl-subview,
    .dl-menu.dl-subview li.dl-subviewopen {
        border-radius: 0 @figure-radius @figure-radius @figure-radius;

        @media @tablets {
            border-radius: @figure-radius 0 @figure-radius @figure-radius;
        }
    }

    /* Animation classes for moving out and in */

    .dl-menu.dl-animate-out-1 {
        animation: MenuAnimOut1 0.4s;
    }

    .dl-menu.dl-animate-in-1 {
        animation: MenuAnimIn1 0.3s;
    }

    > .dl-submenu.dl-animate-in-1 {
        animation: SubMenuAnimIn1 0.4s ease;
    }

    > .dl-submenu.dl-animate-out-1 {
        animation: SubMenuAnimOut1 0.4s ease;
    }
}

.no-touch .mobile-nav li a:hover {
    .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
}

/* No JS Fallback */
.no-js .mobile-nav .dl-menu {
    position: relative;
    opacity: 1;
    transform: none;
}

.no-js .mobile-nav li .dl-submenu {
    display: block;
}

.no-js .mobile-nav li.dl-back {
    display: none;
}

.no-js .mobile-nav li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .mobile-nav li > a:not(:only-child)::after {
    content: '';
}

@-webkit-keyframes MenuAnimOut1 {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut1 {
    50% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -moz-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn1 {
    0% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn1 {
    0% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut1 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut1 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}
