.mobile-nav {
    .colorVar(color, --secondaryTextColor, @secondaryTextColor);
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
    perspective: 1000px;
    perspective-origin: 50% 200%;
    z-index: @z-index-3;

    @media @phone {
        float: none;
        left: 1rem;
    }

    .hamburger {
        position: relative;
        margin-left: 252px;
        float: right;

        @media @phone {
            float: left;
            margin-left: 0;
        }

        &:hover {
            opacity: 1;
        }

        &.is-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
        }
    }

    .hamburger-box {
        height: @icon-size-m;
        width: @icon-size-m;
        top: 4px;

        .hamburger-inner {
            .colorVar(background-color, --secondaryTextColor, @secondaryTextColor);
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            .colorVar(background-color, --secondaryTextColor, @secondaryTextColor);
            width: 100%;
            height: 4px;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        transform-style: preserve-3d;
        .colorVar(background-color, --primaryColor, @primaryColor);

        li {
            list-style: none;
            position: relative;
            margin: 0;

            &:hover {
                background-color: @color-transparent;
            }

            a {
                .colorVar(color, --primaryTextColor, @primaryTextColor);
                display: block;
                outline: none;
                position: relative;
                padding: 0.5rem;
                text-transform: uppercase;
                text-decoration: none;
            }

            > a::after {
                right: 10px;
            }

            /* Hide the inner submenus */
            .dl-submenu {
                border-radius: 0 @figure-border-radius @figure-border-radius @figure-border-radius;
                display: none;

                @media @tablet {
                    border-radius: @figure-border-radius 0 @figure-border-radius @figure-border-radius;
                }
            }
        }
    }

    .dl-menu {
        margin: 2.5rem 0 0 0;
        position: absolute;
        float: right;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        .transform(opacity);
        backface-visibility: hidden;

        &.dl-menuopen {
            border-radius: 0 @figure-border-radius @figure-border-radius @figure-border-radius;
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px);
            .boxshadow(5);

            @media @tablet {
                border-radius: @figure-border-radius 0 @figure-border-radius @figure-border-radius;
            }
        }
    }

    /* Dynamically added submenu outside of the menu context */
    > .dl-submenu {
        left: 0;
        margin: 2.5rem 0 0 0;
        position: absolute;
        width: 100%;
    }

    li.dl-back > a {
        padding-left: 2.5rem;
    }

    li.dl-back::after,
    li > a:not(:only-child)::after {
        .colorVar(color, --primaryTextColor, @primaryTextColor);
        display: block;
        font-size: @font-size-m;
        position: absolute;
        top: 8px;
    }

    li.dl-back::after {
        transform: rotate(180deg);
        top: 10px;
    }

    /*
    When a submenu is openend, we will hide all li siblings.
    For that we give a class to the parent menu called "dl-subview".
    We also hide the submenu link.
    The opened submenu will get the class "dl-subviewopen".
    All this is done for any sub-level being entered.
    */
    .dl-menu.dl-subview li,
    .dl-menu.dl-subview li.dl-subviewopen > a,
    .dl-menu.dl-subview li.dl-subview > a {
        display: none;
    }

    .dl-menu.dl-subview li.dl-subview,
    .dl-menu.dl-subview li.dl-subview .dl-submenu,
    .dl-menu.dl-subview li.dl-subviewopen,
    .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
    .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
        display: block;
    }

    .dl-menu.dl-subview li.dl-subview,
    .dl-menu.dl-subview li.dl-subviewopen {
        border-radius: 0 @figure-border-radius @figure-border-radius @figure-border-radius;

        @media @tablet {
            border-radius: @figure-border-radius 0 @figure-border-radius @figure-border-radius;
        }
    }

    /* Animation classes for moving out and in */

    .dl-menu.dl-animate-out-1 {
        animation: MenuAnimOut1 0.4s;
    }

    .dl-menu.dl-animate-in-1 {
        animation: MenuAnimIn1 0.3s;
    }

    > .dl-submenu.dl-animate-in-1 {
        animation: SubMenuAnimIn1 0.4s ease;
    }

    > .dl-submenu.dl-animate-out-1 {
        animation: SubMenuAnimOut1 0.4s ease;
    }
}

.no-touch .mobile-nav li a:hover {
    .colorVar(background-color, --lightPrimaryColor, @lightPrimaryColor);
}

/* No JS Fallback */
.no-js .mobile-nav .dl-menu {
    position: relative;
    opacity: 1;
    transform: none;
}

.no-js .mobile-nav li .dl-submenu {
    display: block;
}

.no-js .mobile-nav li.dl-back {
    display: none;
}

.no-js .mobile-nav li > a:not(:only-child) {
    background: rgba(0, 0, 0, 0.1);
}

.no-js .mobile-nav li > a:not(:only-child)::after {
    content: '';
}

@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }

    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimIn1 {

    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }

    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {

    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimOut1 {

    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}
