
/**
 * Galleries
 */

.gallery_article {

    figure {
        display: inline-block;
        margin: 0 0 1em 0;
        vertical-align: top;
    }

    .wide {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    .gallery_article {

        .normal {
            width: 48%;
            margin-right: 2%;
        }

        .quader {
            width: 48%;
            margin-right: 2%;
        }

        .skyscraper {
            width: 23%;
            margin-right: 2%;
        }

        .normal:nth-child(2n),
        .quader:nth-child(2n),
        .skyscraper:nth-child(4n),
        .wide:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .gallery_article {
        float: left;

        figure {
            width: 32%;
            margin-right: 0.8%;
        }

        .normal {
            width: 48%;
            margin-right: 2%;
        }
        .skyscraper {
            width: 19%;
            margin-right: 0.5%;
        }

        .normal:nth-child(2n),
        .skyscraper:nth-child(5n) {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 767px) {

    .gallery_article {

        figure {
            width: 48%;

            :nth-of-type(odd) {
                margin-right: 2%;
            }
        }
        .normal {
            width: 100%;
        }
        .skyscraper {
            width: 31%;
            margin-right: 1.5%;

            :nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
