@import (less) "../../bower_components/slick-carousel/slick/slick.css";
@import (less) "../../bower_components/slick-carousel/slick/slick-theme.css";

.slider-element {
    margin: 1.5rem auto;
    width: 100%;

    .btn-slick-next,
    .btn-slick-prev {
        font-size: @font-size-large;
        position: absolute;
        .vertical-align();
        z-index: @z-index-4;
    }

    .btn-slick-next::after,
    .btn-slick-prev::after {
        color: @primaryTextColor;
    }

    .btn-slick-next {
        right: 0;

        &::after {
            content: '❯';
        }
    }

    .btn-slick-prev {
        left: 0;

        &::after {
            content: '❮';
        }
    }

    .slider-for {
        background-color: rgba(0,0,0,0.5);
        padding: 0 3rem;
        margin-bottom: 1rem;

        .slider-img {
            float: right;
            width: 50%;
        }

        .slider-text {
            float: left;
            color: white;
            padding: 10px;
            width: 50%;
        }
    }

    .slider-nav {
        display: flex;

        .slick-track {
            width: 100%;
        }

        .slick-slide {
            margin: 0 1rem 0 0;
        }
    }
}
