@import '~tiny-slider/dist/tiny-slider.css';

.slider-element {
    margin: 1.5rem auto;
    width: 100%;

    .btn-slick-next,
    .btn-slick-prev {
        position: absolute;
        .vertical-align();
        z-index: @z-index-4;
    }

    .btn-slick-next::after,
    .btn-slick-prev::after {
        color: @primaryTextColor;
    }

    .btn-slick-next {
        right: 0;

        &::after {
            content: '❯';
        }
    }

    .btn-slick-prev {
        left: 0;

        &::after {
            content: '❮';
        }
    }

    .slider-for {
        background-color: @color-transparent;

        .slider-img {
            float: right;
            width: 50%;
        }

        .slider-text {
            float: left;
            color: white;
            padding: 1rem;
            width: 50%;
        }
    }

    .slider-nav {
        display: flex;

        .img_carousel {
            margin: 0 1rem 0 0;
            height: @btn-size-l;
            width: @btn-size-l;
        }
    }
}
