@import (less) "../../bower_components/slick-carousel/slick/slick.css";

@import (less) "../../bower_components/slick-carousel/slick/slick-theme.css";

.slider-element {
    margin: 0 auto 20px;
    max-width: 480px;

    .normal-p {
        background-color: rgba(0,0,0,0.5);
        color: white;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .btn-slick-next,
    .btn-slick-prev {
        position: absolute;
        .vertical-align();
        z-index: @z-index-4;
    }

    .btn-slick-next::after,
    .btn-slick-prev::after {
        color: @primaryTextColor;
    }

    .btn-slick-next {
        right: -60px;
    }

    .btn-slick-prev {
        left: -60px;
    }

    .slider-for {
        margin-bottom: 20px;

        img {
            height: auto;
            max-width: 480px;
        }
    }

    .img_carousel {
    }
}
